ngui-map {
  display: block;
  height: 400px !important;
}
  textarea, input {
    padding:10px;
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
  }

.phone-icon{
  color: black;
  border: 1px solid #fff;
  background-color: #fff;
  padding: 1px 3px;
  border-radius: 4px;
}
.success-message{
  font-size: 20px;
  color: green;
}
.short-logo-img{
  position: absolute;
  margin-left: -55px;
}