<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<!-- <app-header></app-header> -->
<div id="main-header"> <app-header></app-header></div>
<div>
  <img class="star-search-banner" src="assets/images/contact-banner.jpg" alt="contact-banner" />
</div>
<div class="container contact-container">
  <div class="col-xs-12 col-sm-12 welcome-box ">
    <h3 class="star-search-heading">Contact our Unique Talent Marketplace at FutureStarr.com</h3>
    <p style="margin-bottom:30px">Our friendly team can be reached Monday through Friday, from 9 am to 7 pm, Eastern time, Just fill out the contact form
      and click the button
      <br /> below to contact us.
    </p>
    <!-- <span id = "success-message" *ngIf = "successFlag" class = "success-message" >Thank You! {{ user_name }} for your query, we will back to you soon. </span>
    <div *ngIf = "successFlag" ><br /> </div> -->
  </div>
  <div class="row">
    <div class="listing-box">
      <div class="col-sm-6 col-xs-12" style="padding-right:0;padding-left:0">
        <!-- <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng" [title]="title"></agm-marker>
        </agm-map> -->
        <!-- <ngui-map zoom="16" center="33.958501, -84.304254">
          <marker position="33.958501, -84.304254" (geoFallbackPosition)="[33.958501,-84.304254]"
            draggable="false"></marker>
        </ngui-map> -->
        <!-- <ngui-map zoom="16" center="22.7196,75.8577">
          <marker [position]="[22.7196, 75.8577]" [geoFallbackPosition]="[22.7196,75.8577]"
          draggable="false"></marker>
          </ngui-map> -->
          <div #gmap style="width:100%;height:400px"></div>

      </div>
      
      <div class="col-sm-6 col-xs-12 listingttl contact-form">
        <div>
          <h2>Get In Touch</h2>
           <img class="short-logo-img" src="assets/images/icons/futurelogo-short.png" alt="futurestarr">
          <span style = "font-size: 10px; color:#fff;"> FUTURESTARR MEDIA LLC.</span><br />
          <span class = "contact-number"><i class="fa fa-phone phone-icon" aria-hidden="true"></i>
            (800) 667-4919</span>

             <!-- Error messages -->
             <div>
                <span class = "form-error" *ngIf = "(name.errors?.required && name.touched || myemail.errors?.required && myemail.touched || phone.errors?.required && phone.touched || message.errors?.required && message.touched ) && !(myemail.errors?.pattern  ||  name.errors?.pattern || phone.errors?.pattern) " > Please fill out all mandatory fields!</span>
                <span class = "form-error" *ngIf = "(myemail.errors?.pattern ) ||  (name.errors?.pattern) || (phone.errors?.pattern) "> Invalid Entry!</span>
            </div>
          <div class = "contact-form-fields">

          <form novalidate #contact="ngForm" (ngSubmit)="contactQuery(contact)">
            <!-- contact -->
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-8">
                <div class="form-group" [ngClass]="{'has-error': name.errors?.required && name.touched || name.errors?.pattern }">
                  <input type="text" class="form-control" name="name" [(ngModel)]="contact.name" #name="ngModel" required pattern="[a-zA-Z ]*"
                    placeholder="&#xf007; Name">
                  <!-- <div class="alert alert-danger text-danger" *ngIf="name.errors?.required && name.touched">Your Name is required</div>  -->
                  <!-- <div class="alert alert-danger" *ngIf="name.errors?.pattern && name.touched">Only alphabets allowed</div>  -->
                </div>
              </div>
              <div class="col-sm-2">

              </div>
            </div>
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-8">
                <div class="form-group" [ngClass]="{'has-error': myemail.errors?.required && myemail.touched || myemail.errors?.pattern  }">
                  <input type="email" class="form-control" name="email" [(ngModel)]="contact.email" #myemail="ngModel" required pattern="([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA])+$"
                    placeholder="&#xf0e0; Email">
                  <!-- <div class="alert alert-danger" *ngIf="myemail.errors?.required && myemail.touched">Email is required</div> -->
                  <!-- <div class="alert alert-danger" *ngIf="myemail.errors?.pattern && myemail.touched">Invalid Email</div> -->
                </div>
              </div>
              <div class="col-sm-2"></div>
            </div>
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-8">
                <div class="form-group" [ngClass]="{'has-error': phone.errors?.required && phone.touched || phone.errors?.pattern }">
                  <input type="text" class="form-control" name="phone" [(ngModel)]="contact.phone" #phone="ngModel" required pattern="^[0-9]*$"
                    placeholder="&#xf095; Phone Number">
                  <!-- <div class="alert alert-danger" *ngIf="phone.errors?.required && phone.touched">Phone number is required</div> -->
                </div>
              </div>
              <div class="col-sm-2"></div>
            </div>
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-8">
                <div class="form-group" [ngClass]="{'has-error': message.errors?.required && message.touched }">
                 <textarea class="form-control"  name="message" [(ngModel)]="contact.message" #message="ngModel" placeholder="&#xf044; Message" required > </textarea>
                </div>
              </div>
              <div class="col-sm-2"></div>
            </div>
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-8">
                <div class="form-group">
                  <button id = "send" class="btn btn-danger" [disabled]="!contact.valid" type="submit" style="background-color:#c9302c;">SEND</button>
                </div>
              </div>
              <div class="col-sm-2"></div>
            </div>
          </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

  <div class="">
        <button class="go-back-btn" (click)="goBack()" id="backBtn" title="Go to back">
            <i class="fa fa-chevron-left"></i>
        </button>

        <button (click)="topFunction()" id="myBtn" title="Go to top">
            <i class="fa fa-chevron-up"></i></button>
  </div>
  <div id="main-footer"> <app-footer></app-footer></div>
