<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div>
  <img class="star-search-banner" title="star-search" src="assets/images/star-search/starr-search-banner.jpg" alt="banner" />
</div>
<div class="">
  <div *ngIf = "categoryResponse" class="container categories-container">

    <div class="col-xs-12 col-sm-12 welcome-box">

      <h1 class="star-search-heading">Welcome to the #1 Online Talent Marketplace</h1>
      <p style="margin-bottom:30px">If you have an active social media presence with Tweets, Facebook Pages, and ads, but not accumulating any followers.
          Or, if your Instagram uploads are not getting you much awaited and desired audiences… It’s time for you to try something new and
          Sign up with Future Starr. Future Stars is a premier talent marketing platform which enables creative talents across the globe to
          share, showcase, and sell their passion through innovative ways. Whether you are fitness trainer wanting to sell your workout videos
          or nutrition plans, or a stellar artist in search of your passionate audience, or a local author with a mission to raise a platform
          for your writings or lectures, our Starr Search feature will help you promote and market your talent and be found by one and all.
          Future Starr is an online talent distribution platform where you can promote and turn your talent aspirations into a full-time career.
        <!-- <a routerLink="/register">Sign up today!</a> -->
      </p>
        <p *ngIf="!currentUser"><a role="button" (click)="purchaseTalent()" data-toggle="tooltip" title="Sign up">Sign up today!</a></p>
    </div>
    <div class="row star-search-categories" *ngFor="let i of categoryResponse.category | paginate: { itemsPerPage: 6, currentPage: p } let in = index">
      <div class="listing-box">
        <div class="hidden-xs" *ngIf="in == 1 || in%2 != 0">
          <img class="col-sm-6 col-xs-12 hover-images category-image" title="{{ i.name }}" alt="{{ i.name }}" [src]="i.new_category_banner" />
        </div>
        <div class="col-sm-6 col-xs-12 category-text listingttl">
          <div class="img-box visible-xs">
            <img class="hover-images" alt="{{ i.name }}" [src]="i.new_category_banner" align="middle" />
          </div>
           <div class="category-desc">
            <h2 class="star-search-category-title"> {{ i.name }} </h2>
              <p innerHTML="{{ i.short_desc }}"></p>
              <br />
              <br />
              <a class="generic-button read-more-btn" [routerLink]="['/star-search/about', i.id ]">Read More</a>
          </div>

        </div>
        <div *ngIf="in ==0 || in%2 == 0" class="hidden-xs">
          <img class="col-sm-6 col-xs-12 hover-images category-image" alt="{{ i.name }}" title="{{ i.name }}" [src]="i.new_category_banner" />
        </div>
      </div>
    </div>
    <div *ngIf="categoriesCount > 0" class="pagination-row">
        <div>
          <pagination-controls previousLabel="" nextLabel="" (click)="topFunction()" (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
  </div>
</div>


    <div class="">
        <button class="go-back-btn" (click)="goBack()" id="backBtn" title="Go to back">
            <i class="fa fa-chevron-left"></i>
        </button>

        <button (click)="topFunction()" id="myBtn" title="Go to top">
            <i class="fa fa-chevron-up"></i></button>
    </div>

<!-- buy your talent modal -->
<div class="modal-ask-to-login fade" id="askToJoinAsBuyer" role="dialog">
    <div class="modal-dialog">
        <form>
            <!-- Modal content-->
            <div class="ask-to-login">
                <div class="modal-body">
                    <br />
                    <h3 class="ask-register"> To use this feature please register as Buyer or Seller. <br /> <small>By clicking Register, you will be logged out from your current account. </small></h3>
                    <!-- <i class="fa fa-circle-o-notch fa-spin"></i> -->
                </div>
                <div class="modal-footer ">
                    <button type="submit" class="btn btn-danger" data-dismiss="modal" (click) = "goToRegister()" >REGISTER</button>
                    <button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- end of buy your talent modal -->

<!-- ASK TO LOGIN -->
<div class="modal-ask-to-login fade" id="askToLogin" role="dialog">
    <div class="modal-dialog">
        <form>
            <!-- Modal content-->
            <div class="ask-to-login">
                <div class="modal-body">
                    <div class="form-group text-spinner">

                        <h3 class="deleteConfirmation">Please login to use this feature! </h3>
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
