<div class="col-sm-8">
    <!-- <h3>Change Password <a class=" btn h-previous h-round" (click)="goBack()"><i class="h-cruser fa fa-angle-left"></i></a></h3> -->


    <!--<div class="well panel panel-danger panel-m" *ngIf="message && message.length>0">-->
    <div class="panel-body">
        <div class="well panel panel-danger">
            <div class="panel-body">
                <h3 class="change-pwd-heading">Change Password </h3>

                <hr style="margin-top:21">
                <form novalidate #userPass="ngForm" (ngSubmit)="changePassword(user)">
                    <div class="form-group">
                        <label for="currentpassword">Current Password</label>
                        <input type="password" class="form-control" name="pass" [(ngModel)]="user.pass" #mypass="ngModel" value="currPass==true"
                            (ngModelChange)="onSelect(user.pass)" required placeholder="Current Password" />
                        <div class="alert alert-danger" *ngIf="mypass.errors?.required && mypass.touched">Password is required</div>
                        <!-- <div class="alert alert-danger" *ngIf="mypass.errors?.value && mypass.touched">Enter valid password</div> -->
                    </div>

                    <div class="form-group">
                        <label for="newpassword">New Password</label>
                        <!-- <input type="password" class="form-control" name="newpassword" [(ngModel)]="user.newpassword" #mynewpass="ngModel" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}"
                           placeholder="New Password"/> -->
                        <input type="password" class="form-control" name="newpassword" [(ngModel)]="user.newpassword" #mynewpass="ngModel" required
                            placeholder="New Password" />
                        <div class="alert alert-danger" *ngIf="mynewpass.errors?.required && mynewpass.touched">New password
                            is required</div>
                        <!-- <div class="alert alert-danger" *ngIf="mynewpass.errors?.pattern && mynewpass.touched">8 characters or longer. Combine upper and lower case letters and numbers</div> -->
                        <span class="text-danger" *ngIf="(user.newpassword + '').length < 6 && mynewpass.touched">Minimum
                            length of 6 is required</span>
                    </div>

                    <div class="form-group">
                        <label for="confirmpassword">Confirm Password</label>
                        <input type="password" class="form-control" name="confirmpassword" [(ngModel)]="user.confirmpassword" #myconfirmpass="ngModel"
                             required placeholder="Confirm Password"
                        />
                        <div class="alert alert-danger" *ngIf="myconfirmpass.errors?.required && myconfirmpass.touched">Confirm
                            password is required</div>
                        <!-- <div class="alert alert-danger" *ngIf="myconfirmpass.errors?.pattern && myconfirmpass.touched">8
                            characters or longer. Combine upper and lower case letters and numbers</div> -->
                        <span class="text-danger" *ngIf="user.confirmpassword !== user.newpassword && myconfirmpass.touched || myconfirmpass.errors?.required && myconfirmpass.touched">Password
                            not matched</span>
                    </div>
                    <!-- <p class="p-text">8 characters or longer. Combine upper and lower case letters and numbers.</p> -->


                    <div class="btn-ads">
                        <button type="submit" class="btn btn-danger" [disabled]="!(user.pass && user.newpassword && user.confirmpassword || (user.newpassword == user.confirmpassword))">SAVE</button>
                        <!--<button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>-->
                    </div>

                </form>
            </div>
        </div>

    </div>
    <!--</div>-->
</div>

<div class="">
    <button class="go-back-btn" (click)="goBack()" id="backBtn" title="Go to back">
        <i class="fa fa-chevron-left"></i>
    </button>

    <button (click)="topFunction()" id="myBtn" title="Go to top">
        <i class="fa fa-chevron-up"></i></button>
</div>