
.well {
    background-color: #fff;
}

.icon-c {
    text-align: center;
    padding: 20px 0;
}

.img-c {
    width: 125px;
    height:110px;
}

h3 {
    margin-top: 0;
    margin-left: 20px;
}

.btn-danger {
    padding: 6px 18px !important;
    font-size: 12px !important;
}

/*//back button css*/

/*.h-previous:hover {*/
    /*background-color: #ddd;*/
    /*color: black;*/
/*}*/

/*.h-previous {*/
    /*background-color: #ff503f;*/
    /*color: white;*/
    /*float: right;*/
    /*margin-right: 20px;*/
    /*text-decoration: none;*/
    /*display: inline-block;*/
    /*padding: 2px 10px;*/
/*}*/

/*.h-round {*/
    /*border-radius: 50%;*/
/*}*/

/*.h-cruser {*/
    /*text-align: center;*/
/*}*/

label {
    margin-bottom:5px;
}

.text-col {
    color: #ff503f;
    font-weight: 600;
}