<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<h3>Sales  <a class=" btn h-previous h-round" (click)="goBack()"><i class="h-cruser fa fa-angle-left"></i></a></h3>


<div class="" style="margin-top:20px">
    <div class="row">
        <div class="col-sm-6">
        <div class="well" >
            <span class="">Daily Sales <span class="text-col">{{ sales.daily_sale }}</span></span>
            <div class="icon-c">
                <img class="img-c" src="assets/images/sales.png" />
            </div>

        </div>
    </div>

    <div class="col-sm-6">
        <div class="well">
            <span class="sale-t">Today's Revenue: <span class="text-col">$ {{ sales.daily_revenue }}</span></span>
            <div class="icon-c">
                <img class="img-c" src="assets/images/today-revenue.png" />
            </div>
        </div>
    </div>
    </div>

    <div class="row">
         <div class="col-sm-6">
        <div class="well">
             <span class="sale-t">Downloads <span class="text-col">{{ sales.total_downloads }}</span></span>
             <div class="icon-c">
                <img class="img-c" src="assets/images/download.png" />
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="well">
             <span class="sale-t">Total Revenue <span class="text-col">$ {{ sales.total_revenue }}</span></span>
             <div class="icon-c">
                <img class="img-c" src="assets/images/total-revenue.png" />
            </div>
        </div>
    </div>
    </div>



</div>

   <div class="">
        <button class="go-back-btn" (click)="goBack()" id="backBtn" title="Go to back">
            <i class="fa fa-chevron-left"></i>
        </button>

        <button (click)="topFunction()" id="myBtn" title="Go to top">
            <i class="fa fa-chevron-up"></i></button>
  </div>




