<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<h3>Account Summary

</h3>

<div *ngIf="user && user.length>0">
    <!--<form novalidate #sellerUser="ngForm" (ngSubmit)="editProducts(user)">-->

    <div class="well panel panel-danger" style="margin:20px;">

        <div class="modal-header">
            <h4 class="modal-h">Account Summary </h4>
        </div>


        <div class="panel-body">

            <form novalidate #userSummary="ngForm" (ngSubmit)="editProfile(user)">


                <!--<div *ngIf="user.valid">-->

                <div class="form-group">
                    <label for="">Profile Image</label>

                    <div class="file-upload">
                        <div class="file-select">
                            <div class="file-select-button" id="fileName">Browse</div>
                            <div *ngIf="imageUploader.queue.length<1 && !this.profileImage" class="file-select-name" id="noFile">No file selected
                            </div>
                            <span *ngIf="imageUploader.queue.length<1"> {{this.profileImage }} </span>

                            <div *ngIf="imageUploader.queue.length>0" class="file-select-name" id="noFile">
                                <span *ngFor="let item of imageUploader.queue">
                                    <span>{{item.file.name}} </span>
                                    <!--<a href="javascript:;" (click)="item.remove()"><i class="fa fa-remove"></i></a>-->
                                </span>
                            </div>
                            <input type="file" id="chooseFile" name="profile_pic" ng2FileSelect [uploader]="imageUploader">

                        </div>

                        <ul class="file-list">
                            <li *ngIf="imageUploader.queue.length<1"> {{this.profileImage }} </li>
                            <li *ngFor="let item of imageUploader.queue">
                                <span>{{item.file.name}} </span>
                                <a href="javascript:;" (click)="item.remove()">
                                    <i class="fa fa-remove"></i>
                                </a>
                            </li>
                        </ul>
                    </div>


                </div>





                <!-- image uplaoder -->
                <!--<div class="drop-area">-->
                <!--<label class="error" for="">Upload Images</label>-->

                <!--<div class="dash-bdr">-->
                <!--<div class="text-center" ng2FileDrop [uploader]="imageUploader">-->
                <!--<div class="form-group image-drop">-->
                <!--<p for="image" class="dropzone">Drop image in this area for upload <br> or</p>-->
                <!--<button type="button" class="btn btn-danger">Select Images-->
                <!--<input type="file" class="hide_button" name="profile_pic" ng2FileSelect [uploader]="imageUploader" >-->
                <!--</button>-->
                <!--<p style="margin-top:10px;">Maximum file size: 8 MB</p>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div>-->
                <!--<ul class="file-list">-->
                <!--<li *ngFor="let item of imageUploader.queue">-->
                <!--<span>{{item.file.name}}</span>-->
                <!--<a href="javascript:;" (click)="item.remove()"><i class="fa fa-remove"></i></a>-->
                <!--&lt;!&ndash; <div class="progress-bar" role="progressbar" style="width:100%">{{item.progress}} %</div> &ndash;&gt;-->
                <!--</li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--<div class="clearfix"></div>-->
                <!--</div>-->



                <div class="form-group f-g-margin" *ngIf="user[0].email">
                    <label for="email" >Email</label>
                    <input type="email" class="form-control" name="email" [(ngModel)]="user[0].email" #email="ngModel" placeholder="abc@example.com"
                    />
                    <div class="alert alert-danger" *ngIf="email.errors?.pattern && email.touched">This field is required</div>
                </div>
               
                <div class="form-group f-g-margin" *ngIf="!user[0].email">
                        <label for="email" >Email</label>
                        <input type="email" class="form-control" name="email" [(ngModel)]="user[0].email" #email="ngModel" placeholder="abc@example.com"
                        />
                        <div class="alert alert-danger" *ngIf="email.errors?.pattern && email.touched">This field is required</div>
                    </div>
                   

                <div class="form-group">
                    <label for="">Profile Completeness</label>

                    <div class="progress">
                        <div class="progress-bar" [style.width]=" currentPercentage+ '%'" role="progressbar" [attr.aria-valuenow]="currentPercentage"
                            aria-valuemin="0" aria-valuemax="100">
                            <span>{{currentPercentage}}%</span>
                        </div>
                    </div>
                </div>



                <div class="btn-ads">
                    <button type="submit" class="btn btn-danger" [disabled]="!user[0].email">SAVE</button>
                    <!--<button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>-->
                </div>
                <!--</div>-->

            </form>
        </div>
    </div>


    <div class="well panel panel-danger" style="margin:20px;">

        <div class="modal-header">
            <h4 class="modal-h">Contact Info</h4>
        </div>

        <div class="panel-body">
            <form novalidate #userContact="ngForm" (ngSubmit)="editProfile(user)">
                <!--<form novalidate #user="ngForm" (ngSubmit)="editContact(user)">-->
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                    <label for="name">First Name</label>
                                    <input type="text" class="form-control" name="first_name" [(ngModel)]="user[0].first_name" #myusername="ngModel" required placeholder="First Name"
                                    />
                                    <div class="alert alert-danger" *ngIf="myusername.errors?.required && myusername.touched">This field is required</div>
                                </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                    <label for="name">Last Name</label>
                                    <input type="text" class="form-control" name="last_name" [(ngModel)]="user[0].last_name" #last_name="ngModel" required placeholder="Last Name"
                                    />
                                    <div class="alert alert-danger" *ngIf="last_name.errors?.required && last_name.touched">This field is required</div>
                                </div>
                    </div>
                </div>
                <!--<div class="alert alert-danger" *ngIf="username.errors?.required && username.touched">Username or Email is required</div>-->


                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" name="address" [(ngModel)]="user[0].address" placeholder="Address" />
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" class="form-control" name="phone" [(ngModel)]="user[0].phone" #myphone="ngModel" required placeholder="+1234567890"/>
                    <div class="alert alert-danger" *ngIf="myphone.errors?.required && myphone.touched">This field is required</div>
                </div>

                <div class="btn-ads">
                    <button type="submit" class="btn btn-danger" [disabled]="!(user[0].username && user[0].phone)">SAVE</button>
                    <!--<button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>-->
                </div>

            </form>
        </div>
    </div>


    <div class="well panel panel-danger" style="margin:20px;">

        <div class="modal-header p-m">
            <h4 class="modal-h">Profile</h4>
        </div>

        <div class="panel-body">
            <form novalidate #userProfile="ngForm" (ngSubmit)="editProfile(user)">
                <!--<form novalidate #user="ngForm" (ngSubmit)="editProfile(user)">-->

                <div class="form-group">
                    <label for="visibilty">Visibilty</label>
                    <select class="form-control" name="visibilty" [(ngModel)]="user[0].visibilty" (input)="changeVisibilty($event)">
                        <option *ngFor="let v of visibiltyType" value={{v}}>{{v}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="experience">Experience Level</label>
                    <select class="form-control" name="experience" [(ngModel)]="user[0].experience_level" (input)="changeExp($event)">
                        <option *ngFor="let e of expType" value={{e}}>{{e}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Display Name</label>
                    <input type="text" class="form-control" name="display_name" [(ngModel)]="user[0].display_name" #myname="ngModel" placeholder="Display Name"
                        required/>
                    <div class="alert alert-danger" *ngIf="myname.errors?.required && myname.touched">This field is required</div>
                </div>

                <div class="btn-ads">
                    <button type="submit" class="btn btn-danger" [disabled]="(!user[0].visibilty && !user[0].display_name)">SAVE</button>
                    <!--<button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>-->
                </div>
            </form>
        </div>
    </div>

    <!--</form>-->

</div>


<div>

    <div class="well panel panel-danger panel-m">

        <div class="modal-header">
            <h4 class="modal-h">Social Media </h4>
        </div>

        <div class="panel-body">
            <!--<form novalidate #user="ngForm" (ngSubmit)="editSocialMedia(user)">-->
            <form novalidate #socialInfo="ngForm" (ngSubmit)="editSocialAccount(social)">
                <div class="form-group">
                    <label for="facebook">Facebook</label>
                    <input type="text" class="form-control" name="facebook_link" [(ngModel)]="social.facebook_link" #Facebook="ngModel" placeholder="www.facebook.com"
                    />
                </div>
                <div class="form-group">
                    <label for="twitter">Twitter</label>
                    <input type="text" class="form-control" name="twitter_link" [(ngModel)]="social.twitter_link" #Twitter="ngModel" placeholder="www.twitter.com"
                    />
                </div>
                <div class="form-group">
                    <label for="instagram">Instagram</label>
                    <input type="text" class="form-control" name="insta_link" [(ngModel)]="social.insta_link" #Instagram="ngModel" placeholder="www.instagram.com"
                    />
                </div>

                <div class="btn-ads">
                    <button type="submit" class="btn btn-danger">SAVE</button>
                    <!--<button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>-->
                </div>

            </form>
        </div>
    </div>

</div>


   <div class="">
        <button class="go-back-btn" (click)="goBack()" id="backBtn" title="Go to back">
            <i class="fa fa-chevron-left"></i>
        </button>

        <button (click)="topFunction()" id="myBtn" title="Go to top">
            <i class="fa fa-chevron-up"></i></button>
  </div>
