<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div *ngIf="categoryInfo.category_info">
    <img class="star-search-banner" [src]="categoryInfo.category_info[0].new_category_detailed_banner" alt="banner" />
</div>
<div class="">
    <div *ngIf="categoryInfo.category_info">
        <div class="col-sm-6 col-xs-12 padding-0">
            <div class="hidden-xs about-category-img">
                <img class="hover-images" style="width: 100%;height: 100%;" [src]="categoryInfo.category_info[0].new_category_banner" />
            </div>
            <div class="visible-xs about-category-img-xs">
                <img class="hover-images" style="width: 100%;height: 100%;" [src]="categoryInfo.category_info[0].new_category_banner"
                />
            </div>
        </div>
        <div class="col-sm-6 col-xs-12 padding-0">
            <div class="hidden-xs category-info-scroll " id="style-4">
                <div class="category-info-text category-read-more">
                    <h1 class="seller-name-of-procuts-uppercase"> {{ categoryInfo.category_info[0].name }} </h1>
                    <br />
                    <p innerHTML="{{categoryInfo.category_info[0].category_desc}}">  </p>
                    <br />
                    
                    <div class="hidden-xs category-action-button">
                        <button class=" btn-md support-talent-button" (click)="purchaseTalent()">PURCHASE NEW TALENT</button>
                        <button class=" btn-md sell-talent-button" (click)="sellTalent()">SELL YOUR TALENT</button>
                        <br />
                    </div>
                </div>
                
                <div class="visible-xs mobile-view-buttons-category-detailed">
                    <a class="generic-button" (click)="purchaseTalent()">PURCHASE NEW TALENT</a>
                    <a class="generic-button" (click)="sellTalent()">SELL YOUR TALENT</a>

                </div>
            </div>
            <div class="visible-xs category-info-scroll-xs " id="style-4">
                <div class="category-info-text category-read-more">
                    <h1 class="seller-name-of-procuts-uppercase"> {{ categoryInfo.category_info[0].name }} </h1>
                    <br />
                    <p innerHTML="{{categoryInfo.category_info[0].category_desc}}">  </p>
                    <br />
                    
                    <div class="hidden-xs category-action-button">
                        <button class=" btn-md support-talent-button" (click)="purchaseTalent()">PURCHASE NEW TALENT</button>
                        <button class=" btn-md sell-talent-button" (click)="sellTalent()">SELL YOUR TALENT</button>
                        <br />
                    </div>
                </div>
                
                <div class="visible-xs" style="height: max-content !important;"> 
                    <div class="row">
                        <div class="col-sm-6 col-xs-12 text-center" style="height: 32px !important;">
                            <a class="generic-button" (click)="purchaseTalent()">PURCHASE NEW TALENT</a>
                        </div>
                        <div class="col-sm-6 col-xs-12 text-center" style="height: 32px !important;">
                            <a class="generic-button" (click)="sellTalent()">SELL YOUR TALENT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-12" ></div>
        <div class="col-lg-4 col-md-4 col-xs-12 text-center" >
            <div class="text-center share-category "> 
                <h6>SHARE IT ON</h6>
                <ul class="social-icon-category">
                    <li>
                        <a class="cursor-pointer social-btn-facebook modal-btn btn-bg" shareButton="facebook" [sbUrl]="repoUrl" data-toggle="tooltip" title="Facebook">
                            <i class="fa fa-facebook"> </i>
                            <!-- <span class="separator"></span> FACEBOOK -->
                        </a>
                        <!-- <a class="cursor-pointer" data-toggle="tooltip" title="Facebook" shareButton="facebook" [sbUrl]="repoUrl" >
                            <i class="fa fa-facebook"></i>
                        </a> -->
                    </li>
                    <li>
                        <a class="cursor-pointer social-btn-twitter modal-btn btn-bg" shareButton="twitter" [sbUrl]="repoUrl" data-toggle="tooltip" title="Twitter" >
                            <i class="fa fa-twitter"></i>
                            <!-- <span class="separator"></span> TWITTER -->
                        </a>
                        <!-- <a class="cursor-pointer" data-toggle="tooltip" title="Twitter" shareButton="twitter" [sbUrl]="repoUrl" >
                            <i class="fa fa-twitter"></i>
                        </a> -->
                    </li>
                    <li>
                        <a class="cursor-pointer social-btn-instagram modal-btn btn-bg" shareButton="google" [sbUrl]="repoUrl" data-toggle="tooltip" title="Google" >
                            <i class="fa fa-google-plus"></i>
                            <!-- <span class="separator"></span> GOOGLE + -->
                        </a>
                        <!-- <a class="cursor-pointer" data-toggle="tooltip" title="Google" shareButton="googleplus" [sbUrl]="repoUrl">
                            <i class="fa fa-google-plus"></i>
                        </a> -->
                    <li>
                        <a class="cursor-pointer social-btn-linkedin modal-btn btn-bg" shareButton="linkedin" [sbUrl]="repoUrl" data-toggle="tooltip" title="LinkedIn">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                            <!-- <span class="separator"></span> LINKEDIN -->
                        </a>
                        <!-- <a class="cursor-pointer" data-toggle="tooltip" title="LinkedIn" shareButton="linkedin" [sbUrl]="repoUrl">
                            <i class="fa fa-linkedin"></i>
                        </a> -->
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12" ></div>
    </div>
</div>

<img *ngIf="categoryInfo.category_info" class="circular-image" [src]="categoryInfo.category_info[0].new_category_detailed_icon_img">

<div class="">
    <button class="go-back-btn" (click)="goBack()" id="backBtn" title="Go to back">
        <i class="fa fa-chevron-left"></i>
    </button>

    <button (click)="topFunction()" id="myBtn" title="Go to top">
        <i class="fa fa-chevron-up"></i></button>
</div>

<!-- ASK TO LOGIN -->
<div class="modal-ask-to-login fade" id="askToLogin" role="dialog">
    <div class="modal-dialog">
        <form>
            <!-- Modal content-->
            <div class="ask-to-login">
                <div class="modal-body">
                    <div class="form-group text-spinner">

                        <h3 class="deleteConfirmation">Please login to use this feature! </h3>
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

<!-- Ask to join as Seller -->

<div class="modal-ask-to-login fade" id="askToJoinAsSeller" role="dialog">
    <div class="modal-dialog">
        <form>
            <!-- Modal content-->
            <div class="ask-to-login">
                <div class="modal-body">
                    <br />
                    <h3 class="ask-register"> To use this feature please register as Seller. <br /> <small>By clicking Register, you will be logged out from your current account. </small></h3>
                    <!-- <i class="fa fa-circle-o-notch fa-spin"></i> -->
                </div>
                <div class="modal-footer ">
                    <button type="submit" class="btn btn-danger" data-dismiss="modal" (click) = "goToRegister()" >REGISTER</button>
                    <button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Ask to join as Buyer -->

<div class="modal-ask-to-login fade" id="askToJoinAsBuyer" role="dialog">
    <div class="modal-dialog">
        <form>
            <!-- Modal content-->
            <div class="ask-to-login">
                <div class="modal-body">
                    <br />
                    <h3 class="ask-register"> To use this feature please register as Buyer. <br /> <small>By clicking Register, you will be logged out from your current account. </small></h3>
                    <!-- <i class="fa fa-circle-o-notch fa-spin"></i> -->
                </div>
                <div class="modal-footer ">
                    <button type="submit" class="btn btn-danger" data-dismiss="modal" (click) = "goToRegister()" >REGISTER</button>
                    <button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>
                </div>
            </div>
        </form>
    </div>
</div>
