/* ---------------------------------------------------
    SIDEBAR CSS
----------------------------------------------------- */
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: "\e250";
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

a[aria-expanded="true"]::before {
    content: "\e252";
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #151829;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #151829;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #151829;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul ul li {
    color: #666666;
    border-bottom: 1px solid #666666;
}

#sidebar ul ul ul li {
    padding-left: 15px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #0a0c14;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
    
    }

    #sidebar.active {
        margin-left: 0;
        transform: none;
    }

}

/* ---------------------------------------------------
   END SIDEBARCSS
----------------------------------------------------- */
