<nav id="sidebar">
  <div class="sidebar-header">
      <img src="assets/images/futurelogo.png">
  </div>

  <ul class="list-unstyled components">
      <p style="font-weight: 600">DASHBOARD</p>
      <li class="active">
          <a href="#operatorControls" data-toggle="collapse" aria-expanded="false">OPERATOR CONTROLS</a>
          <ul class="collapse in list-unstyled" id="operatorControls">
              <li>
                  <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">BLOG POSTS</a>
                  <ul class="collapse list-unstyled" id="homeSubmenu">
                      <li><a href="#">BLOG 1</a></li>
                      <li><a href="#">BLOG 2</a></li>
                      <li><a href="#">BLOG 3</a></li>
                  </ul>
              </li>

              <li>
                  <a href="#download" data-toggle="collapse" aria-expanded="false">DOWNLOADS</a>
                  <ul class="collapse list-unstyled" id="download">
                      <li><a href="#">Download 1</a></li>
                  </ul>
              </li>
              <li>
                  <a href="#commission" data-toggle="collapse" aria-expanded="false">COMMISSION</a>
                  <ul class="collapse list-unstyled" id="commission">
                      <li><a href="#">BLOG 1</a></li>
                      <li><a href="#">BLOG 2</a></li>
                      <li><a href="#">BLOG 3</a></li>
                  </ul>
              </li>
              <li>
                  <a href="#user-signup" data-toggle="collapse" aria-expanded="false">USER SIGNUP</a>
                  <ul class="collapse list-unstyled" id="user-signup">
                      <li><a href="#">BLOG 1</a></li>
                      <li><a href="#">BLOG 2</a></li>
                      <li><a href="#">BLOG 3</a></li>
                  </ul>
              </li>
              <li>
                  <a href="#email" data-toggle="collapse" aria-expanded="false">EMAIL LIST</a>
                  <ul class="collapse list-unstyled" id="email">
                      <li><a href="#">BLOG 1</a></li>
                      <li><a href="#">BLOG 2</a></li>
                      <li><a href="#">BLOG 3</a></li>
                  </ul>
              </li>
              <li>
                  <a href="#comments" data-toggle="collapse" aria-expanded="false">COMMENTS</a>
                  <ul class="collapse list-unstyled" id="comments">
                      <li><a href="#">BLOG 1</a></li>
                      <li><a href="#">BLOG 2</a></li>
                      <li><a href="#">BLOG 3</a></li>
                  </ul>
              </li>
              <li>
                  <a href="#plugins" data-toggle="collapse" aria-expanded="false">PLUGINS</a>
                  <ul class="collapse list-unstyled" id="plugins">
                      <li><a href="#">BLOG 1</a></li>
                      <li><a href="#">BLOG 2</a></li>
                      <li><a href="#">BLOG 3</a></li>
                  </ul>
              </li>
              <li>
                  <a href="#users" data-toggle="collapse" aria-expanded="false">USERS</a>
                  <ul class="collapse list-unstyled" id="users">
                      <li><a href="#">BLOG 1</a></li>
                      <li><a href="#">BLOG 2</a></li>
                      <li><a href="#">BLOG 3</a></li>
                  </ul>
              </li>
              <li>
                  <a href="#seo" data-toggle="collapse" aria-expanded="false">SEO</a>
                  <ul class="collapse list-unstyled" id="seo">
                      <li><a href="#">BLOG 1</a></li>
                      <li><a href="#">BLOG 2</a></li>
                      <li><a href="#">BLOG 3</a></li>
                  </ul>
              </li>
          </ul>
          <a href="#developerControls" data-toggle="collapse" aria-expanded="false">DEVELOPER CONTROLS</a>
          <ul class="collapse list-unstyled" id="developerControls">
              <li>
                  <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">BLOG POSTS</a>
                  <ul class="collapse list-unstyled" id="homeSubmenu">
                      <li><a href="#">BLOG 1</a></li>
                      <li><a href="#">BLOG 2</a></li>
                      <li><a href="#">BLOG 3</a></li>
                  </ul>
              </li>

              <li>
                  <a href="#download" data-toggle="collapse" aria-expanded="false">DOWNLOADS</a>
                  <ul class="collapse list-unstyled" id="download">
                      <li><a href="#">Download 1</a></li>
                  </ul>
              </li>
              <li>
                  <a href="#commission" data-toggle="collapse" aria-expanded="false">COMMISSION</a>
                  <ul class="collapse list-unstyled" id="commission">
                      <li><a href="#">BLOG 1</a></li>
                      <li><a href="#">BLOG 2</a></li>
                      <li><a href="#">BLOG 3</a></li>
                  </ul>
              </li>
              <li>
                  <a href="#user-signup" data-toggle="collapse" aria-expanded="false">USER SIGNUP</a>
                  <ul class="collapse list-unstyled" id="user-signup">
                      <li><a href="#">BLOG 1</a></li>
                      <li><a href="#">BLOG 2</a></li>
                      <li><a href="#">BLOG 3</a></li>
                  </ul>
              </li>
              <li>
                  <a href="#email" data-toggle="collapse" aria-expanded="false">EMAIL LIST</a>
                  <ul class="collapse list-unstyled" id="email">
                      <li><a href="#">BLOG 1</a></li>
                      <li><a href="#">BLOG 2</a></li>
                      <li><a href="#">BLOG 3</a></li>
                  </ul>
              </li>
              <li>
                  <a href="#comments" data-toggle="collapse" aria-expanded="false">COMMENTS</a>
                  <ul class="collapse list-unstyled" id="comments">
                      <li><a href="#">BLOG 1</a></li>
                      <li><a href="#">BLOG 2</a></li>
                      <li><a href="#">BLOG 3</a></li>
                  </ul>
              </li>
              <li>
                  <a href="#plugins" data-toggle="collapse" aria-expanded="false">PLUGINS</a>
                  <ul class="collapse list-unstyled" id="plugins">
                      <li><a href="#">BLOG 1</a></li>
                      <li><a href="#">BLOG 2</a></li>
                      <li><a href="#">BLOG 3</a></li>
                  </ul>
              </li>
              <li>
                  <a href="#users" data-toggle="collapse" aria-expanded="false">USERS</a>
                  <ul class="collapse list-unstyled" id="users">
                      <li><a href="#">BLOG 1</a></li>
                      <li><a href="#">BLOG 2</a></li>
                      <li><a href="#">BLOG 3</a></li>
                  </ul>
              </li>
              <li>
                  <a href="#seo" data-toggle="collapse" aria-expanded="false">SEO</a>
                  <ul class="collapse list-unstyled" id="seo">
                      <li><a href="#">BLOG 1</a></li>
                      <li><a href="#">BLOG 2</a></li>
                      <li><a href="#">BLOG 3</a></li>
                  </ul>
              </li>
          </ul>
      </li>
  </ul>
</nav>
