<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<div>
  <img class="star-search-banner" src="assets/images/read-more/talentmall-about-banner.jpg" alt="about futurestarr" />
</div>

<div class="container about-admin-container" style="background:url('assets/images/read-more/readmore-bg.jpg');">
  <div class="row">
    <div class="col-sm-3 col-sm-12 text-center">
      <img class="star-search-banner star-globe" src="assets/images/read-more/globe.png" alt="globe" />
    </div>
    <div class="col-sm-9 col-sm-12">
        <div class="row">
            <div class="col-sm-12 col-sm-12 about-admin-text" >
                <!--<p class="about-body">-->
                    <!--Edward always had a vision of becoming the next big thing in the music industry.-->
                    <!--Inspired by stars like Nelly and LL Cool J, Edward decided to embark on his musical-->
                    <!--journey at the tender age of 19. Shortly after starting his journey, Edward met a music-->
                    <!--producer who shared his vision and passion for music. The producer insisted on helping mold-->
                    <!--Edward into an Atlanta rap star. After a few years of creating demo albums, tirelessly promoting-->
                    <!--and selling his music, participating in open mic shows, and networking producers, major labels,-->
                    <!--music managers and radio stations, Edward began to understand how difficult it was for unsigned-->
                    <!--artists to get that "big break". It was then Edward realized his urge to help unsigned, underground-->
                    <!--talent gain the exposure they need and deserve without seeking and financial, the promotional and material-->
                    <!--backing of a major and established record label.-->

                <!--</p>-->
                <!--<p>-->
                    <!--Thus, Future Starr was born.-->
                <!--</p>-->

                <h4 style="text-align: center; font-weight: 700">About Future Starr</h4>
                <p>Future Starr is a stand-apart and unconventional consumer internet company that helps the creative talents build
                    their own online portfolios to reach passionate audiences and the community. With Future Starr, you  get instant
                    access to your targeted audience. We provide you with next level services that let you connect with your clients
                    conveniently. We help you to take your talent to the next level and become a Star.</p>
                <h4 style="text-align: center; font-weight: 700">Join Future Starr!</h4>
                <p>Future Starr will build, refine and elevate your digital marketplace and will help you to build a business you
                    dreamed of. Celebrate your own Personal Growth with Future Starr!</p><br>
                <h4 style="text-align: center; font-weight: 700">Reach the Zenith of your Career!</h4>
                <p>If you are head over heels in love with your career and you are passionate about your success, sign up to FutureStarr.
                    Our exuberant teammates are committed and enthusiastic as you are. With Future Starr, we create a unique online presence
                    that reflects you and your work. Whether you are unsigned or an established talented star, our resources will take your business to the next level. </p>

                <div class="about-action-button text-center">
                    <button class=" btn-md buy-talent-button" (click)="buyTalent()">BUY TALENT</button>
                    <button class=" btn-md sell-talent-button" (click)="sellTalent()">SELL YOUR TALENT</button>
                    <br/>
                </div>
            </div>
        </div>

    </div>
  </div>
</div>


<!-- ASK TO LOGIN  -->
<div class="modal-ask-to-login fade" id="askToLogin" role="dialog">
    <div class="modal-dialog">
        <form>
            <!-- Modal content-->
            <div class="ask-to-login">
                <div class="modal-body">
                    <div class="form-group text-spinner">

                        <h3 class="deleteConfirmation">Please login as a buyer or seller to use this feature! </h3>
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

<!-- Ask to join as Seller -->

<div class="modal-ask-to-login fade" id="askToJoinAsSeller" role="dialog">
    <div class="modal-dialog">
        <form>
            <!-- Modal content-->
            <div class="ask-to-login">
                <div class="modal-body">
                    <br />
                    <h3 class="ask-register"> To use this feature please register as Seller. <br /> <small>By clicking Register, you will be logged out from your current account. </small></h3>
                    <!-- <i class="fa fa-circle-o-notch fa-spin"></i> -->
                </div>
                <div class="modal-footer ">
                    <button type="submit" class="btn btn-danger" data-dismiss="modal" (click) = "goToRegister()" >REGISTER</button>
                    <button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Ask to join as Buyer -->

<div class="modal-ask-to-login fade" id="askToJoinAsBuyer" role="dialog">
    <div class="modal-dialog">
        <form>
            <!-- Modal content-->
            <div class="ask-to-login">
                <div class="modal-body">
                    <br />
                    <h3 class="ask-register"> To use this feature please register as Buyer. <br /> <small>By clicking Register, you will be logged out from your current account. </small></h3>
                    <!-- <i class="fa fa-circle-o-notch fa-spin"></i> -->
                </div>
                <div class="modal-footer ">
                    <button type="submit" class="btn btn-danger" data-dismiss="modal" (click) = "goToRegister()">REGISTER</button>
                    <button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>
                </div>
            </div>
        </form>
    </div>
</div>



<div class="">
        <button class="go-back-btn" (click)="goBack()" id="backBtn" title="Go to back">
            <i class="fa fa-chevron-left"></i>
        </button>

        <button (click)="topFunction()" id="myBtn" title="Go to top">
            <i class="fa fa-chevron-up"></i></button>
</div>
