
.well {
    background-color: #fff;
}

.btn-danger {
    padding: 6px 18px !important;
    font-size: 11px !important;
    border-radius: 2px;
}

.btn-setting {
    padding: 6px 6px !important;
}

.input-group-addon {
    padding: 6px 25px;
}

h3 {
    margin-top: 0;
    margin-left: 20px;
}

.panel-m {
    margin: 20px;
}

.image-drop {
    padding: 28px 10px;
    /*background:#00ad2d;
    border:1px solid #00ad2d;*/
    position: relative;
    /*color:transparent;*/
    border-radius: 2px;
    text-align: center;
    /*float:;*/
    cursor: pointer;
    display: inline-block;
    height: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.hide_button {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 24px;
    width: 100%;
}

.dash-bdr {
    border: dashed 2px #c8c8c8;
}

.file-list li {
    display: inline-block;
    float: left;
}

.drop-area {
    margin-top: 20px;
    margin-bottom: 20px;
}

.promote-btn {
    float: right;
}

.table-margin {
    margin-top: 30px;
}

thead {
    background-color: #f0f0f0;
}

.profile-square {
    text-align: center;
    background-color: #f0f0f0;
    width: 50px;
    height: 50px;
}

.table > tbody > tr > td {
    vertical-align: 0;
    padding: 12px;
}

.table > thead > tr > th {
    border-bottom: 0;
    padding: 5px;
}

.icon-color {
    color: #ff503f;
}

ul > li {
    list-style-type: none;
    display: inline;
}

.action-btn {
    border: 1px solid #f0f0f0;
    background-color: #fff;
    border-radius: 0;
    padding: 4px 8px;
    margin-left: 5px;
}

label {
    margin-bottom: 0;
}

input .checkbox {
    background-color: #fff;
    border-radius: 0;
}

.filter {
    margin-left: 12px;
    border-radius: 0;
}

input[type=checkbox] {
    background-color: #fff;
}

.modal-title {
    font-size: 18px;
    margin: 0 15px;
    font-weight: 500;
}

.modal-margin {
    padding: 0 15px;
}

.modal-body {
    margin-bottom: 15px;
}

.area-resize {
    height: 100px;
}

.h4-text {
    font-size: 14px;
    font-weight: 500;
}

.p-text {
    font-size: 12px;
    margin-top: -5px;
}

.modal-btn {
    border-radius: 0;
    border: 2px solid #ff503f;
    background-color: #fff;
}

.btn-icons {
    /*margin-left: 15px;*/
    margin-left: 0;
}

.nav .active {
    background-color: #ff503f;
}

.modal-btn:hover,
.modal-btn:focus,
.modal-btn:active {
    background-color: #ff503f;
    color: #fff;
}

@media (min-width: 200px) and (max-width: 678px) {
    .filter {
        margin-left: 0;
        border-radius: 0;
    }
}

.separator {
    content: '';
    display: inline-block;
    background: #888;
     /*background: #ff503f;*/
    margin: 0 6px;
    height: 18px;
    width: 1px;
    vertical-align: top;
}

a>.separator:hover, .separator:active {
    background-color: #888 !important;
}

label {
    margin-bottom: 5px;
}

.nav > li > .social-btn {
    display: inline-block;
    /*padding: 6px 12px;*/
     padding: 3px 9px;
}

.social-btn {
    color: #333;
}

.col-md-width-2 {
    width: 10.666667% !important;
}

.product-inline {
    display: inline-block
}

.color-r {
    color: #ff503f;
}
.color-r:hover, .color-r:active {
   color: #ff751a;
}

.color-p {
    color: #666666;
}

.p-padding {
    padding-bottom:5px;
}

.f-font-s {
  font-size: 20px;
    vertical-align: middle;
}

.f-font {
  font-size: 10px;
}

.modal-btn {
    padding: 3px 9px;
    border-radius: 2px;
}

.col-sm-width {
    width: 88.333333%;
}

.active {
        background-color: #ff503f;
    color: #fff;
}

.pagination-box {
  margin-top: 15px;
}
