<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<h3>Promote Products
</h3>
<div class="well panel panel-danger panel-m">
    <div class="panel-body">
        <div class="form-inline">
            <div class="form-group ">
                <label for="sel1">Filter</label>

                <select class="form-control filter" [(ngModel)]="selectedDay" (ngModelChange)="onSelect(selectedDay)">
                    <option *ngFor="let day of days" [value]="day"> Last {{ day }} Days </option>
                </select>
            </div>
            <div class="form-group pull-right">
                <button type="button" class="btn btn-danger btn-setting" name="button" routerLink="/seller/my-product">
                    PROMOTE NEW PRODUCT
                </button>
            </div>

        </div>

        <div *ngIf="products && products.length >0">
            <div *ngFor="let promote of products | paginate: { itemsPerPage: 5, currentPage: p }">
                <hr>
                <div>
                    <div class="row">
                        <div class="col-sm-2 col-md-width-2">
                            <!-- <img class="profile-square" src="../assets/images/network.png"/> -->
                            <!-- <img *ngIf="promote.image[0] && (promote.image[0].img_ext != 'mp4')" class="profile-square" [src]="promote.image[0].new_image_path"
                            />
                            <img *ngIf="!promote.image[0] || (promote.image[0].img_ext == 'mp4')" class="profile-square" src="assets/images/talent-mall/no_image-200x200.jpg"
                            /> -->
                            <img class="profile-square" [src]="(promote.image.length >0  && isImage(promote.image[0].new_image_path))?promote.image[0].new_image_path:'assets/images/star-logo.png' "
                            />
                        </div>
                        <div class="col-sm-10 col-sm-width">
                            <div class="p-padding">
                                <span>
                                    {{promote.title}}
                                </span>
                                <div class="pull-right">
                                    <!--<a class="color-r" role="button">Repost | </a>-->
                                    <a class="color-r" role="button" (click)="getPromoteProductUpdate(promote.promote_id, promote.talent_id)">Edit
                                        | </a>
                                    <a class="color-r" role="button" (click)="deletePromoteProduct(promote.promote_id)">Delete</a>
                                </div>
                            </div>
                            <div>
                                <p class="color-p">
                                    {{promote.message}}
                                </p>
                            </div>

                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="pull-left">
                                        <ul class="nav">
                                            <li class="social-sm">
                                                <a id="{{promote.promote_id}}" (click)="selectedSocialAccount(promote.talent_id)" class="social-f social-btn btn modal-btn btn-sm btn-f"
                                                    shareButton="facebook" [sbUrl]="sharedService.web_url+'talent-mall/product-info/'+promote.id">
                                                    <i class="fa fa-facebook f-font-s"></i>
                                                    <span class="separator"></span>
                                                    <span class="f-font">FACEBOOK</span>
                                                </a>
                                            </li>
                                            <li class="social-sm">
                                                <a class="social-i social-btn btn modal-btn btn-sm" (click)="selectedSocialAccount(promote.talent_id)" shareButton="linkedin"
                                                    [sbUrl]="sharedService.web_url+'talent-mall/product-info/'+promote.id">
                                                    <i class="fa fa-linkedin f-font-s "></i>
                                                    <span class="separator"></span>
                                                    <span class="f-font">LINKEDIN</span>
                                                </a>
                                            </li>

                                            <li class="social-sm">
                                                <a class="social-t social-btn btn modal-btn btn-sm" (click)="selectedSocialAccount(promote.talent_id)" shareButton="twitter"
                                                    [sbUrl]="sharedService.web_url+'talent-mall/product-info/'+promote.id">
                                                    <i class="fa fa-twitter f-font-s"></i>
                                                    <span class="separator"></span>
                                                    <span class="f-font"> TWITTER</span>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>

                                <div class="col-sm-5">
                                    <div class="pull-right">
                                        <a class=" color-p">{{promote.talent_active}} | {{promote.view}} Views | {{promote.award}}
                                            Awards
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div *ngIf="products && products.length == 0">
            <hr>
            <span class="no-products-error">No Products Available!</span>
        </div>
    </div>
    <div class="pagination-box">
        <div *ngIf="(products.length)>5" class="product-pagination-row">
            <div>
                <pagination-controls previousLabel="" nextLabel="" (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>

</div>

<div class="">
    <button class="go-back-btn" (click)="goBack()" id="backBtn" title="Go to back">
        <i class="fa fa-chevron-left"></i>
    </button>

    <button (click)="topFunction()" id="myBtn" title="Go to top">
        <i class="fa fa-chevron-up"></i></button>
</div>
<!--<div class=" panel panel-m" style="border: 1px solid #ddd; padding:19px 0;">-->
<!--<div class="panel-heading">-->
<!--<div class="form-inline">-->
<!--<div class="form-group ">-->
<!--<label for="sel1">Filter</label>-->

<!--<select class="form-control filter" [(ngModel)]="selectedDay" (ngModelChange)="onSelect(selectedDay)">-->
<!--<option *ngFor="let day of days" [value]="day"> Last {{ day }} Days </option>-->
<!--</select>-->
<!--</div>-->


<!--<div class="form-group pull-right">-->

<!--&lt;!&ndash;<button type="button" class="btn btn-danger promote-btn" data-toggle="modal" data-target="#createPromotionModal">PROMOTE NEW PRODUCT</button>&ndash;&gt;-->
<!--<button type="button" class="btn btn-danger btn-setting" name="button" routerLink="/seller/my-product">-->
<!--PROMOTE NEW PRODUCT-->
<!--</button>-->

<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--<div >-->
<!--<ul *ngFor="let promote of products">-->
<!--<hr>-->
<!--<li>-->
<!--&lt;!&ndash;<div>&ndash;&gt;-->
<!--&lt;!&ndash;<img class="profile-square" src="../assets/images/network.png" />&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<div class="row">-->
<!--<div class="col-md-2 col-md-width-2">-->
<!--&lt;!&ndash; <img class="profile-square" src="../assets/images/network.png"/>&ndash;&gt;-->
<!--<img *ngIf="promote.image[0]" class="profile-square" [src]="promote.image[0].image_path"/>-->
<!--</div>-->
<!--<div class="col-md-10">-->
<!--<div class="p-padding">-->
<!--<span style="">-->
<!--{{promote.title}}-->
<!--</span>-->

<!--<div class="pull-right">-->
<!--<a class="color-r" role="button">Repost | </a>-->
<!--<a class="color-r" role="button" (click)="getPromoteProductUpdate(promote.promote_id)">Edit | </a>-->
<!--<a class="color-r" role="button" (click)="deletePromoteProduct(promote.promote_id)">Delete</a>-->
<!--</div>-->

<!--</div>-->
<!--<div>-->
<!--<p class="color-p">-->
<!--{{promote.description}}-->
<!--</p>-->
<!--</div>-->

<!--<div class="">-->

<!--<a class="color-r" [attr.href]="promote.facebook_link" [target]="_blank">-->
<!--<span>{{promote.facebook_link}}</span>-->
<!--</a>-->

<!--<div class="pull-right">-->
<!--<a class=" color-p">Active | 0 Clicks | 0 Views | 0 Awards</a>-->
<!--</div>-->

<!--</div>-->


<!--</div>-->

<!--</div>-->

<!--</li>-->
<!--</ul>-->
<!--</div>-->

<!--</div>-->


<!--create promotion modal-->


<!-- Edit promote product Modal -->
<div class="modal fade" id="editPromotionModal" role="dialog">
    <div class="modal-dialog">
        <form novalidate #promoteForm="ngForm" (ngSubmit)="editPromoteProduct(promoteProducts)">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Promotion </h4>
                </div>
                <div class="modal-body">
                    <div class=" form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" name="title" [(ngModel)]="promoteProducts.title" placeholder="Title" />
                    </div>
                    <div class="form-group ">
                        <label for="production-info">Your Message</label>
                        <textarea name="message" class="form-control area-resize" [(ngModel)]="promoteProducts.message" placeholder="Product Information"></textarea>
                    </div>

                    <div class="promote-info">
                        <label>Social Media promotion</label>

                        <p class="p-text">Promote your talent on Social Networks </p>
                    </div>

                    <div class="btn-group btn-icons" role="group">
                        <ul class="nav">
                            <li class="">
                                <a class="social-btn btn modal-btn btn-bg" (click)="getSocialShareMediaName('facebook')" shareButton="facebook" [sbUrl]="repoUrl">
                                    <i class="fa fa-facebook"></i>
                                    <span class="separator"></span>
                                    FACEBOOK
                                </a>
                            </li>
                            <li class="">
                                <a class="social-btn btn modal-btn btn-bg" shareButton="linkedin" [sbUrl]="repoUrl">
                                    <i class="fa fa-linkedin"></i>
                                    <span class="separator"></span>
                                    LINKEDIN
                                </a>
                            </li>
                            <li class="">
                                <a class="social-btn btn modal-btn btn-bg" shareButton="twitter" [sbUrl]="repoUrl">
                                    <i class="fa fa-twitter">
                                    </i><span class="separator"></span>
                                    TWITTER
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" [disabled]="!(promoteProducts.title && promoteProducts.message)">SAVE</button>
                    <button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>
                </div>
            </div>
        </form>
    </div>
</div>