/*footer */
.footer-box ul {
    padding: 0;
    list-style-type: none;
}
.footer-box ul li {
    margin-bottom: 10px;
}

.social-icon li {
    float: left;
    margin-right: 15px;
}
.footer-box ul li a {
    color: #777;
    font-size: 14px;
    text-decoration: none;
}
.social-icon li a i {
    font-size: 19px;
}

.footer p{
    margin: 5px 0 0;
}

.footer{
    margin-top:10px;
}

.footer-s h4{
    font-size:14px;
    color:#fff;
}

.footer-s p a{
    font-size: 12px;
    color:#777;
}

.footer-s p {
    font-size: 12px;
    color:#777;
}

.footer-m {
   margin: 5px 0 10px;
    font-size:12px;
}

/*footer{*/
    /*position:fixed;*/
    /*bottom:0;*/
/*}*/