<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div>
  <img class="star-search-banner" src="assets/images/talent-mall/talentmallpage-banner.jpg" alt="talent mall" />
</div>
<div class="container m50 tallent-mall">

  <div *ngIf="categoriesLength>0" class="category-list">
    <div *ngIf="talentCategories" class="row" style="padding-left:20px;padding-right:20px;">
      <div *ngFor="let category of talentCategories.category let i = index" class="image-container col-sm-4 col-md-3 col-xs-12 no-padding" [routerLink]="['/talent-mall/detailed', category.id ]">
        <span [hidden]="(i == lastCategory || i == secondLastCategory) && changeLayoutFlag ==2">
          <span class="heading-text">{{ category.name }}</span>
          <img width="100%" *ngIf="category.category_image_path" alt="{{ category.name }}"  title="{{ category.name }}" [src]="category.new_category_image_path" />
          <img width="100%" *ngIf="!category.category_image_path" alt="{{ category.name }}"  title="{{ category.name }}" src="assets/images/talent-mall/no_image-200x200.jpg"
          />
        </span>
      </div>

    </div>

    <!-- row for CENTERD DIV  -->
    <span *ngIf="changeLayoutFlag == 2">
      <div class="row rowIfLastTwoItemsLeft">
        
        <div class="image-container col-sm-3 col-xs-12">

        </div>
        <div *ngFor="let category of talentCategories.category let i = index" class="image-container col-sm-3 col-xs-12" [routerLink]="['/talent-mall/detailed', category.id ]">
          <span *ngIf="i == lastCategory || i == secondLastCategory">
            <span class="heading-text">{{ category.name }}</span>
            <img *ngIf="category.category_image_path"  alt="{{ category.name }}" title="{{ category.name }}" [src]="new_category.category_image_path" width="293" height="301" />
            <img *ngIf="!category.category_image_path" alt="{{ category.name }}" title="{{ category.name }}" src="assets/images/talent-mall/no_image-200x200.jpg" width="293" height="301"
            />
          </span>
        </div>

        <div class="image-container col-sm-3 col-xs-12">

        </div>

      </div>
    </span>

  </div>

  <div *ngIf = "showErrorDiv == true" class="row show-error-div">
    <h3>Something went wrong, please refresh the page or try after sometime.</h3>
 </div>


</div>

  <div class="">
        <button class="go-back-btn" (click)="goBack()" id="backBtn" title="Go to back">
            <i class="fa fa-chevron-left"></i>
        </button>

        <button (click)="topFunction()" id="myBtn" title="Go to top">
            <i class="fa fa-chevron-up"></i></button>
  </div>
