/* Seller main content css*/

.h1, .h2, .h3, h1, h2, h3,h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 0px;
    line-height: 1.42857143;
     background-color: transparent; 
     border: 0px solid #ddd !important;
    border-radius: 0px;
    transition: all .2s ease-in-out;
}
.img-bottom-panel{
  text-align: center;
  background-color: #000;
  padding: 20px;
}

.img-hover:hover{
  background-color: #ff503f !important;
}

.img-box{
  width:100%;
}
.img-box img{
  height: 220px;
}

.img-box :hover {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.listing-box .listingttl {
    background-color: #333;
     padding: 00px 0px;
     margin-top: -55px;
     opacity: 0.8
}



.listing-box .listingttl h2 {
    font-size: 14px;
  }

.listingttl h2 {
    color: #fff;
    padding: 20px;
    margin-top: 0px;
    background-color:#333;
}

.listing-box:hover .listingttl h2 {
    color: #fff;
    padding: 20px;
    margin-top: 0px;
    background-color:#c83e30;
}

@media screen and (max-width: 767px){
.img-box img {
     width: 100%;
    display: block;
    margin: auto;
  }
}
