
<h3>Dashboard</h3>
<hr style="margin-top:0px;">
<div class="row">
<div class="col-sm-4">
<a href="#">
  <div class="listing-box">
      <div class="img-box">
          <img alt="" class="hover-images" src="assets/images/sales.jpg">
      </div>
      <div class="listingttl">
          <h2 class="text-center">Sales</h2>
      </div>
  </div>
</a>
</div> <!-- col-sm-4 colsed-->

<div class="col-sm-4">
<a href="#">
  <div class="listing-box">
      <div class="img-box">
          <img alt="" class="hover-images" src="assets/images/upload-product.jpg">
      </div>
      <div class="listingttl">
          <h2 class="text-center">Product</h2>
      </div>
  </div>
</a>
</div> <!-- col-sm-4 colsed-->

<div class="col-sm-4">
<a href="#">
  <div class="listing-box">
      <div class="img-box">
          <img alt="" class="hover-images" src="assets/images/sales.jpg">
      </div>
      <div class="listingttl">
          <h2 class="text-center">Categories</h2>
      </div>
  </div>
</a>
</div> <!-- col-sm-4 colsed-->

<div class="col-sm-4">
<a href="#">
  <div class="listing-box">
      <div class="img-box">
          <img alt="" class="hover-images" src="assets/images/sales.jpg">
      </div>
      <div class="listingttl">
          <h2 class="text-center">Messages</h2>
      </div>
  </div>
</a>
</div> <!-- col-sm-4 colsed-->

<div class="col-sm-4">
<a href="#">
  <div class="listing-box">
      <div class="img-box">
          <img alt="" class="hover-images" src="assets/images/sales.jpg">
      </div>
      <div class="listingttl">
          <h2 class="text-center">Commercial ads</h2>
      </div>
  </div>
</a>
</div> <!-- col-sm-4 colsed-->

<div class="col-sm-4">
<a href="#">
  <div class="listing-box">
      <div class="img-box">
          <img alt="" class="hover-images" src="assets/images/promote.jpg">
      </div>
      <div class="listingttl">
          <h2 class="text-center">Promote</h2>
      </div>
  </div>
</a>
</div> <!-- col-sm-4 colsed-->

</div>
