<h3>Notificatons <a class=" btn h-previous h-round" (click)="goBack()"><i class="h-cruser fa fa-angle-left"></i></a></h3>

<div class="panel-body">
    <div class="well panel panel-danger well-msg">
        <div class="panel-body msg-body">
            <div>
                <ul class="list-group list-group-padding">
                     <li class="list-group-item list-group-item-p strip-m"><a class="msg-color" routerLink="/seller/message">Inbox Messages</a> <button class="btn action-btn-m">{{message}}</button></li>
                     <li class="list-group-item list-group-item-p"><a class="msg-color">Order Messages</a> <button class="btn action-btn-m">0</button></li>
                     <li class="list-group-item list-group-item-p strip-m"><a class="msg-color">Order Statuses</a> <button class="btn action-btn-m">0</button></li>
                     <li class="list-group-item list-group-item-p"><a class="msg-color">All Statuses </a> <button class="btn action-btn-m">0</button></li>

                </ul>
            </div>
        </div>
    </div>
</div>





