
.well {
    background-color: #fff;
}

h3 {
    margin-top: 0;
    margin-left: 20px;
}

.panel-m {
   margin:20px;
}

.drop-area {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-danger
{
    padding: 6px 18px !important;
    font-size: 11px !important;
    border-radius: 2px;
}

.table > tbody > tr > td {
    vertical-align: middle;
    padding: 6px;
}

.icon-color {
    color: #ff503f;
}

input .checkbox {
    background-color: #fff;
    border-radius: 0;
    vertical-align: middle;
}

input[type=checkbox] {
    background-color: #fff;
}

.area-resize {
    height: 100px;
}

.h4-text {
    font-size: 14px;
    font-weight: 500;
}

.p-text {
    font-size: 12px;
    margin-top: -5px;
}

@media (min-width: 200px) and (max-width: 678px)  {
.filter {
    margin-left: 0;
    border-radius: 0;
}
}

.table-responsive {
    margin-bottom: 0;
}

label {
    margin-bottom: 0;
}

/* checkbox */

/*.checkbox {*/
  /*padding-left: 20px;*/
   /*margin-bottom: 0;*/
   /*margin-top:0;}*/
  /*.checkbox label {*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*padding-left: 5px; }*/
    /*.checkbox label::before {*/
      /*content: "";*/
      /*display: inline-block;*/
      /*position: absolute;*/
      /*width: 15px;*/
      /*height: 15px;*/
      /*left: 0;*/
      /*margin-left: -20px;*/
      /*border: 1px solid #cccccc;*/
      /*border-radius: 3px;*/
      /*background-color: #fff;*/
      /*-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;*/
      /*-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;*/
      /*transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }*/
    /*.checkbox label::after {*/
      /*display: inline-block;*/
      /*position: absolute;*/
      /*width: 16px;*/
      /*height: 16px;*/
      /*left: 0;*/
      /*top: 0;*/
      /*margin-left: -20px;*/
      /*padding-left: 3px;*/
      /*padding-top: 1px;*/
      /*font-size: 11px;*/
      /*color: #555555; }*/
  /*.checkbox input[type="checkbox"] {*/
    /*opacity: 0; }*/
    /*.checkbox input[type="checkbox"]:focus + label::before {*/
      /*outline: thin dotted;*/
      /*outline: 5px auto -webkit-focus-ring-color;*/
      /*outline-offset: -2px; }*/
    /*.checkbox input[type="checkbox"]:checked + label::after {*/
      /*font-family: 'FontAwesome';*/
      /*content: "\f00c"; }*/
    /*.checkbox input[type="checkbox"]:disabled + label {*/
      /*opacity: 0.65; }*/
      /*.checkbox input[type="checkbox"]:disabled + label::before {*/
        /*background-color: #eeeeee;*/
        /*cursor: not-allowed; }*/
  /*.checkbox.checkbox-circle label::before {*/
    /*border-radius: 50%; }*/
  /*.checkbox.checkbox-inline {*/
    /*margin-top: 0; }*/

.btn-ads {
    padding: 17px 0 0 0;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    margin-top:25px;
}

.p-text {
    font-size: 12px;
    margin-top: -10px;
}

label {
    margin-bottom:5px;
}

/*.list-group-item-p {*/
   /*border:none;*/
   /*padding:2px 15px;*/
   /*margin-bottom:0;*/
   /*margin-left:-15px ;*/
/*}*/

.list-group-item-p {
   border:none;
   padding:15px 25px;
}

.list-group-item-p:hover button,.list-group-item-p:active button {
   border: 1px solid #ff503f;
    background-color: #ff503f;
    color:#fff;
}

.list-group-item-p:hover a, .list-group-item-p:active a {
    color:#ff503f;
}

.action-btn-m {
    border: 1px solid #e9e9e9;
    background-color: #fff;
    border-radius: 0;
    padding: 2px 8px;
    margin-left: 5px;
    float: right;
}

.well-msg {
    padding-left: 0;
    padding-right: 0;
}

.strip-m {
    background-color: #f0f0f0;
}

.msg-body {
    padding-left: 0;
    padding-right: 0;
}

.msg-color {
    color: #333;
}
