<nav class="navbar navbar-inverse navbar-fixed-top" style="border-radius:0;">
    <div class="container top-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="social-media" [ngClass]="{'user-dashboard':user && user[0].id}">
                        <li>
                            <a href="https://www.facebook.com/FutureStarrcom/" target="_blank"  data-toggle="tooltip" title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/futurestarrcom?lang=en/" target="_blank"  data-toggle="tooltip" title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/watch?v=1WzPnNBSKa8" target="_blank"  data-toggle="tooltip" title="Youtube">
                                <i class="fa fa-youtube-play"></i>
                            </a>
                        </li>
                        <li>
                            <a role="button" (click)="modal.showLoginModal()">Login</a>
                        </li>
                        <li style="color:#ffffff;">/</li>
                        <li>
                            <a routerLink="/register">Register</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <!--if remove the above container than add (.top-cls:50px;) using jquery or to add this class and remove above top-bg class for seller module-->

    <div class="container-fluid h-font">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" data-toggle="tooltip" title="Future Star">
                <img class="img-responsive sm-logo"  alt="futurestarr logo" src="assets/images/futurelogo.png" />
            </a>
        </div>
        <div class="collapse navbar-collapse" [class.mobilenav]="showSearchInput" id="myNavbar">
            
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="!showSearchInput" [ngClass]="{routerLinkActive:active }" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a routerLink="/" (click)="closeMenu()" >      
                      <div class="header-icon"><img class="fa-icon-font" alt="futurestarr home" src="assets/images/home/home.png"></div>
                      HOME
                    </a>
                </li>
                <li (click)="closeMenu()" *ngIf="!showSearchInput" [ngClass]="{routerLinkActive:active }" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a  style="margin-top: 11px" *ngIf="user && user[0].role == 'buyer'" routerLink="/buyer/dashboard" >
                        <div class="header-icon dashbord-icon"><i class="fa fa-dashboard fa-icon-font"></i></div>
                        DASHBOARD</a>
                    <a  style="margin-top: 11px" *ngIf="user && user[0].role == 'seller'" routerLink="/seller/dashboard">
                        <div class="header-icon dashbord-icon"><i class="fa fa-dashboard fa-icon-font"></i></div>
                        DASHBOARD</a>
                </li>

                <!-- <li *ngIf="(user && user[0].role == 'seller' && !showSearchInput)" data-toggle="collapse" data-target="#myNavbar" [ngClass]="{routerLinkActive:active }" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a  class="dropdown-margin" routerLink="/seller/dashboard">
                        <div class="header-icon dashbord-icon"><i class="fa fa-dashboard fa-icon-font"></i></div>
                      DASHBOARD</a>
                </li>
                <li *ngIf="(user && user[0].role == 'buyer' && !showSearchInput)">
                    <a  class="dropdown-margin" routerLink="/buyer/dashboard">
                        <div class="header-icon dashbord-icon"><i class="fa fa-dashboard fa-icon-font"></i></div>
                        DASHBOARD</a>
                </li> -->

                <li *ngIf="!showSearchInput" [ngClass]="{routerLinkActive:active }" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a routerLink="/star-search" (click)="closeMenu()">
                      <div class="header-icon"><img class="fa-icon-font" src="assets/images/home/starr_s.png" alt="star icon"></div>
                      STARR SEARCH</a>
                </li>
                <li   *ngIf="!showSearchInput" [ngClass]="{routerLinkActive:active }" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a routerLink="/talent-mall" (click)="closeMenu()">
                      <div class="header-icon"><img class="fa-icon-font" src="assets/images/home/tallent_m.png" alt="tallent" ></div>
                      TALENT MALL</a>
                </li>
                <li   *ngIf="!showSearchInput" [ngClass]="{routerLinkActive:active }" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a routerLink="/social-buzz" (click)="closeMenu()">
                      <div class="header-icon"><img class="fa-icon-font" alt="social icon" src="assets/images/home/social_b.png" alt="social icon"></div>
                      SOCIAL BUZZ</a>
                </li>
                <li  *ngIf="!showSearchInput" [ngClass]="{routerLinkActive:active }" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a routerLink="/blog" (click)="closeMenu()">
                      <div class="header-icon"><img class="fa-icon-font" src="assets/images/home/blog.png" alt="blog"></div>
                      BLOG</a>
                </li>
                <li   *ngIf="!showSearchInput" [ngClass]="{routerLinkActive:active }" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <!--change  data-toggle="collapse" data-target="#myNavbar" -->
                    <a routerLink="/contact-us" (click)="closeMenu()">
                      <div class="header-icon"><img class="fa-icon-font" src="assets/images/home/contact.png" alt="contact"></div>
                      CONTACT US</a>
                </li>
                <li style="display: flex;padding-top: 6px">
                    <span>
                        <input *ngIf="showSearchInput" class="superSearch search-filter" type="text" placeholder="Start typing to search.."  #query (keyup)="getSearchResults(query.value)" />
                        <ul class="search-results" *ngIf="(showSearchInput == true && searchResult) && query != '' ">
                            <li (click)="closeMenu()" class="search-results-heading">Talents <span *ngIf = "searchTalentsCount > 0" class="search-result-counts"> ({{ searchTalentsCount }}) </span> </li>
                            <li (click)="closeMenu()" *ngFor = "let re of searchResult.talents" class="search-results-items" [routerLink]="['/talent-mall/product-info', re.id ]" (click) = "searchResult = null; showSearchInput = false;"> {{ re.title }}  </li>
                            <li *ngIf = "searchTalentsCount == 0" class="search-results-error">No results found.</li>
                            <li (click)="closeMenu()" class="search-results-heading">Categories <span *ngIf = "searchCategoriesCount >0" class="search-result-counts"> ({{ searchCategoriesCount }}) </span> </li>
                            <li (click)="closeMenu()" *ngFor = "let j of searchResult.categories" class="search-results-items" [routerLink]="['/talent-mall/detailed', j.id ]" (click) = "searchResult = null; showSearchInput = false;">{{ j.name }}</li>
                            <li *ngIf = "searchCategoriesCount == 0" class="search-results-error">No results found.</li>
                        </ul>
                    </span>
                    <a class="search-filter" style="padding-top: 10px; font-size: 16px;" (click)="showSearchInput = !showSearchInput;searchResult=null; "  data-toggle="tooltip" title="Search">
                        <span class="glyphicon glyphicon-search search-icon"></span>
                    </a>
                </li>
                <li (click)="closeMenu()" *ngIf="user && cartCount" [ngClass]="{routerLinkActive:active }" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <span *ngIf='currentUser'>
                        <span  *ngIf='currentUser.role_id=="buyer"'>
                            <button data-toggle="tooltip" title="Shipping Cart" type="button" class="btn btn-danger btn-sm b-btn cart-btn" routerLink="/cart">
                                <span *ngIf="cartCount.cart_count > 0" class="cart-count">{{cartCount.cart_count}} </span>
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                            </button>
                        </span>
                    </span>
                </li>
                <li *ngIf="user && user[0].role == 'seller'">
                    <a class="dropdown-margin" role="button" data-toggle="dropdown">{{user[0].username}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu seller-menu">
                        <li data-toggle="collapse" data-target="#myNavbar">
                            <a role="button" routerLink="/seller/account-setting">Account Info</a>
                        </li>
                        <li data-toggle="collapse" data-target="#myNavbar">
                            <a role="button" routerLink="/seller/change-password">Security</a>
                        </li>
                        <li>
                            <a role="button" (click)="logoutUser()">Logout</a>
                        </li>
                    </ul>
                </li>
                <li *ngIf="user && user[0].role == 'buyer'">
                    
                    <a class="dropdown-margin" role="button" data-toggle="dropdown">{{user[0].username}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu seller-menu">
                        <li data-toggle="collapse" data-target="#myNavbar">
                            <a role="button" routerLink="/buyer/account-setting">Account Info</a>
                        </li>
                        
                        <li data-toggle="collapse" data-target="#myNavbar">
                            <a role="button" routerLink="/buyer/change-password-buyer">Security</a>
                        </li>
                        
                        <li>
                            <a role="button" (click)="logoutUser()">Logout</a>
                        </li>
                    </ul>
                    
                </li>
            </ul>

        </div>
    </div>
</nav> 



<app-login #modal></app-login>
<button id="showLoginBox" (click)="modal.showNewRegister()" style="display:none"></button>

