.top-bg {
    border-bottom: 1px solid #303030;
    line-height: 30px;
    width: 100%;
    z-index: 99;
    font-size: 11px;
}

.top-bg ul {
    padding: 0px;
    list-style-type: none;
    float: right;
     margin: 0 15px 0 0;
}

.top-bg ul li {
    float: left;
    margin-left: 10px;
}

.top-bg ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

.user-dashboard {
    display: none;
}

.s-m-margin {
    margin-right: 15px !important;
}


.navbar-brand {
    float: left;
    height: 50px;
    padding: 5px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-inverse {
     background-color: transparent;
     border-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-weight: bold;
}

.navbar-nav > li > a:hover {
      background: transparent;
      color:#ff503f !important;
}

.social-media i:hover{
    color: #ff503f;
}

.social-media li a:hover{
    color: #ff503f !important;
}


.navbar-nav>.active>a{
    background: transparent;
    color:#ff503f !important;
}

.btn-danger{
    background: #ff503f;
}

.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 8;
}

.h-font {
    font-size: 11px;
}

.b-btn {
    padding:3px 0;
}

@media (min-width: 769px) and (max-width: 992px) {
.container>.navbar-header {
    margin-right: -2px;
    margin-left: -2px;
  }
  .nav>li>a {
    position: relative;
    display: block;
      padding: 18px 8px;
}
  .navbar-nav {
    float: left;
    margin: -2px;
  }
  .navbar{
    font-size: 10px;
  }

  .btn-sm {
    margin-top:13px;
  }
}


@media (min-width: 992px) and (max-width: 1200px) {
.container>.navbar-header {
    margin-right: -2px;
    margin-left: -2px;
  }
  .nav>li>a {
    position: relative;
    display: block;
      padding: 18px 8px;
}
  .navbar-nav {
    float: left;
    margin: -2px;
  }
  .navbar{
    font-size: 14px;
  }

  .btn-sm {
    margin-top:13px;
  }
}

@media (min-width: 768px){
    .navbar-right {
        margin-right: 15px;
    }
}




.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #ff503f;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover
{
    background-color: transparent !important;
    color: #ff503f ;
}

.seller-menu {
    /* min-width:145px; */
    font-size:12px;
}
