<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="social-buzz-banner">
  <h1 class="banner-text">FutureStarr
    <i class="fa fa-comments"></i> Social Buzz
    <br />
    <small> Promote your Products</small>
  </h1>
  <img class="star-search-banner" src="assets/images/social-buzz/socailbuzz-banner.jpg" alt="Social Buzz" />
</div>
<div class="container social-buzz-container">
  <div class="col-sm-2 sidebar-holder">
    <app-trending-category-sidebar (onclickCategory)="callCategorySocialBuzz($event)"></app-trending-category-sidebar>
    <!-- <app-shared></app-shared> -->
  </div>
  <div class="col-sm-7 category-timeline-container">
    <div class="category-heading">
      <h3>
        <!-- <b>AUTHOR</b> -->
        <b>{{ category }}</b>
      </h3>
    </div>

    <div class="share-something">
      <form novalidate #socialBuzz="ngForm" (ngSubmit)="addSocialBuzzPost(socialBuzz, commentsval.value)">
        <div class="row logo-and-heading">
          <img class="col-sm-3" src="assets/images/icons/futurelogo-short.png" alt="futurestarr">
          <h4 class="col-sm-9">WHAT DO YOU LIKE TO PROMOTE? </h4>
        </div>
        <div class="row share-text">
          <!-- <textarea class="form-control" name="comment" [(ngModel)]="socialBuzz.comment" placeholder="Write something here... "></textarea> -->
          <textarea placeholder="Write something here... " #commentsval class="form-control" name="comment" id="Emojii"></textarea>
          <!-- <emoji-input name="comment"
          [(model)]="bindedVariable"
          [textArea]="{cols: 40, rows: 5}"
          [popupAnchor]="'bottom'"
          (setPopupAction)="setPopupAction($event)"
          ></emoji-input> -->
        </div>

        <div class="row url-link">
          <hr>
          <div class="col-md-8 col-sm-8 col-xs-10">
            <input type="text" class="form-control" name="product_link" [(ngModel)]="socialBuzz.product_link" placeholder="Copy and paste product url">
          </div>
          <div class="col-md-1 col-sm-1 col-xs-2" style="padding: 0px !important">
            <div class="file-upload">
              <div class="file-select">
                <i data-toggle="tooltip" title="Add image and video" class="fa fa-picture-o cursor-pointer" aria-hidden="true"><div
                    class="" id="fileName"></div></i>
                <span *ngIf="imageUploader.queue.length<1"> {{this.profileImage }} </span>
                <div *ngIf="imageUploader.queue.length>0" class="file-select-name" id="noFile">
                  <span *ngFor="let item of imageUploader.queue">
                    <span>{{item.file.name}} </span>
                  </span>
                </div>
                <input (change)="filee($event)" style="width: 25px;" data-toggle="tooltip" title="Add image and video" class="cursor-pointer"
                  type="file" id="chooseFile" name="profile_pic" ng2FileSelect [uploader]="imageUploader">

              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-3 col-xs-12">
            <button type="submit" class="btn btn-danger mobile-view-button-style" style="background-color:#c9302c;">SEND</button>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-11 col-xs-11 text-center">
            <ul class="file-list">
              <li *ngIf="imageUploader.queue.length<1"> {{this.profileImage }} </li>
              <li *ngFor="let item of imageUploader.queue">
                <span>{{item.file.name}} </span>
                <a href="javascript:;" (click)="item.remove()">
                  <i class="fa fa-remove"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-1 col-xs-1"></div>
        </div>
      </form>
    </div>
    <!-- Time posts of other users -->
    <div *ngIf="buzzs && buzzs.length>0">
      <div class="timeline-post" *ngFor="let buzz of buzzs">
        <div class="share-something">
          <div class="row logo-and-heading">
            <div class="profile-picture-box col-sm-2 col-xs-4 text-center no-padding-right">

              <a routerLink="/users-profile/{{ buzz.user_id}}" target="_blank">
                <img *ngIf="buzz.profile_pic == null || buzz.profile_pic == ''" style="width: 50px; border-radius: 50%; height: 50px;" src="assets/images/profile.png">
                <img *ngIf="buzz.profile_pic != ''" style="width: 50px; border-radius: 50%; height: 50px;" [src]="buzz.new_profile_pic">
              </a>
              <!-- </div>
                
              </div> -->

            </div>
            <div class="col-sm-10 col-xs-8 no-padding-left">
              <h4>{{ buzz.first_name }} {{ buzz.last_name }}</h4>
            </div>

          </div>
          <div class="row share-text">
            <p class="post-text">{{ buzz.comment }}
            </p>
          </div>

          <div class="row logo-and-heading" *ngIf="buzz.new_product_img_path != null">
            <div class="profile-picture-box product-img">
              <!-- <img style="padding: 0 5px 0 5px;"  class="img-responsive product-img-box" src="assets/images/profile.png"> -->
              <div *ngIf="buzz.new_product_img_path != null">
                <img *ngIf="isImage(buzz.new_product_img_path)" style="padding: 0 5px 0 5px;" class="img-responsive product-img-box" [src]="buzz.new_product_img_path">

                <video *ngIf="isVideo(buzz.new_product_img_path)" style="width: 100%;height: calc(100vh - 420px);" controls class="video_el"
                  #videoel>
                  <source [src]="buzz.new_product_img_path">
                </video>
              </div>
            </div>
          </div>

          <div class="row actions">
            <hr>
            <div class="col-sm-12 col-xs-12">

              <ul class="no-padding">
                <li class="awards" (click)="giveAwardModal(buzz.social_buzz_id)">
                  <i class="fa fa-trophy"></i>{{ buzz.total_award }} Awards</li>
                <li class="comments" (click)="commentModal(buzz.social_buzz_id)">
                  <i class="fa fa-comments"></i>{{buzz.total_comment}} Comments</li>
                <li [ngClass]="{'disabled-purchase': buzz.product_link == null}" class="share" (click)="shareModal(buzz)">
                  <i class="fa fa-share-alt" aria-hidden="true"></i> Share</li>
                <li [ngClass]="{'disabled-purchase': buzz.product_link == null}" class="purchase" (click)="purchaseModal(buzz.social_buzz_id, buzz.new_product_link)">
                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>Purchase</li>
                <li class="purchase" (click)="riderModal(buzz)">
                  <i class="fa fa-motorcycle riders" aria-hidden="true"></i>{{ buzz.total_riders }} Riders
                </li>
                <li (click)="reportUserModal(buzz.social_buzz_id)">
                  <span class="report"><i class="fa fa-flag"></i>Report</span>
                </li>
              </ul>

            </div>
            <!-- <div class="col-sm-2 col-xs-3 no-padding">
            <span class="report" (click)="reportUserModal(buzz.social_buzz_id)">
                  <i class="fa fa-flag"></i>Report</span>
          </div> -->
          </div>
          <div class="row url-link" hidden="true">
            <hr>
            <div class="col-sm-9 col-xs-10">
              <!-- <input type="text" class="form-control" name="url" placeholder="any url"> -->
              <a *ngIf="buzz.product_link !=null" class="social-buzz-product-link" [routerLink]="[buzz.new_product_link[1]]" target="_blank">
                {{ buzz.product_link }}</a>
              <a *ngIf="buzz.product_link ==null" class="social-buzz-product-link">No link is available.</a>
            </div>
            <!-- <div class="col-sm-1 col-xs-2">
            <i class="fa fa-file-image-o" aria-hidden="true"></i>
          </div>
          <div class="col-sm-2 col-xs-12">
            <button class="btn btn-danger mobile-view-button-style" style="background-color:#c9302c;">SEND</button>
          </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-2 ad-container" *ngIf="commercial_ads && commercial_ads.length>0">
    <div *ngFor="let ads of commercial_ads" class="ad-box">
      <a *ngIf="ads.product_id" (click)="openProductLink(ads)" class="cursor-pointer">
        <img [src]="(ads.banner  && isImage(ads.banner))?ads.banner:'assets/images/star-logo.png' " width="100%" />
        <h6 class="purchase-ad-text">{{ ads.description }}</h6>
      </a>
      <a *ngIf="!ads.product_id">
        <img [src]="ads.banner" width="100%" />
        <h6 class="purchase-ad-text">{{ ads.description }}</h6>
      </a>
    </div>
    <!-- <div *ngFor="let ads of commercial_ads" class="ad-box" [ngStyle]="{'background' : 'url('+ads.banner+') no-repeat 0 0', 'background-size':'100% 100%'}">
      <h6 class="purchase-ad-text">{{ ads.description }}</h6>
    </div> -->
    <!-- <div class="ad-box">
      <h6 class="purchase-ad-text">Purchase ad here</h6>
    </div>
    <div class="ad-box">
      <h6 class="purchase-ad-text">Purchase ad here</h6>
    </div> -->
  </div>
  <div class="col-sm-2 ad-container" *ngIf="!commercial_ads">
    <div class="ad-box">
      <img src="assets/images/social-buzz/ad.png" alt="futurestarr" width="100%" style="display: block !important;" />
    </div>
    <div class="ad-box">
      <img src="assets/images/social-buzz/ad.png" alt="futurestarr" width="100%" style="display: block !important;" />
    </div>
    <div class="ad-box">
      <img src="assets/images/social-buzz/ad.png" alt="futurestarr" width="100%" style="display: block !important;" />
    </div>
  </div>
</div>



<div class="">
  <button class="go-back-btn" (click)="goBack()" id="backBtn" title="Go to back">
    <i class="fa fa-chevron-left"></i>
  </button>

  <button (click)="topFunction()" id="myBtn" title="Go to top">
    <i class="fa fa-chevron-up"></i>
  </button>
</div>


<!-- Award Modal Start-->
<div class="social-buzz-modals">
  <div class="modal fade" id="giveAward" role="dialog">
    <div class="modal-dialog">
      <form>
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h5 class="pull-right">
              <i class="fa fa-trophy"></i>
              <span style="color:red">{{ userAssetResponse.award_count }} </span> Award</h5>
            <h4 class="modal-title"> Awards </h4>
          </div>
          <div class="modal-body">
            <div class="centered-modal-body" *ngIf="userAssetResponse.is_user_already_awarded == false">
              <h4>Are you sure to award this talent?</h4>
              <button type="submit" class="btn btn-danger" (click)="awardSocialBuzzPost(true)">SAVE</button>
              <button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>
            </div>
            <div *ngIf="userAssetResponse.is_user_already_awarded == true">
              <h4>You have already awarded this talent.</h4>
            </div>
          </div>
          <div class="modal-footer">
            <div class="fanbase-background">
              <h5>Fan Base</h5>
            </div>
            <div class="row" *ngFor="let fanBase of userAssetResponse.fan_base">
              <div class="col-sm-1 col-xs-2 text-center">
                <a target="_blank" routerLink="/users-profile/{{ fanBase.id}}">
                  <img *ngIf="!fanBase.profile_pic" class="circular img-40" src="assets/images/profile.png">
                  <img *ngIf="fanBase.profile_pic" class="circular img-40" [src]="fanBase.new_profile_pic">
                </a>
              </div>
              <div class="col-sm-11 col-xs-10">
                <h5>{{ fanBase.first_name }}</h5>
              </div>

            </div>
            <div class="no-fanbase-data-found" *ngIf="userAssetResponse.award_count == 0">
              <h5>No one awarded this talent yet!</h5>
            </div>
            <!-- <div class="row">
                <div class="fanbase-users">
                  <img class="col-sm-3" src="../assets/images/profile.png">
                </div>
                <h5 class="col-sm-9 col-xs-8">Johny</h5>
              </div>
              <div class="row">
                <div class="fanbase-users">
                  <img class="col-sm-3" src="../assets/images/profile.png">
                </div>
                <h5 class="col-sm-9 col-xs-8">Johny</h5>
              </div> -->
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Award Modal End-->

<!-- Rider Modal Start-->
<div class="social-buzz-modals">
  <div class="modal fade" id="riderModal" role="dialog">
    <div class="modal-dialog">
      <form>
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <span class="pull-right">
              <i class="fa fa-motorcycle riders"></i>
              <span style="color:red">{{ userAssetResponse.award_count }} </span> Riders &nbsp;</span>
            <span class="modal-title"><b> Riders</b> </span>

          </div>
          <div *ngIf="!isAlreadyRider" class="modal-body">
            <div class="centered-modal-body">
              <h4>Are you ready to ride?</h4>
              <button type="submit" class="btn btn-danger" (click)="ridePost()">YES</button>
              <button type="button" class="btn btn-default btn-d" data-dismiss="modal">NO</button>
            </div>

          </div>
          <div class="modal-footer">
            <div class="fanbase-background text-left">
              <h5>Fan Base</h5>
            </div>
            <div class="row margin-top-5" *ngFor="let rider of allRiders">
              <div class="col-sm-1 col-xs-2 text-center">
                <a target="_blank" routerLink="/users-profile/{{ rider.id}}">
                  <img *ngIf="!rider.profile_pic" class="circular img-40" src="assets/images/profile.png">
                  <img *ngIf="rider.profile_pic" class="circular img-40" [src]="rider.new_profile_pic">
                </a>
              </div>
              <div class="col-sm-11 col-xs-10 text-left">
                <h5>{{ rider.first_name }} {{ rider.last_name }}</h5>
              </div>

            </div>
            <div class="no-fanbase-data-found" *ngIf="userAssetResponse.award_count == 0">
              <h5>No Riders yet!</h5>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Rider Modal End-->

<!-- Comment Modal Start-->
<div class="modal fade comment-modal" id="comment" role="dialog">
  <div class="modal-dialog">
    <form novalidate #socialBuzzComment="ngForm" (ngSubmit)="addSocialBuzzComment(socialBuzzComment)">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> Leave a Comment </h4>
        </div>
        <div class="modal-body">
          <div class="centered-modal-body">
            <textarea class="form-control" name="comment" placeholder="Your Comment.. " [(ngModel)]="socialBuzzComment.comment"></textarea>
          </div>
          <div class="commnets-box margin-top" *ngIf=" postVals &&  postVals.length>0">
            <div class="row commnets-row margin-top-5 margin-bottom-5" *ngFor="let postVal of postVals; let i of index">
              <div class="col-sm-1 col-xs-2 text-center">
                <a target="_blank" routerLink="/users-profile/{{ postVal.user_id}}">
                  <img *ngIf="postVal.new_profile_pic == ''" class="circular img-40" src="assets/images/profile.png">
                  <img *ngIf="postVal.new_profile_pic != ''" class="circular img-40" src="{{postVal.new_profile_pic}}">
                </a>
                <!-- <img class="col-sm-3" src="assets/images/profile.png"> -->
              </div>
              <div class="col-sm-11 col-xs-10 text-left">
                <h6 class="margin-0"><b> {{postVal.first_name}} {{postVal.last_name}}</b></h6>
                <p>{{postVal.post_comment}}

                  <!-- <span class="reply-text" (click)="test = true"> Reply </span>
                      <span *ngIf="test">
                        <input type="text" class="form-control reply-input" name="reply" [(ngModel)]="socialBuzzComment.reply" placeholder="Give a repply...">
                      </span> -->

                  <!-- <span class="reply-text" (click)="toggle(postVal.comment_id, i)"> Reply </span> -->
                  <span *ngIf="showReplyInputBox == postVal.comment_id">
                    <input type="text" class="form-control reply-input" name="reply" [(ngModel)]="postVal.reply" (ngModelChange)="onSelect(postVal)"
                      placeholder="Give a repply...">
                    <input type="hidden" [(ngModel)]="postVal.comment_id" name="id" />
                  </span>

                </p>
              </div>
            </div>
            <!-- <div class="row commnets-row">
                  <div class="col-sm-1">
                    <img src="../assets/images/profile.png">
                  </div>
                  <div class="col-sm-10">
                    <h6 class="user-name-heading"> Kris Robbins </h6>
                    <p class="comment-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      <span class="reply-text"> Reply </span>
                    </p>
                  </div>
                </div>
                <div class="row commnets-row">
                  <div class="col-sm-1">
                    <img src="../assets/images/profile.png">
                  </div>
                  <div class="col-sm-10">
                    <h6 class="user-name-heading"> Kris Robbins </h6>
                    <p class="comment-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      <span class="reply-text"> Reply </span>
                    </p>
                  </div>
                </div> -->
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" [disabled]="!socialBuzzComment.comment" class="btn btn-danger">SAVE</button>
          <button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Comment Modal End-->

<!-- Share Modal Start-->

<!-- Send Message Modal End-->
<div class="social-buzz-modals">
  <div class="modal fade share-modal" id="shareModal" role="dialog">
    <div class="modal-dialog">
      <form #social="ngForm" (ngSubmit)="shareOnSocialMedia(social)">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"> Share </h4>
          </div>
          <div class="modal-body">
            <!-- <div>
              <h5>
                <b>Lorem ipsum dolor sit amet consectetur elit. </b>
              </h5>
              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quas soluta molestiae ipsum dolor sit amet
                consectetur adipisicing elit ducimus.
              </p>
            </div> -->
            <div class="form-group text-center">
              <div class="btn-group btn-icons" role="group">
                <br />
                <ul class="nav">
                  <li class="list-item-facebook">
    
                    <a class="social-btn-facebook btn modal-btn btn-bg" shareButton="facebook" [sbUrl]="shareUrl">
                      <i class="fa fa-facebook"> </i>
                      <span class="separator"></span> FACEBOOK</a>
                  </li>
                  <!--<li class="list-item-instagram">-->
                  <!--<a class="social-btn-instagram btn modal-btn btn-bg" (click)="getSocialShareMediaName('instagram')">-->
                  <!--<i class="fa fa-instagram"></i>-->
                  <!--<span class="separator"></span> INSTAGRAM</a>-->
                  <!--</li>-->
                  <li class="list-item-instagram">
                    <a class="social-btn-instagram btn modal-btn btn-bg" shareButton="google" [sbUrl]="shareUrl" >
                      <i class="fa fa-google-plus"></i>
                      <span class="separator"></span> GOOGLE +</a>
                      <!-- <share-button button="google" theme="circles-dark" text="Share" [url]="shareUrl"></share-button> -->
                  </li>
                  <li class="list-item-twitter">
                    <a class="social-btn-twitter btn modal-btn btn-bg" shareButton="twitter" [sbUrl]="shareUrl"  >
                      <i class="fa fa-twitter"></i>
                      <span class="separator"></span> TWITTER</a>
                      <!-- <share-button button="twitter" theme="circles-dark" text="Share" [url]="shareUrl"></share-button> -->
                  </li>
                  <li class="list-item-linkedin">
                    <a class="social-btn-linkedin btn modal-btn btn-bg" shareButton="linkedin" [sbUrl]="shareUrl" >
                      <i class="fa fa-linkedin" aria-hidden="true"></i>
                      <span class="separator"></span> LINKEDIN</a>
                      <!-- <share-button button="linkedin" theme="circles-dark"  text="Share" [url]="shareUrl"></share-button> -->
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <!-- <button type="submit" class="btn btn-danger">SHARE</button> -->
            <button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Share Modal End-->

<!-- Report User Modal Start-->

<div class="modal fade report-user" id="reportUser" role="dialog">
  <div class="modal-dialog">
    <form>
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> Report </h4>
        </div>
        <div class="modal-body">
          <div class="centered-modal-body">
            <h4>Flag this user for inappropriate behaviour</h4>
            <button type="submit" class="btn btn-danger" (click)="reportSocialBuzzPost(true)">YES</button>
            <button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>

<!-- Report User Modal End-->

<!-- Purchase Modal Start-->

<div class="modal fade report-user" id="purchaseModal" role="dialog">
  <div class="modal-dialog">
    <form>
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> Purchase </h4>
        </div>
        <div class="modal-body">
          <div class="centered-modal-body">
            <h4>Would you like to purchase?</h4>
            <!-- <button id="url" type="submit" class="btn btn-danger" (click)="goToPurchaseProduct()" [routerLink]="[product_url]" target="_blank">YES</button> -->
            <a id="url" class="btn btn-danger" (click)="goToPurchaseProduct()" href="{{ product_url }}" target="_blank">YES</a>
            <!-- <a type="submit" class="btn btn-danger" (click)="goToPurchaseProduct(url)" target="_blank">YES</a> -->
            <!-- <a *ngIf="product_url == null" type="submit" class="btn btn-danger" data-dismiss="modal">YES</a> -->
            <button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>

<!-- Purchase Modal End-->

<!-- </div> -->

<!-- sell your talent modal -->
<div class="modal-ask-to-login fade" id="askToJoinAsSeller" role="dialog">
  <div class="modal-dialog">
    <form>
      <!-- Modal content-->
      <div class="ask-to-login">
        <div class="modal-body">
          <br />
          <h3 class="ask-register"> To use this feature please register as Seller or Buyer. <br /> <small>By clicking Register,
              you will be logged out from your current account. </small></h3>
          <!-- <i class="fa fa-circle-o-notch fa-spin"></i> -->
        </div>
        <div class="modal-footer ">
          <button type="submit" class="btn btn-danger" data-dismiss="modal" (click)="goToRegister()">REGISTER</button>
          <button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- end of sell your talent modal -->

<!-- ASK TO LOGIN -->
<div class="modal-ask-to-login fade" id="askToLogin" role="dialog">
  <div class="modal-dialog">
    <form>
      <!-- Modal content-->
      <div class="ask-to-login">
        <div class="modal-body">
          <div class="form-group text-spinner">

            <h3 class="deleteConfirmation">Please login to use this feature! </h3>
            <i class="fa fa-circle-o-notch fa-spin"></i>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>