/* .nav > li{
    position: relative;
    display: inline;
    padding:5px;
}

.nav .active {
    background-color: #ff503f;
}

.nav > li > .social-btn {
    display: inline-block;
    /*padding: 6px 12px;*/
     /* padding: 3px 9px;
}
.separator{
    content: '';
    display: inline-block;
    background: #888;
    margin: 0 6px;
    height: 18px;
    width: 1px;
    vertical-align: top;
} */

.file-upload .file-select {
    border: none;
    height: 27px;
    line-height: 28px;
}
