.btn {
    padding: 6px 18px;
    font-size: 11px;
    border-radius: 2px;
}

.option-box {
    background: #e9e9e9;
}

.option-box a {
    color: #ccc !important;
}

.option .active {
    background: #ff503f !important;
}

.option .active a {
    color: #fff !important;
}

.option {
    padding-left: 3px !important;
    padding-right: 3px !important;
}

.message-sidebar {
    background: #ffffff;
    box-shadow: -1px 3px 28px -9px #333;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.m-t-10 {
    margin-top: 10px;
}

.head-options {
    text-align: right;
    margin-top: 20px;
    color: #ff503f;
}

.btn-setting a {
    font-size: 10px;
    color: #fff;
}

.btn-setting:hover {
    color: #fff;
}

a {
    cursor: pointer;

}

h3 {
    font-size: 20px;
    /*margin-bottom:20px;*/
}

.my-message {
    background-color: #e9e9e9;
    /*border-radius: 3px;*/
    /*padding: 8px;*/
      border-radius: 5px;
    padding: 10px 20px;
    /* width: 90%; */
}

.m-t-15 {
    margin-top: 15px;
}

.type-message {
    width: 102%;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 20px 25px;
    margin-left: -15px;
}

.highlighted-icon {
    background: #ff503f;
    color: #fff;
    padding: 6px;
    border-radius: 50%;
}

.normal-icon {
    color: #ccc;
    padding-right: 8px;
}

.filter a {
    color: black
}

.filter a.active {
    color: #ff503f
}

.faded-text {
    color: #a8a8a8;
}

.tab-pan {
    display: none;
}

.tab-pan.active {
    display: block;
}

.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 29px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dddddd;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #ff503f;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.on {
    display: none;
}

.on, .off {
    color: white;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 53%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

input:checked + .slider .on {
    display: block;
}

input:checked + .slider .off {
    display: none;
}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.audio-pic {
    width: 70px;
    vertical-align: middle;
    display: block;
    margin: auto;
    margin-top: 50px;
}

.exchange {
    color: #ccc;
    margin-top: 70px;
    display: block;
    text-align: center;
}

.audio-modal {
    height: 280px;
}

.video-pic {
    width: 169px;
    height: 123px;
    vertical-align: middle;
    display: block;
    margin: auto;
    margin-top: 29px;
}

.video-exchange {
    position: absolute;
    left: 48%;
    top: 96px;
    z-index: 9999;
    color: #ffffff;
    background: #ff503f;
    padding: 7px;
    border-radius: 50%;
    font-size: 20px;
}

.sidebar-pic {
    width: 32px;
    height: 32px;;
}

.message-time {
    margin-left: 22%;
}
.trash{
        margin-left:32%;
        color:#ff503f;
    }

@media (min-width: 768px) and (max-width: 992px) {
    .container {
        width: 100%;
    }

    .message-time {
        margin-left: 4%;
    }

    .sidebar-pic {
        width: 29px;
        height: 29px;
    }
    .trash{
        margin-left:17%;
    }

}

.username_head{
    margin: 26px 0px -14px 0px;
    padding: 7px;
}

.profile-circle {
    /* padding: 65px 10px; */
    /*background:#00ad2d;
    border:1px solid #00ad2d;*/
    position: relative;
    color: transparent;
    border-radius: 2px;
    text-align: center;
    /* float:; */
    cursor: pointer;
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top:20px;
    /*color:#a6a6a6;*/

}

.btn_css{
    /* background: #f8503f;/ */
    width: 13%;
    margin: 25px 13px 0px 0;
    color: white;
    border:none;
}

/* custom scroll bar css */

::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ead089; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.css_part_for_chat_boat{
    margin-top: 20px; 
    text-align: left;
    height: 590px;
    overflow: auto;
}

.chatbot_top_fixed{
    position: sticky;
    top: 0;
    /* z-index: 9999; */
    background: #fff;
}

.chatbot_bottom_fixed{
    position:sticky;
    bottom: 0;
    /* z-index: 9999; */
    background: #fff;
}


