<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div>
    <img src="assets/images/message.PNG" style="width:100%">
</div>

<!--<a class=" btn h-previous h-round" (click)="goBack()"><i class="h-cruser fa fa-angle-left"></i></a>-->
<div class="container register-container">
    <div class="row">
        <div class="col-sm-3 text-center">
            <h3 class="username_head">{{username}} {{last_name}}</h3>
            <!-- <a routerLink="/seller/account-setting"> -->
                <img *ngIf="!profile_pic" src="assets/images/profile.png" class="profile-circle">
                <img *ngIf="profile_pic" src="{{profile_pic}}" class="profile-circle" style="width:70px">
            <!-- </a> -->
            <!-- <span *ngif="profile_pic == null">
                 
            </span>
            <span *ngif="profile_pic != null">
                <img src="{{profile_pic}}" class="profile-circle" style="width:70px">
            </span> -->
            <br>

            <div class="text-center s-list1">
                <a class="mb-list inbox-l inbox-color" routerLink="/message"><span class="bkt" [ngClass]="{'text-bold' : unread_count_value>0}">Inbox
                        ({{unread_count_value}})
                    </span></a>
                <!-- <a class="mb-list inbox-l inbox-color" routerLink="/message"><span class="bkt" *ngIf="unread_count_value == 0 ">Inbox (0)</span></a> -->

            </div>

            <div class="text-center">
                <!-- <button type="button" class="btn btn-danger btn-setting" name="button"><a
                        routerLink="/seller/account-setting">PROFILE
                    SETTING</a></button> -->
                <a *ngIf="role_id == 'seller'" class="btn btn-danger btn-setting" routerLink="/seller/account-setting">PROFILE
                    SETTING
                </a>
                <a *ngIf="role_id == 'buyer'" class="btn btn-danger btn-setting" routerLink="/buyer/account-setting">PROFILE
                    SETTING
                </a>

            </div>
            <div class="col-sm-12 message-sidebar" style="height:400px; overflow-y:scroll;overflow-x: hidden;">
                <div class="row padding-8" style="margin-top: 5px;">
                    <div class="col-sm-3 col-md-3 col-xs-3 option">
                        <div class="option-box active" id="option1" data-target="#option1">
                            <a data-toggle="tooltip" title="Message List" data-toggle=".tab-pan" id="option1-a" data-target="#tab1" (click)="get_all_user()">
                                <div><i class="fa fa-envelope"></i></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-3 option">
                        <div class="option-box" id="option2" data-target="#option2">
                            <a data-toggle="tooltip" title="Contact List" data-toggle=".tab-pan" id="option2-a" data-target="#tab2" (click)="get_all_fav_contact()">
                                <div><i class="fa fa-address-book"></i></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-3 option">
                        <div class="option-box" id="option3" data-target="#option3">
                            <a data-toggle="tooltip" title="Delete Message" (click)="get_all_user()" data-toggle=".tab-pan" id="option3-a" data-target="#tab3">
                                <div><i class="fa fa-trash"></i></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-3 option">
                        <div class="option-box" id="option4" data-target="#option4">
                            <a data-toggle="tooltip" title="Setting" data-toggle=".tab-pan" id="option4-a" data-target="#tab4">
                                <div><i class="fa fa-cog"></i></div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tab-pan active" id="tab1">
                    <div class="m-t-10">
                        <input type="text" placeholder="search" class="message-search" [(ngModel)]="searchText">
                    </div>
                    <div class="m-t-10 filter" style="text-align: left">
                        <p><a class="active" id="allmsg" (click)="get_all_user('all');">All</a> | <a class="" id="readmsg"
                                (click)="get_read_msg();">Read</a> | <a id="unrmsg" (click)="get_unread_msg();">Unread</a></p>
                    </div>
                    <div class="row m-t-10" *ngFor="let users of all_users | userfilter :{ first_name: searchText, last_name: searchText } : false">
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-xs-3">
                                <a target="_blank" routerLink="/users-profile/{{ users.user_id}}">
                                    <img *ngIf="!users.profile_pic" src="assets/images/profile.png" class="sidebar-pic">
                                    <img style="border-radius: 20px; height: 32px;" *ngIf="users.profile_pic" src="{{image_path}}{{users.profile_pic}}" class="sidebar-pic">
                                </a>
                            </div>
                            <div style="cursor: pointer;" class="col-sm-9 col-md-9 col-xs-9" *ngIf="users.count_msg > 0 " (click)="show_all_messages(users.user_id, users.first_name,users.last_name, users.chat_id, users)">
                                <div class="row" style="text-align: left;text-transform: capitalize;">
                                    <span><b>{{users.first_name}} {{users.last_name}} ({{users.count_msg}})</b><br>
                                        <span class="">{{ users.date | date:'dd-MMM-yy | h:m:a' }}</span></span>
                                </div>
                                <div class="row faded-text" style="text-align: left">
                                    {{users.message | slice:0:15 }}
                                </div>
                            </div>
                            <div style="cursor: pointer;" class="col-sm-9 col-md-9 col-xs-9" *ngIf="users.count_msg == 0 " (click)="show_all_messages(users.user_id,users.first_name,users.last_name, users.chat_id, users)">
                                <div class="row" style="text-align: left;text-transform: capitalize;">
                                    <span>{{users.first_name}} {{users.last_name}}</span><br>
                                    <span class="">{{ users.date | date:'dd-MMM-yy | h:m:a' }}</span>
                                </div>
                                <div class="row faded-text" style="text-align: left">
                                    {{users.message | slice:0:15 }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pan" id="tab2">
                    <div class="m-t-10">
                        <input type="text" placeholder="search" class="message-search" [(ngModel)]="favsearchText" (keyup)="contactSearch()">
                    </div>

                    <p class="m-t-10" style="color:#ff503f; text-align: left;">
                        <b>Favorites</b>
                    </p>

                    <div class="row margin-bottom-5 margin-top-5" *ngFor="let fav_list of favrate_user_list  | userfilter :{ first_name: favsearchText, last_name: favsearchText } : false">
                        <div class="col-sm-2 col-md-2 col-xs-3">
                            <a target="_blank" routerLink="/users-profile/{{ fav_list.id}}">
                                <img *ngIf="fav_list.new_profile_pic == ''" src="assets/images/profile.png" class="sidebar-pic circular">
                                <img *ngIf="fav_list.new_profile_pic != ''" [src]="fav_list.new_profile_pic" class="sidebar-pic circular">
                            </a>
                        </div>
                        <div class="col-sm-10 col-md-10 col-xs-9" (click)="show_all_messages(fav_list.id,fav_list.first_name,fav_list.last_name, fav_list.chat_id, fav_list)">
                            <div style="text-align: left">
                                <span class="cursor-pointer"><b>{{fav_list.first_name}} {{fav_list.last_name}} </b></span>

                            </div>
                            <!-- <div class="row faded-text" style="text-align: left">
                                dummy data
                            </div> -->
                        </div>
                    </div>

                    <p class="m-t-10" style="color:#ff503f; text-align: left;">
                        <b>All</b>
                    </p>

                    <div class="row margin-bottom-5 margin-top-5" *ngFor="let all_list of all_contact_list | userfilter :{ first_name: searchText, last_name: searchText } : false; let i = index">
                        <div class="col-sm-2 col-md-2 col-xs-3">
                            <a target="_blank" routerLink="/users-profile/{{ all_list.id}}">
                                <img *ngIf="all_list.new_profile_pic == ''" src="assets/images/profile.png" class="sidebar-pic circular">
                                <img *ngIf="all_list.new_profile_pic != ''" [src]="all_list.new_profile_pic" class="sidebar-pic circular">
                            </a>
                        </div>
                        <div class="col-sm-10 col-md-10 col-xs-9" (click)="show_all_messages(all_list.id,all_list.first_name,all_list.last_name, all_list.chat_id, all_list)">
                            <div style="text-align: left">
                                <span class="cursor-pointer"><b>{{all_list.first_name}} {{all_list.last_name}} </b></span>
                            </div>
                            <!--<div class="row faded-text" style="text-align: left">
                                    dummy data
                                </div>-->
                        </div>
                    </div>

                </div>
                <div class="tab-pan" id="tab3">
                    <p class="m-t-15" style="color:#ff503f; text-align: left;">
                        <input type="checkbox" [(ngModel)]="isDeleteChecked" (change)="deleteAll($event)"> <b>Delete All</b>
                    </p>
                    <div class="row m-t-10" *ngFor="let usermsg of all_users">
                        <div class="row no-margin">
                            <div class="col-sm-2 col-md-2 col-xs-3 no-padding-right">
                                <img *ngIf="!usermsg.profile_pic" src="assets/images/profile.png" class="sidebar-pic">
                                <img style="border-radius: 20px; height: 32px;" *ngIf="usermsg.profile_pic" src="{{image_path}}{{usermsg.profile_pic}}" class="sidebar-pic">
                            </div>
                            <div class="col-sm-10 col-md-10 col-xs-9">
                                <div class="row no-margin">
                                    <div class="col-sm-9 col-md-9 col-xs-9 text-left no-padding">
                                        <span><b>{{usermsg.first_name}} {{usermsg.last_name}} </b></span>
                                        <p class="faded-text">
                                            {{usermsg.message | slice:0:15}}
                                        </p>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-xs-3 text-right">
                                        <a><span class="trash" id="{{usermsg.chat_id}}" (click)="deletemessage(usermsg.chat_id)"><i
                                                    class="fa fa-trash"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pan m-t-10" id="tab4" style="text-align: left">
                    <label class="switch"><input type="checkbox" [(ngModel)]="settings" (change)="toggelSetting()" id="togBtn">
                        <div class="slider round">
                            <!--ADDED HTML -->
                            <span class="on">ON</span>
                            <span class="off">OFF</span>
                            <!--END-->
                        </div>
                    </label>
                    <p>Send automatic replies to Incoming messages</p>
                    <textarea [(ngModel)]="automaticMessage" rows="4" class="automatictextarea"></textarea><br>
                    <button class="btn btn-danger" [disabled]="!automaticMessage" (click)="saveAutomaticMessage()">Save</button>
                    <button class="btn btn-default">Cancel</button>
                </div>
            </div>
        </div>

        <div class="col-sm-9 message-sidebar css_part_for_chat_boat" #scrollMe>
            <div class="row chatbot_top_fixed">
                <div class="col-sm-8 col-xs-8">
                    <h3 class="message-heading">{{userfirst}} {{userLast}}</h3>
                    <p class="message-sub-heading">{{ today_date | date:'yMMMMEEEEd' }}</p>
                </div>
                <div *ngIf='!favrate_res' class="col-sm-4 col-xs-4 head-options" id="favmark"><i data-toggle="tooltip" title="Add Favourite"
                        (click)="add_to_favrate(favrate_id)" style="font-size:30px; cursor: pointer;" class="fa fa-star-o"> </i></div>
                <div *ngIf='favrate_res' class="col-sm-4 col-xs-4 head-options" id="unfavmark"><i data-toggle="tooltip" title="Remove Favourite"
                        (click)="remove_from_favrate(favrate_id)" style="font-size:30px; cursor: pointer;" class="fa fa-star">
                    </i></div>
            </div>
            <div id="scrollMessageContent" #scrollMessageContent style="height:240px;overflow-y:auto;overflow-x:hidden;">
                <div *ngFor="let oneToone of user_message">

                    <div class="row margin-left margin-right margin-top" *ngIf='oneToone.sent_by!=current_user_id'>
                        <div class="col-sm-1 col-xs-2 ">
                            <a target="_blank" routerLink="/users-profile/{{ oneToone.sent_by}}">
                                <img src="{{ current_chat_userImage }} " class="img-32 circular">
                            </a>
                        </div>
                        <div class="col-sm-11 col-xs-10">
                            <div class="row">
                                <div class="col-sm-9 message-row"><b>{{userfirst}} {{userLast}}</b>
                                    <p class="faded-text" style="word-wrap: break-word;">{{oneToone.message}}</p>
                                    <span *ngIf="oneToone.message_media">
                                        <a href="{{ oneToone.message_media }}" target="_blank" class="text-wrap">
                                            <i class="fa fa-paperclip normal-icon"></i> {{ oneToone.message_media_name }}
                                        </a>
                                    </span>
                                </div>
                                <div class="col-sm-3" style="text-align: right"><b>{{ oneToone.date | date:'dd-MMM-yy h:m:a'
                                        }}
                                    </b></div>
                            </div>
                        </div>
                    </div>

                    <div class="row margin-left margin-right" *ngIf='oneToone.sent_by==current_user_id'>
                        <div class="col-sm-1 col-xs-2">
                            <img src="{{showOwnImage}}" class="img-32 circular">
                        </div>
                        <div class="col-sm-11 col-xs-10" style="margin-top: 5px;">
                            <div class="row">
                                <!-- <div class="col-sm-1 col-xs-2 text-right">
                                    <img src="{{showOwnImage}}" class="img-32 circular">
                                </div> -->
                                <div class="col-sm-12 col-xs-12 my-message">
                                    <span><b>Me</b> <span class="pull-right"><b>{{ oneToone.date | date:'dd-MMM-yy h:m:a'
                                                }}
                                            </b></span></span>
                                    <p class="faded-text" style="word-wrap: break-word;">{{oneToone.message}}</p>
                                    <span *ngIf="oneToone.message_media">
                                        <a href="{{ oneToone.message_media }}" target="_blank" class="text-wrap">
                                            <i class="fa fa-paperclip normal-icon"></i> {{ oneToone.message_media_name }}
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="chatbot_bottom_fixed">
                <form method="post" enctype="multipart/form-data">
                    <div class="row m-t-15">
                        <div class="col-sm-offset-1 col-sm-11">
                            <input type="file" #msgfileid (change)="fileInputSelect($event)" style="display: none;" name="sendfile">
                            <!-- <input type="text" #titleInput placeholder="Type message here" class="type-message" > -->
                            <textarea (keydown)=onKeydownEvent(titleInput.value) #titleInput placeholder="Type message here" name="text" class="type-message"
                                cols="20" rows="1" id="Emojii"></textarea>
                        </div>
                    </div>
                    <div class="row m-t-15">
                        <div class="col-sm-offset-1 col-sm-5">
                            <!-- <a data-toggle="modal" data-target="#audio-call"><i class="fa fa-phone highlighted-icon"></i></a>
                        <a data-toggle="modal" data-target="#video-call"><i class="fa fa-video-camera highlighted-icon"></i></a> -->
                        </div>
                        <div class="col-sm-6" style="text-align: right;">
                            <span *ngIf="userSelectedFile" class="user-file-select">
                                <!-- <i class="fa fa-file"></i><br> -->
                                {{ userSelectedFile.name }}
                                <a (click)="deleteSelectedFile()"><i data-toggle="tooltip" title="Remove" class="fa fa-remove text-danger file-delete-icon"></i></a>

                            </span>
                            <!-- <a><i class="fa fa-cog normal-icon"></i></a> -->
                            <!--<a><i class="fa fa-smile-o normal-icon"></i></a>-->
                            <a data-toggle="tooltip" title="Attachment" (click)='msgfileid.click();'><i class="fa fa-paperclip normal-icon"></i></a>
                            <!-- <button [disabled]="!userSelectedFile && !userTextInput" type="button" class="btn btn-danger" (click)="send_message(receiverId,titleInput.value)"><i class="fa fa-paper-plane"></i> Send</button> -->
                            <button [disabled]="!current_chat_userid" type="button" class="btn btn-danger" (click)="send_message(receiverId,titleInput.value)"><i
                                    class="fa fa-paper-plane"></i> Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="audio-call" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="col-sm-12 modal-content audio-modal">
                <div class="row" style="border-bottom: 1px solid #ccc;">

                    
                    <div class="col-sm-12">
                        <h5>Audio Call</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-8">
                        <div class="col-sm-4">
                            <img src="assets/images/profile.png" class="audio-pic">

                            <p style="text-align: center">Edward</p>
                        </div>

                        <div class="col-sm-4">
                            <i class="fa fa-exchange fa-2x exchange" aria-hidden="true"></i>

                            <p style="text-align: center; margin-top: 10px;">0.25 </p>
                        </div>

                        <div class="col-sm-4">
                            <img src="assets/images/profile.png" class="audio-pic">

                            <p style="text-align: center">Edward</p>
                        </div>
                        <button class="btn btn-danger" style="display: block; margin: auto;">End Call</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="video-call" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="col-sm-12 modal-content audio-modal">
                <div class="row" style="border-bottom: 1px solid #ccc;">
                    <div class="col-sm-10">
                        <h5>Video Call</h5>
                    </div>
                    <div class="col-sm-2">
                        <p style="text-align: right">0.25 </p>
                    </div>
                </div>
                <i class="fa fa-exchange video-exchange" aria-hidden="true"></i>

                <div class="row">
                    <div class="col-sm-offset-2 col-sm-8">
                        <div class="col-sm-6">
                            <img src="assets/images/video-image.jpg" class="video-pic">

                            <p style="text-align: center">Edward</p>
                        </div>

                        <div class="col-sm-6">
                            <img src="assets/images/video-image.jpg" class="video-pic">

                            <p style="text-align: center">Kris</p>
                        </div>
                        <button class="btn btn-danger" style="display: block; margin: auto;">End Video Call</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <button class="go-back-btn" (click)="goBack()" id="backBtn" title="Go to back">
            <i class="fa fa-chevron-left"></i>
        </button>
        <button (click)="topFunction()" id="myBtn" title="Go to top">
            <i class="fa fa-chevron-up"></i>
        </button>
    </div>