<!--Slider Start-->
<div id="bootstrap-touch-slider" class="carousel fade1 bs-slider control-round indicators-line" data-ride="carousel"
     data-pause="hover" data-interval="5000">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
        <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
        <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
        <li data-target="#bootstrap-touch-slider" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper For Slides -->
    <div class="carousel-inner" role="listbox">

        <!-- First Slide -->
        <div class="item active">

            <!-- Slide Background -->
            <img src="assets/images/model-banner.jpg" alt="Bootstrap Touch Slider" class="slide-image"/>

            <div class="bs-slider-overlay"></div>
            <!-- Slide Text Layer -->
            <div class="slide-text slide_style_left">
                <h1 data-animation="animated zoomInRight">Future Starr</h1>

                <p data-animation="animated fadeInLeft">The Offical <span style="color:#f8503f;">Talent</span> Market Place</p>
                <span data-animation="animated fadeInLeft">Sell your Talent Free - <span style="color:#f8503f;">Make Sales</span> - Be Your Own Boss</span>
               
                <button class="read-more-btn-onslider one" (click)="purchaseTalent()" >
                    Purchase New Talent
                </button>
                 <button class="read-more-btn-onslider two" (click)="sellTalent()" >
                   sell your talent
                 </button>
            </div>
        </div>

        <!-- End of Slide -->

        <!-- Second Slide -->
        <div class="item">

            <!-- Slide Background -->
            <img src="assets/images/book-author-banner.jpg" alt="Bootstrap Touch Slider" class="slide-image"/>

            <div class="bs-slider-overlay"></div>

            <div class="container">
                <div class="row">
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_left">
                        <h1 class="font" data-animation="animated zoomInRight">Future Starr</h1>

                        <p data-animation="animated fadeInLeft">The Offical <span style="color:#f8503f;">Talent</span> Market Place</p>
                        <span data-animation="animated fadeInLeft">Sell your Talent Free - <span style="color:#f8503f;">Make Sales</span> - Be Your Own Boss</span>
                        <button class="read-more-btn-onslider one" (click)="purchaseTalent()" >
                            Purchase New Talent
                        </button>
                         <button class="read-more-btn-onslider two" (click)="sellTalent()" >
                           sell your talent
                         </button>
        
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Slide -->

        <!-- Third Slide -->
        <div class="item">

            <!-- Slide Background -->
            <img src="assets/images/music-artist-banner.jpg" alt="Bootstrap Touch Slider" class="slide-image"/>

            <div class="bs-slider-overlay"></div>
            <!-- Slide Text Layer -->
            <div class="slide-text slide_style_left">
                <h1 data-animation="animated zoomInRight">Future Starr</h1>

                <p data-animation="animated fadeInLeft">The Offical <span style="color:#f8503f;">Talent</span> Market Place</p>
                <span data-animation="animated fadeInLeft">Sell your Talent Free - <span style="color:#f8503f;">Make Sales</span> - Be Your Own Boss</span>
                <button class="read-more-btn-onslider one" (click)="purchaseTalent()" >
                    Purchase New Talent
                </button>
                 <button class="read-more-btn-onslider two" (click)="sellTalent()" >
                   sell your talent
                 </button>
            </div>
        </div>
        <!-- End of Slide -->

        <!-- Forth Slide -->
        <div class="item">

            <!-- Slide Background -->
            <img src="assets/images/tattoo-artist-banner.jpg" alt="Bootstrap Touch Slider" class="slide-image"/>

            <div class="bs-slider-overlay"></div>
            <!-- Slide Text Layer -->
            <div class="slide-text slide_style_left">
                <h1 data-animation="animated zoomInRight">Future Starr</h1>

                <p data-animation="animated fadeInLeft">The Offical <span style="color:#f8503f;">Talent</span> Market Place</p>
                <span data-animation="animated fadeInLeft">Sell your Talent Free - <span style="color:#f8503f;">Make Sales</span> - Be Your Own Boss</span>
                <button class="read-more-btn-onslider one" (click)="purchaseTalent()" >
                    Purchase New Talent
                </button>
                 <button class="read-more-btn-onslider two" (click)="sellTalent()" >
                   sell your talent
                 </button>

            </div>
        </div>
        <!-- End of Slide -->


         <!-- Fifth Slide -->
         <div class="item">

            <!-- Slide Background -->
            <img src="assets/images/rsz_cat-and-photographer-p3l8lxb.jpg" alt="Bootstrap Touch Slider" class="slide-image" />

            <div class="bs-slider-overlay"></div>
            <!-- Slide Text Layer -->
            <div class="slide-text slide_style_left">
                <h1 data-animation="animated zoomInRight">Future Starr</h1>

                <p data-animation="animated fadeInLeft">The Offical <span style="color:#f8503f;">Talent</span> Market Place</p>
                <span data-animation="animated fadeInLeft">Sell your Talent Free - <span style="color:#f8503f;">Make Sales</span> - Be Your Own Boss</span>
                <button class="read-more-btn-onslider one" (click)="purchaseTalent()" >
                    Purchase New Talent
                </button>
                 <button class="read-more-btn-onslider two" (click)="sellTalent()" >
                   sell your talent
                 </button>
            </div>
        </div>
        <!-- End of Slide -->

          <!-- Sixth Slide -->
         <div class="item">

            <!-- Slide Background -->
            <img src="assets/images/rsz_health.jpg" alt="Bootstrap Touch Slider" class="slide-image"/>

            <div class="bs-slider-overlay"></div>
            <!-- Slide Text Layer -->
            <div class="slide-text slide_style_left">
                <h1 data-animation="animated zoomInRight">Future Starr</h1>

                <p data-animation="animated fadeInLeft">The Offical <span style="color:#f8503f;">Talent</span> Market Place</p>
                <span data-animation="animated fadeInLeft">Sell your Talent Free - <span style="color:#f8503f;">Make Sales</span> - Be Your Own Boss</span>
                <button class="read-more-btn-onslider one" (click)="purchaseTalent()" >
                    Purchase New Talent
                </button>
                 <button class="read-more-btn-onslider two" (click)="sellTalent()" >
                   sell your talent
                 </button>
            </div>
        </div>
        <!-- End of Slide -->

          <!-- Seventh Slide -->
        <div class="item">

            <!-- Slide Background -->
            <img src="assets/images/rsz_man-at-mixing-console-in-music-recording-studio-pasfzda.jpg" alt="Bootstrap Touch Slider" class="slide-image"/>

            <div class="bs-slider-overlay"></div>
            <!-- Slide Text Layer -->
            <div class="slide-text slide_style_left">
                <h1 data-animation="animated zoomInRight">Future Starr</h1>

                <p data-animation="animated fadeInLeft">The Offical <span style="color:#f8503f;">Talent</span> Market Place</p>
                <span data-animation="animated fadeInLeft">Sell your Talent Free - <span style="color:#f8503f;">Make Sales</span> - Be Your Own Boss</span>
                <button class="read-more-btn-onslider one" (click)="purchaseTalent()" >
                    Purchase New Talent
                </button>
                 <button class="read-more-btn-onslider two" (click)="sellTalent()" >
                   sell your talent
                 </button>
            </div>
        </div>
        <!-- End of Slide -->



    </div>
    <!-- End of Wrapper For Slides -->

    <!-- Left Control -->
    <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
        <span class="fa fa-angle-left fa-2x" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <!-- Right Control -->
    <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
        <span class="fa fa-angle-right fa-2x" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>
<!--Slider End-->

<!--Slider Below Section Start-->
<div class="container m50">
    <div class="row">
        <div class="col-sm-6 col-xs-12 welcome-bg-left">
            <!--<h1><span>Welcome to</span> FutureStarr</h1>-->
             <h1><span>Discover</span> FutureStarr</h1>

            <!--<p>It is not enough to want success, you must be passionate about it, you must be determined and ready to-->
                <!--make sacrifices to achieve what you want. Before we look at what successful celebrities have in common,-->
                <!--let's take a look at what is stopping you from achieving the type of success you want. </p>-->

            <!--<p>Most people just want to be famous, they don't care how they achieve it; thus, they dabble in whatever-->
                <!--they think could bring them fame. If you want to be successful, concentrate on what you want to be known-->
                <!--for. </p>-->
             <p>Future Starr is a unique talent platform, which ensures direct engagement between talent and targeted audiences.
                 Here at Future Starr, we provide the promising talent from around the world, with the opportunity to showcase their
                 talent to the global audience, sponsors, and mentors.You should upload your original videos, pdf, or mp3s and we will
                 support you to become global stars. </p>

            <p> We serve as a link between authentic talent and potential fan communities. With Future Starr, you can immediately share
                and engage your audiences who will support you to become a promising star.
                <br><br>
                <a class="generic-button" [routerLink]="['/about-us']">Know More</a>    
                
            </p>
            <!-- <p>
                <a class="generic-button" [routerLink]="['/about-us']">Know More</a>
            </p> -->
            
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="row row-panel-2">
                <div class="col-sm-6  col-xs-12 welcome-bg-right-box1">
                <h2>Take Control</h2>

                <!--<p>Whatever talent you are interested you have the marketplace to sign up and turn your talent into a-->
                    <!--profit...</p>-->
                <p>Turn your Entertainment Career into a profitable business. Whether you’re a novice at your talent or
                    an established star, our power - packed platform will help you to grow.</p>
            </div>
            <div class="col-sm-6  col-xs-12 welcome-bg-right-box2">
                <h2>Explore Talent</h2>

                <p>Explore and Support undiscovered and unsigned talents and help them to realize their dreams and be the stars of tomorrow.</p>
            </div>
            </div>
            <div class="row row-panel-2">

            <div class="col-sm-6  col-xs-12 welcome-bg-right-box3">
                <h2>Earn your way to Stardom</h2>

                <p>By Signing up with Future Starr, all talent can redefine their Stardom. Build up your fan community, celebrate and engage with them.</p>
            </div>
            <div class="col-sm-6  col-xs-12 welcome-bg-right-box4">
                <h2>Get Rewarded</h2>

                <p>Build up your market, manage your clients or audiences and show the world what makes you unique. Our Support, Your Branding.</p>
            </div>
            </div>


        </div>
    </div>
</div>
<!--Slider Below Section End-->

<!--Explore Marketplace Section Start-->
<div class="container-fluid explore-bg m50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12  explorettl">
                <h1>Explore the Marketplace</h1>

                <p>Explore, acquire, and engage your clients or mentor’s dreams and targeted audiences with our customized and sterling online campaigns.
                    Our unique business model will help your career to grow and prosper. Give yourself a much-awaited exposure into the entertainment industry
                    with Future Starr and Experience the Stardom. </p>
            </div>
            <div class="row">
                <div class=" col-xs-12 col-sm-3">
                  <a routerLink="/star-search/about/8">
                    <div class="listing-box">
                        <div class="img-box">
                            <img class="hover-images" title="fitness training" src="assets/images/fitness-training.jpg" alt="fitness training">
                        </div>
                        <div class="listingttl">
                            <h2>Fitness Training</h2>

                            <p> Redefine the way you train, Future Starr will help you expose your fitness career or if you a buyer,
                                you can expand your knowledge base by having access to special fitness learning tools. </p>
                        </div>
                    </div>
                  </a>
                </div>

                <div class=" col-xs-12 col-sm-3">
                  <a routerLink="/star-search/about/4">
                    <div class="listing-box">
                        <div class="img-box">
                            <img class="hover-images" title="music" src="assets/images/music.jpg" alt="music">
                        </div>
                        <div class="listingttl">
                            <h2>Learn Music</h2>

                            <p>Join the Future Starr community now and get discovered. Learn different perspectives of music and get connected to your mentors worldwide.
                                Connect your music profile with Future Starr.</p>
                        </div>
                    </div>
                  </a>
                </div>
                <div class=" col-xs-12 col-sm-3">
                  <a routerLink="/star-search/about/7">
                    <div class="listing-box">
                        <div class="img-box">
                            <img class="hover-images" title="modeling" src="assets/images/modeling.jpg" alt="modeling">
                        </div>
                        <div class="listingttl">
                            <h2>Modelling</h2>

                            <p>Turn your Model images into a business.  Make a sterling impression, create an exclusive look and showcase your talent with amazing presentations.</p>
                        </div>
                    </div>
                  </a>
                </div>
                <div class=" col-xs-12 col-sm-3">
                  <a routerLink="/star-search/about/5">
                    <div class="listing-box">
                        <div class="img-box">
                            <img src="assets/images/photography.jpg" title="photography" alt="photography">
                        </div>
                        <div class="listingttl">
                            <h2>Photography</h2>

                            <p>Showcase your photo expertise amongst your fan community as well as the community of creative professionals. Make a living from your photography efforts.</p>
                        </div>
                    </div>
                  </a>
                </div>
            </div>


            <div class="row" style="margin-top: 10px;">

                <div class=" col-xs-12 col-sm-3">
                    <a routerLink="/star-search/about/1">
                    <div class="listing-box">
                        <div class="img-box">
                            <img src="assets/images/writer.jpg" title="writer" alt="writer">
                        </div>
                        <div class="listingttl">
                            <h2>Author / Writer</h2>

                            <p>With Future Starr, create a fan community and get audience whom you need to sell your books. Create the demand that you need. </p>
                        </div>
                    </div>
                  </a>
                </div>


                <div class=" col-xs-12 col-sm-3">
                  <a routerLink="/star-search/about/16">
                    <div class="listing-box">
                        <div class="img-box">
                            <img src="assets/images/tatoo-artist.jpg" title="tatoo artist" alt="tatoo artist">
                        </div>
                        <div class="listingttl">
                            <h2>Tattoo Artist</h2>

                            <p>Advertise your Tattoo Art in a bold, fresh and distinctive way. Upload photos and videos to show your work to the world. Showcase your visual art with us. </p>
                        </div>
                    </div>
                  </a>
                </div>
                <div class="col-sm-3">
                  <a routerLink="/star-search/about/2">
                    <div class="listing-box">
                        <div class="img-box">
                            <img src="assets/images/entertainment.jpg" title="entertainment" alt="entertainment">
                        </div>
                        <div class="listingttl">
                            <h2>Entertainment</h2>

                            <p>Experience, celebrate your talent by connecting with millions of fans, mentors, and clients. Enhance your customer base and let your doors open for the opportunities.</p>
                        </div>
                    </div>
                  </a>
                </div>

                <div class="col-xs-12 col-sm-3">
                    <a routerLink="/star-search/about/15">
                    <div class="listing-box">
                        <div class="img-box">
                            <img src="assets/images/fashion-designer.jpg" title="designer" alt="designer">
                        </div>
                        <div class="listingttl">
                            <h2>Fashion Designer</h2>

                            <p> Build up your clothing brand and let your customers, clients, and visitors discover you. Future Starr will provide you a platform with versatility! </p>
                        </div>
                    </div>
                  </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Explore Marketplace Section End-->
<!--Get Started Section Start-->
<div class="container m50">
    <div class="row">
        <div class="col-sm-6 get-started-left">
            <h1>Let's get Started!</h1>

            <div class="col-sm-12 get-started-box">
                <div class="col-sm-2 get-started-img-left">
                    <img src="assets/images/get-start1.png" title="get start" alt="get start">
                </div>
                <div class="col-sm-10 get-started-content-right">
                    <h2>How to use <br>FutureStarr.com</h2>

                    <p>First, create an account. Once that's set up, use your talent
                        dashboard to discover and view other talent, upload your own,
                        and create an artist page...</p>
                </div>
            </div>
            <div class="col-sm-12 get-started-box">
                <div class="col-sm-2 get-started-img-left">
                    <img src="assets/images/get-start2.png" title="get start" alt="get start">
                </div>
                <div class="col-sm-10 get-started-content-right">
                    <h2>Visit upcoming <br>talent on FutureStarr.com</h2>

                    <p>Discovering new talent on FutureStarr is free. Browse through songs, books, or videos uploaded by
                        unsigned talents specializing
                        in various genres. </p>
                </div>
            </div>
            <div class="col-sm-12 get-started-box">
                <div class="col-sm-2 get-started-img-left">
                    <img src="assets/images/get-start3.png" title="get start" alt="get start">
                </div>
                <div class="col-sm-10 get-started-content-right">
                    <h2>Create an artist <br>page on FutureStarr.com</h2>

                    <p>When you create an Artist Page on FutureStarr.com, you get an entire page that showcases your
                        images, videos, eBooks, up to five mp3 songs, and overall passion ...</p>
                    <a role="button" type="button" (click)="sellTalent()">Click here to create page</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 get-started-right">
            <img src="assets/images/get-started-bg.jpg" title="artists" alt="artists">
        </div>
    </div>
</div>
<!--Get Started Section End-->

<!--About Edward Standley Section Start-->
<div class="container-fluid about-bg m50">
    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class=" col-xs-12 col-sm-8 about-content">
                <h1>About Future Starr</h1>

                <!--<p>Growing up, Edward always had a vision of becoming the next big thing in the music industry. Inspired-->
                    <!--by-->
                    <!--stars like Nelly and LL Cool J, Edward decided to embark on his music journey at the tender age of-->
                    <!--19.-->
                    <!--Shortly after starting his journey, Edward met a music producer who shared his vision and passion-->
                    <!--for-->
                    <!--music. The producer insisted on helping mold Edward into an Atlanta rap star. </p>-->
                 <p>Future Starr is a stand-apart and unconventional consumer internet company that helps the creative talents
                     build their own online portfolios to reach passionate audiences and the community. With Future Starr, you
                     get instant access to your targeted audience. We provide you with next level services that let you connect
                     with your clients conveniently. We help you to take your talent to the next level and become a Star.</p>
                <a class="generic-button" [routerLink]="['/about-admin']">Read More</a>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</div>
<!--About Edward Standley Section End-->
<!--Latest News Section Start-->
<div class="container m50">
    <div class="row">
        <div class="col-sm-12 latest-news-ttl">
            <h1>Latest Blogs</h1>
        </div>
        <div *ngFor="let blogs of latestBlog" class="col-xs-12 col-sm-4">
            <div class="news-img-box">
                <img *ngIf="!blogs.blog_img" src="assets/images/social-buzz/ad.png" title="{{ blogs.title }}" alt="{{ blogs.title }}" />
                <img *ngIf="blogs.blog_img" [src]="blogs.blog_img" title="{{ blogs.title }}" alt="{{ blogs.title }}" />
            </div>
            <div class="news-content">
                <h2>{{ blogs.created_at | date:'longDate' }}</h2>

                <p>{{ blogs.title }}</p>
                <a class="generic-button" routerLink='/blog/detailed/{{ blogs.id }}' style="margin-top:10px;">Read More</a>
            </div>
        </div>
        <!-- <div class="col-xs-12 col-sm-4">
            <div class="news-img-box">
                <img src="assets/images/news-2.jpg" alt="">
            </div>
            <div class="news-content">
                <h2>21 September 2017</h2>

                <p>Music lessons from the Experts</p>
                <a class="generic-button" href="#">Read More</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="news-img-box">
                <img src="assets/images/news-3.jpg" alt="">
            </div>
            <div class="news-content">
                <h2>21 September 2017</h2>

                <p>Music lessons from the Experts</p>
                <a class="generic-button" href="#">Read More</a>
            </div>
        </div> -->
    </div>
</div>
<!--Latest News Section End-->
<div class="container m50"></div>


    <div class="">
        <button class="go-back-btn" (click)="goBack()" id="backBtn" title="Go to back">
            <i class="fa fa-chevron-left"></i>
        </button>

        <button (click)="topFunction()" id="myBtn" title="Go to top">
            <i class="fa fa-chevron-up"></i></button>
    </div>











<!-- sell your talent modal -->
<div class="modal-ask-to-login fade" id="askToJoinAsSeller" role="dialog">
    <div class="modal-dialog">
        <form>
            <!-- Modal content-->
            <div class="ask-to-login">
                <div class="modal-body">
                    <br />
                    <h3 class="ask-register"> To use this feature please register as Seller. <br /> <small>By clicking Register, you will be logged out from your current account. </small></h3>
                    <!-- <i class="fa fa-circle-o-notch fa-spin"></i> -->
                </div>
                <div class="modal-footer ">
                    <button type="submit" class="btn btn-danger" data-dismiss="modal" (click) = "goToRegister()" >REGISTER</button>
                    <button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- end of sell your talent modal -->

<!-- buy your talent modal -->
<div class="modal-ask-to-login fade" id="askToJoinAsBuyer" role="dialog">
    <div class="modal-dialog">
        <form>
            <!-- Modal content-->
            <div class="ask-to-login">
                <div class="modal-body">
                    <br />
                    <h3 class="ask-register"> To use this feature please register as Buyer. <br /> <small>By clicking Register, you will be logged out from your current account. </small></h3>
                    <!-- <i class="fa fa-circle-o-notch fa-spin"></i> -->
                </div>
                <div class="modal-footer ">
                    <button type="submit" class="btn btn-danger" data-dismiss="modal" (click) = "goToRegister()" >REGISTER</button>
                    <button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- end of buy your talent modal -->

<!-- ASK TO LOGIN -->
<div class="modal-ask-to-login fade" id="askToLogin" role="dialog">
    <div class="modal-dialog">
        <form>
            <!-- Modal content-->
            <div class="ask-to-login">
                <div class="modal-body">
                    <div class="form-group text-spinner">

                        <h3 class="deleteConfirmation">Please login to use this feature! </h3>
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>


<!-- this is for the registration new pop-up screen -->
    
<!-- Ask to join as Seller -->
<div class="container">
    <!-- Modal -->
    <div id="register_my_model" class="modal fade modal-m" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header mob-cls" style="padding:5px;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <!-- <h4 class="modal-title">Modal Header</h4> -->
           </div>
          <div class="modal-body" style=" position: relative; padding-top: 0px; padding-left: 15px; padding-right: 15px;padding-bottom: 0px;">
            <div class="row">
              <div class="col-sm-5 text-center login-back" style="background-color:#fff;">
              
                <h4 style="color:#ff503f;font-weight: 600;margin: 54px 0 0 0;">
                    Awe, looks like you have not 
                </h4>
                <h4 style="color:#ff503f;font-weight: 600; line-height: 0;text-align: center;">signed up for Future Starr.</h4>
                <p style="margin: 34px 0 0 0; text-align: center;"><b>No worries, click the Register</b></p>
                <p style="text-align: center;"><b>button and sign up now for FREE!</b></p>
               
                <!-- <button class="btn btn-danger btn-sm login-button" style="margin: 5% 0 0 21%;">REGISTER</button> -->
                <a routerLink="/register" class="btn btn-danger" style="margin-bottom: 30px;" (click)="model_toggle()">Register</a>
              </div>
              <div class="col-sm-7 text-center login-back-img" style="height: 340px;background-image:url('assets/images/new_pop_up.jpg');background-size:cover;background-position:left;">
                <button type="button" class="close desk-cls" data-dismiss="modal">&times;</button>
                <br><br><br><br><br><br>
                <p style="color:#fff;"></p>
                <h3 style="color:#fff;"></h3>
                <p style="color:#fff;"></p>
                <br><br>  <br><br><br><br><br>
              </div>
            </div>
          </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div> -->
        </div>
    
      </div>
    </div>
    
    </div>