
@media (min-width: 768px) {
    .modal-dialog {
        width: 767px;
        margin: 30px auto;
    }
}
button:hover
{
    background-color:black;
    color:white;
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    /* cursor: pointer; */
    background: 0 0;
    border: 2px solid #ff503f;
    border-radius: 43px;
    padding: 1px 0px 2px;
    /* background: #777; */
    width: 28px;
    border-color: #ff503f;
    color: #ff503f;
    margin-top: 5px;
    opacity: 1.2;
    text-shadow: none !important;
}

/*show and hide cross button according to screen*/

@media (min-width: 768px) {
    .desk-cls {
        display: block;
    }

    .mob-cls {
        display: none;
    }

}

@media only screen and (max-width: 768px) {
    .desk-cls {
        display: none;
    }

    .mob-cls {
        display: block;
    }

    .login-back {
        border-radius: 4px;
    }

    .login-back-img {
        display: none;
    }
}

/*login-foooter-box */

.login-foooter-box {
    margin-bottom: 20px;
}

.login-foooter-box span a i {

    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    background: #151829;
    padding: 12px;
    width: 40px;
    color: #ff503f;
    font-size: 17px;

    /*padding: 2px;*/
    /*font-size: 22px;
    text-decoration: none;*/

    /*padding: 5px 5px 5px 5px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    display: inline-block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 0px 2px #888;*/

}

.modal-m {
    margin-top:85px;
}
