<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<div>
  <img class="star-search-banner" src="assets/images/blog/talentmallstarr-blog2-banner.jpg" alt="futurestarr" />
</div>
<div class="container blog-container">
  <div class="row">
    <div class="col-sm-6">
      <img class="star-search-banner" src="assets/images/blog/talentmallstarr-blog2- banner-bottom-celebreties.jpg" alt="celebreties" />
    </div>
    <div class="col-sm-6">
      <div class="col-sm-10">
        <h2> One Thing All Successful Celebrities Have In Common </h2>
        <p class="blog-body text-justify">
          Do you want to be successful? It is not enough to want success, you must be passionate about it, you must be determined and ready to make sacrifices to achieve what you want. In this time and age, talent is overrated. In order to become successful in your niche, you need to sell your talent online.
        </p>
        <button class="generic-button" (click)="readmore()">Read More</button>
        <!-- <a class="generic-button" (click)="ab()">Read More</a> -->
      </div>
    </div>
  </div>
  <div class="col-sm-7 blog-box-container">
    <div>
    <h1 class="horizontal-line category-name">{{ categoryName }}</h1>
    <div class="blog-box" *ngFor="let blogContent of blogContents">

        <img *ngIf="blogContent.blog_img" class="star-search-banner" title=" {{ blogContent.title}}" [src]="blogContent.new_blog_img" />

        <h4 class="blog-heading"> {{ blogContent.title}}
        <br />
        <small>
            <i class="fa fa-calendar" aria-hidden="true"></i> {{ blogContent.date | date:'MMMM d, yyyy' }} </small>
        <small>
            <i class="fa fa-folder-open" aria-hidden="true"></i> {{ blogContent.name }} </small>
      </h4>
      <div [innerHtml]="blogContent.short_content" >
        
      </div>
      <!-- <p class="blog-body">{{ blogContent.short_content }}
      </p> -->
      <button class="generic-button"  (click)="readmore1(blogContent)">Read More</button>
      <!-- <a class="generic-button"  (click)="xyz(blogContent)">Read More</a> -->
    </div>
    <div *ngIf="blogCount == 0" class="no-blogs">
      <h3>Sorry, no blogs available for this category! </h3>
    </div>
  </div>
  </div>


  <div class="col-sm-5">
    <h1 class="horizontal-line categories-heading">CATEGORIES</h1>
    <div class="categories-list-container" *ngIf="categories && categories.length>0">
      <div *ngFor="let category of categories" class="col-sm-6 col-xs-6 category-list-item">
        <a (click)="getBlogCtageoriesInfo(category.id, category.name)">
          <!-- <img class="star-search-banner" [src]="category.category_banner" /> -->
          <img class="star-search-banner" title="{{category.name}}"  [src]="category.new_category_banner" />
        <div class="category-list-item-heading" [ngClass] = "{'active-category' : currentBlogCategoryId == category.id }">
          <h5 class="category-list-name">
            <b>{{category.name}}</b>
          </h5>
        </div>
        </a>
      </div>

    </div>
  </div>
</div>

  <div class="">
        <button class="go-back-btn" (click)="goBack()" id="backBtn" title="Go to back">
            <i class="fa fa-chevron-left"></i>
        </button>

        <button (click)="topFunction()" id="myBtn" title="Go to top">
            <i class="fa fa-chevron-up"></i></button>
  </div>
