
.well {
    background-color: #fff;
}

.btn-danger {
    padding: 6px 18px !important;
    font-size: 11px !important;
    border-radius: 2px;
}

.input-group-addon {
    padding: 6px 25px;
}

.image-drop {
    padding: 28px 10px;
    /*background:#00ad2d;
    border:1px solid #00ad2d;*/
    position: relative;
    /*color:transparent;*/
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    height: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.hide_button {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 24px;
    width: 100%;
}

.dash-bdr {
    border: dashed 2px #c8c8c8;
}

.file-list li {
    display: inline-block;
    float: left;
}

.drop-area {
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    margin-top: 0;
    margin-left: 20px;
}

.card-text {
    color: #ff503f;
    top:0;
    font-size: 17px;

}

.panel-m {
   margin:20px;
}

.well-card {
   box-shadow: 0 3px 0 #f0f0f0;
}

.well-card:hover, .well-card:focus, .well-card:active {
  border: 1px solid #ff503f;
}

.text-1 {
      text-align: center;
}

.text-2 {
    font-size: 12px;
    font-style: italic;
    padding-top: 5px;
}

.text-3 {
   font-size: 12px;
    font-style: italic;
    font-weight: 100;
}

.custom-pkg {
    height:100px;
    margin-bottom: 8px;
}

.btn-ads {
    padding: 17px 0 0 0;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    margin-top:25px;
}

.btn-margin {
    margin-bottom: 5px;
}

.table-margin {
    height:200px;
}

 .table>thead>tr>th {
    border-bottom: 1px solid #ddd;
}

 .table>tbody>tr>td {

 }

 .total-b {
     border-top: 1px solid #ddd;
 }

 .total-amount {
   float:right;
     padding-right: 11%;
 }

 .grand-total {
    /*padding-left:65%;*/
     margin-left: 60%;
 }

 .btn-pay {
     background-color: #FFBD33;
     border-radius: 25px;
     font-weight: 700;
     /*background-image: url();*/
 }

 .btn-img {
     background-color: #FFBD33;
     width: 105px;
     height: 20px;
     text-align: center;
 }

 .text-4 {
     height: 20px;
     margin-left:4px;
 }


@media (min-width: 200px) and (max-width: 678px)  {
     .total-amount {
     float:right;
     padding-right: 6%;
 }

 .grand-total {
    /*padding-left:65%;*/
     margin-left: 0;
 }
}

label {
    margin-bottom:5px;
}

.text-c-o {
    color: #ff503f;
}

.text-4 {
    font-size: 12px;
    margin-top: 10px;

}

.f-g-padding {
    padding:0 10px;
}

.f-c-radius {
    border-radius: 2px;
}

/*choose file css*/

.file-upload {
    display: block;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.file-upload .file-select {
    display: block;
    border: 1px solid #ccc;
    color: #555;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
}

.file-upload .file-select .file-select-button {
    background: #ff503f;
    padding: 0 25px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
}

.file-upload .file-select .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}

.file-upload .file-select:hover {
    border-color: #ff503f;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload .file-select:hover .file-select-button {
    background: #ff503f;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select {
    border-color: #ff503f;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select .file-select-button {
    background: #ff503f;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload .file-select input[type=file] {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.file-upload .file-select.file-select-disabled {
    opacity: 0.65;
}

.file-upload .file-select.file-select-disabled:hover {
    cursor: default;
    display: block;
    border: 1px solid #ccc;
    color: #555;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
}

.file-upload .file-select.file-select-disabled:hover .file-select-button {
    background: #ff503f;
    color: #fff;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.file-upload .file-select.file-select-disabled:hover .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}

.price-f {
    font-weight: 600;
}

.f-g-margin {
    margin-top: 15px;
}

.plan-p {
    padding-left: 7%;
}

.m-b-padding {
    padding: 0;
}

.heading-c {
    font-size: 16px;
    margin-left: 10px;
}

.col-sm-width-box {
  width: 46.666667%;
}

.col-sm-width-box1 {
  width: 5.666667%;
  margin-top: 7px;
}
.hr-box {
  color: #333;
}
.text-color {
  font-weight: 600;
}
