
.top-cls{
  padding-top:83px;
}

.top-cls-l {
  padding-top:53px;
}

.inline-cls li{
  display: inline-block;
  /* float: left; */
  padding: 12px;
  background-color: #fff;
  margin-top: -30px;
  margin-left: -20px;
}
.inline-cls li >a{
  margin: 10px;
}

.seller-container {
  margin-top:40px;
  margin-bottom:25px;

}

@media (min-width: 769px) and (max-width: 992px)
{
  /*.top-cls{
    padding-top:131px;
  }*/

}

/*#footer-s {*/
  /*position: absolute;*/
  /*left: 0;*/
  /*bottom: 0;*/
  /*height: 100px;*/
  /*width: 100%;*/
  /*background: #00A7FF;*/
/*}*/

/*#seller-body {*/
  /*min-height:100%;*/
  /*height:100vh;*/

/*}*/

/*#seller-div {*/
   /*min-height:100%;*/
   /*position:relative;*/
/*}*/
/*/!*#seller-header {*!/*/
   /*/!*background:#ff0;*!/*/
   /*/!*padding:10px;*!/*/
/*/!*}*!/*/
/*#seller-body1 {*/
   /*padding:10px;*/
   /*padding-bottom:60px;   /!* Height of the footer *!/*/
/*}*/
/*#seller-footer1 {*/
   /*position:absolute;*/
   /*bottom:0;*/
   /*width:100%;*/
   /*/!*height:60px;   /!* Height of the footer *!/!*/
   /*/!*background:#6cf;*!/*/
/*}*/