


<!--<app-header></app-header>-->


  <!--<div class="container-fluid" style="background-color:rgb(21, 24, 41);">-->
<!--<div class="row">-->
  <!--<div class="col-sm-12 top-cls" [ngClass]="{'top-cls-l':user}"></div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="container seller-container" id="container">-->
  <!--<div class="col-sm-3">-->
    <!--<div class="sidebar">-->
        <!--<app-seller-sidebar></app-seller-sidebar>-->
    <!--</div>-->
  <!--</div>&lt;!&ndash; end sidebar &ndash;&gt;-->

  <!--<div class="col-sm-9">-->
    <!--&lt;!&ndash;<div class="">&ndash;&gt;-->
    <!--&lt;!&ndash;<ul class="inline-cls">&ndash;&gt;-->
      <!--&lt;!&ndash;<li><a href="#">Dashboard</a></li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li><a href="#">Security</a></li>&ndash;&gt;-->
      <!--&lt;!&ndash;<li><a href="#">Notification</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--<div class="clearfix"></div>-->
  <!--<router-outlet></router-outlet>-->
  <!--</div>-->

  <!--</div>-->



<!--<app-footer></app-footer>-->



<div id="seller-div">
  <div id="seller-header">
    <app-header id=""></app-header>

    <div id="sub-header" class="container-fluid" style="background-color:rgb(21, 24, 41);">
      <div class="row">
        <div class="col-sm-12 top-cls" [ngClass]="{'top-cls-l':user}"></div>
      </div>
    </div>
  </div>

</div>
<div id="main-content"> <router-outlet></router-outlet></div>
<div id="main-footer"> <app-footer></app-footer></div>



