<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<h3>Deleted Items</h3>

<div class="well panel panel-danger panel-m" >
    <div class="panel-body msg-body">


        <div class="form-inline">
            <div class="form-group ">
                <label for="sel1">Filter</label>
                <select class="form-control filter" [(ngModel)]="selectedDay" (ngModelChange)="onSelect(selectedDay)">
                    <option *ngFor="let day of days" [value]="day"> Last {{ day }} Days</option>
                </select>
            </div>

            <div class="form-group pull-right">
                <a role="button" type="button" class="btn btn-danger btn-delete" (click)="confirmUndeleteProducts()"><i class="fa fa-undo fa-icon"></i>&nbsp; UNDELETE ITEM</a>
                <a role="button" type="button" class="btn btn-danger btn-delete" (click)="confirmDeleteProducts()"><i class="fa fa-trash-o fa-icon"></i>&nbsp; TRASH COMPLETELY</a>

            </div>
        </div>


            <div class="table-margin table-responsive" >
                <table class="table">
                    <thead class="thead-bg">
                      <tr>
                        <!--<th></th>-->
                        <th style="padding-left:50px;">Product</th>
                        <!--<th></th>-->
                      </tr>
                    </thead>

                    <tbody *ngIf="products && products.length>0">
                      <tr *ngFor="let product of products | paginate: { itemsPerPage: 5, currentPage: p }">
                        <td>
                            <span>
                                <input type="checkbox" name="{{product.id}}" (change)="changeCheckbox($event, product.id)" [value]="product.id" />
                            <!--<input type="checkbox" name="{{product.id}}" (change)="changeCheckbox($event, product.id)" [value]="product.id" />-->

                            <!-- <img  *ngIf="product.image[0]" class="profile-square" [src]="product.image[0].image_path"/> -->
                            <img  *ngIf="product.image[0]" class="profile-square" [src]="(product.image.length > 0  && isImage(product.image[0].new_image_path))?product.image[0].new_image_path:'assets/images/star-logo.png' "/>
                            <span *ngIf="product.image[0]"  class="margin-t-m">{{product.title}}</span>
                            <span *ngIf="!product.image[0]"  class="margin-t">{{product.title}}</span></span>
                        </td>
                      </tr>
                    </tbody>
                </table>
                  <span class = "no-products-error" *ngIf="products && products.length == 0">No Products are Available!</span>

                <div *ngIf="(products.length)>5" class="product-pagination-row">
                  <div>
                    <pagination-controls previousLabel=""
                    nextLabel="" (pageChange)="p = $event"></pagination-controls>
                  </div>
               </div>

            </div>
    </div>
</div>

   <div class="">
        <button class="go-back-btn" (click)="goBack()" id="backBtn" title="Go to back">
            <i class="fa fa-chevron-left"></i>
        </button>

        <button (click)="topFunction()" id="myBtn" title="Go to top">
            <i class="fa fa-chevron-up"></i></button>
  </div>


 <!-- deleted confirm Modal -->
  <div class="modal fade" id="confirmModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content confirm-m" style="margin-top: 28%">
        <!--<div class="modal-header">-->
          <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
          <!--<h4 class="modal-title">Modal Header</h4>-->
        <!--</div>-->
        <div class="modal-body">
          <p style="text-align: center">Are you sure to delete these items?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-d" data-dismiss="modal" (click)="deleteProducts()">OK</button>
            <button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>
        </div>
      </div>
    </div>
  </div>


 <!-- undeleted confirm Modal -->
  <div class="modal fade" id="undeletedConfirmModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content confirm-m" style="margin-top: 28%">
        <!--<div class="modal-header">-->
          <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
          <!--<h4 class="modal-title">Modal Header</h4>-->
        <!--</div>-->
        <div class="modal-body">
          <p style="text-align: center">Are you sure to restore these items?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-d" data-dismiss="modal" (click)="undeleteProducts()">OK</button>
            <button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>
        </div>
      </div>
    </div>
  </div>
