
.well {
    background-color: #fff;
}

h3 {
    margin-top: 0;
    margin-left: 20px;
}

.btn-danger {
    padding: 6px 18px !important;
    font-size: 11px !important;
    border-radius: 2px;
}

.panel-m {
   margin:20px;
}

.table-margin {
    margin-top: 30px;
}

thead {
    background-color: #f0f0f0;
}

/*.profile-square {*/
    /*text-align: center;*/
    /*background-color: #f0f0f0;*/
    /*/!*width: 50px;*!/*/
    /*width: 65px;*/
    /*height: 50px;*/
    /*margin-bottom: 1px;*/
    /*margin-left:20px;*/
/*}*/
.profile-square {
    width: 65px;
    height: 50px;
    margin-left: 15px;
}


.table > tbody > tr > td {
    vertical-align: 0;
    padding: 12px;
}

th {
    font-weight: 500;
}

.table > thead > tr > th {
    border-bottom: 0;
    /*padding: 5px;*/
}

.icon-color {
    color: #ff503f;
}

ul > li {
    list-style-type: none;
    display: inline;
}

.action-btn {
    border: 1px solid #f0f0f0;
    background-color: #fff;
    border-radius: 0;
    padding: 4px 8px;
    margin-left: 5px;
}

input .checkbox {
    background-color: #fff;
    border-radius: 0;
}

.filter {
    margin-left: 12px;
    border-radius: 0;
}

input[type=checkbox] {
    background-color: #fff;
}

.area-resize {
    height: 100px;
}

.h4-text {
    font-size: 14px;
    font-weight: 500;
}

.p-text {
    font-size: 12px;
    margin-top: -5px;
}

.btn-icons {
    margin-left:15px;
}




@media (min-width: 200px) and (max-width: 678px)  {
.filter {
    margin-left: 0;
    border-radius: 0;
}
}

label {
   margin-bottom: 0;
}

.action-btn:hover, .action-btn:active {
    border: 1px solid #f0f0f0;
    background-color: #f0f0f0;
}

.p-text {
    font-size: 12px;
    margin-top: 0;
}

.msg-body {
    padding-left: 0;
    padding-right: 0;
}

.modal-btn {
    border-radius: 0;
    border: 1px solid #ff503f;
    background-color: #fff;
}

.btn-icons {
    /*margin-left: 15px;*/
    margin-left: 0;
}

/*.nav .active {*/
    /*background-color: #ff503f;*/
/*}*/

.modal-btn:hover,
.modal-btn:focus,
.modal-btn:active {
    background-color: #ff503f;
    color: #fff;
}

.separator {
    content: '';
    display: inline-block;
    background: #888;
    margin: 0 6px;
    height: 18px;
    width: 1px;
    vertical-align: top;
}
/**/

.text-c {
    text-align: center;
}

.btn-p {
    padding: 6px 6px !important;
}

.table>tbody>tr>td {
    border: none;
    border-bottom: 1px solid #ddd;
}

.table>thead>tr>th {
   vertical-align:middle;
}

.fa-icon {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

.margin-t {
    margin-left: 15%;
}

.margin-t-m {
    margin-left: 2%;
}

.input-group-addon {
    padding: 6px 25px;
}

.dash-bdr {
    border: dashed 2px #c8c8c8;
}

.file-list li {
    display: inline-block;
    float: left;
}

.panel-m {
    margin: 20px;
}

.alert-danger {
    color: #ff503f;
    background-color: transparent;
    border-color: transparent;
}

.alert {
    padding: 0;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 0;
    font-size: 13px;
}

label {
    margin-bottom: 5px;
}

.text-p {
    font-size: 12px;
    font-weight: 300;
}

.p-b-upload {
    padding-bottom: 1px;
}

.confirm-m {
    margin-top: 28%;
}

