<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<h3>Edit Product</h3>
<div class="well panel panel-danger panel-m">
    <div class="panel-body">
        <form novalidate #product="ngForm" (ngSubmit)="editProduct(showProductInfo)">
           <div class="form-group">
          <label for="sel1">Select Category of Product</label>

               <select class="form-control" name="category" [(ngModel)]="showProductInfo.category" (input)="change($event)">
              <option  *ngFor="let c of categories" value={{c.name}}>{{c.name}}</option>
          </select>

        </div>
            <div class="form-group">
                <label for="title">Title</label>
              <input type="text" class="form-control" [(ngModel)]="showProductInfo.title" name="title" #mytitle="ngModel" required placeholder="Title">

                <div class="alert" *ngIf="mytitle.errors?.required && mytitle.touched">Title is required </div>
            </div>

             <div class="form-group">
                <label for="">Upload Image or Video Commercial of Product</label>
                <br>

                <span class="">

                    <span *ngIf="imageUploader.queue.length == 0">
                        <span *ngFor="let item of showProductInfo.image">
                           <span>{{item.image_name}} </span>

                        </span>
                    </span>

                    <span *ngIf="imageUploader.queue.length != 0">
                        <span *ngFor="let item1 of imageUploader.queue">
                            <span>{{item1.file.name}} </span>
                            <a href="javascript:;" (click)="item1.remove()"><i class="fa fa-remove"></i></a>
                        </span>
                    </span>

                    <span style="padding-left: 5px;">
                        <label for="file-upload" class="custom-file-upload">

                            <span *ngIf="imageUploader.queue" style="position: absolute; margin-top:-5px;">
                                <div *ngFor="let item1 of imageUploader.queue">
                                    <a class="item-c" (click)="item1.remove();imageUploader.queue.length = 0;checkFn($event)">Remove & Replace File </a>
                                </div>
                            </span>

                            <span *ngIf="!imageUploader.queue.length" style="position: absolute; margin-top:-5px; ">
                                Remove & Replace File 
                            </span>

                        </label>
                    </span>

                    <!--<input type="file" id="chooseFile"  name="image" ng2FileSelect [uploader]="imageUploader"/>-->
                    <input (click)="imageUploader.queue.length = 0;" type="file" class="hide_button file-upload" name="image" ng2FileSelect [uploader]="imageUploader">
                 </span>
            </div>


             <div class="form-group">
                <label for="">Upload Music / Video Sample of Product</label>
                <br>

                <span class="">

                    <span *ngIf="videoUploader.queue.length == 0">
                        <span *ngFor="let item of showProductInfo.video">
                           <span>{{item.video_name}} </span>

                        </span>
                    </span>

                    <span *ngIf="videoUploader.queue.length != 0">
                        <span *ngFor="let item1 of videoUploader.queue">
                            <span>{{item1.file.name}} </span>
                            <a href="javascript:;" (click)="item1.remove()"><i class="fa fa-remove"></i></a>
                        </span>
                    </span>

                    <span style="padding-left: 5px;">
                        <label for="file-upload" class="custom-file-upload">

                            <span *ngIf="videoUploader.queue" style="position: absolute; margin-top:-5px;">
                                <div *ngFor="let item1 of videoUploader.queue">
                                    <a class="item-c" (click)="item1.remove()">Remove & Replace File</a>
                                </div>
                            </span>

                            <span *ngIf="!videoUploader.queue.length" style="position: absolute; margin-top:-5px;">
                                Remove & Replace File
                            </span>

                        </label>
                    </span>

                   <input (click)="videoUploader.queue.length = 0;checkFn($event)" type="file" class="hide_button file-upload" name="video" ng2FileSelect [uploader]="videoUploader">
                 </span>
            </div>


            <div class="form-group">
                <label for="">Bio Information of Product</label>
               <textarea name="product_info" class="form-control" [(ngModel)]="showProductInfo.product_info" #productinfo="ngModel" rows="5" placeholder="Product Information"></textarea>
            </div>

            <div class="form-group">
                <label for="">Bio Information of Seller</label>
                 <textarea name="description" class="form-control" [(ngModel)]="showProductInfo.description" #description="ngModel" rows="5" placeholder="Something you feels that needs to be highlighted"></textarea>
            </div>
            <!--<br>-->

            <label for="">Price of Product</label>

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
               <input (keyup)="(showProductInfo.price>100000)?showPriceError=true:showPriceError=false" type="number" class="form-control" min="1" max="100000"  [(ngModel)]="showProductInfo.price"  name="price" #myprice="ngModel" required placeholder="Price">
            </div>
            <div class="alert alert-danger" *ngIf="myprice.errors?.required && myprice.touched">This field is required
            </div>
            <div class="alert alert-danger" *ngIf="showPriceError">
                Max price is 100000
            </div>

            <br>




            <div class="form-group">
                <label for="">Upload Product <i class="text-p">(Mp3,jpeg,video,pdf)</i></label>
                <br>

                <div class="">

                    <span *ngIf="pdfUploader.queue.length == 0">
                        <span *ngFor="let item of showProductInfo.pdf">
                           <span>{{item.pdf_name}}, </span>

                        </span>
                    </span>

                    <span *ngIf="pdfUploader.queue.length != 0">
                        <span *ngFor="let item3 of pdfUploader.queue">
                            <span>{{item3.file.name}} </span>
                            <a href="javascript:;" (click)="item3.remove()"><i class="fa fa-remove"></i></a>
                        </span>
                    </span>

                    <span class="" style="padding-left: 5px;">
                        <label for="file-upload" class="custom-file-upload">

                            <!-- <span *ngIf="pdfUploader.queue" style="position: absolute; margin-top:-5px;">
                                <div *ngFor="let item3 of pdfUploader.queue">
                                    <a class="item-c" (click)="item3.remove()">Remove & Replace File</a>
                                </div>
                            </span> -->

                            <span *ngIf="!pdfUploader.queue.length" style="position: absolute; margin-top:-5px;">
                                Remove & Replace File
                            </span>
                            <span *ngIf="pdfUploader.queue.length" style="position: absolute; margin-top:-5px;">
                                Remove & Replace File
                            </span>

                        </label>
                    </span>

                    <input type="file" class="hide_button file-upload" name="pdf" ng2FileSelect [uploader]="pdfUploader" multiple>
                 </div>
            </div>

            <br>
            <hr>
            <div class="pull-right">
                <button type="submit" [disabled]="!showProductInfo.title || !showProductInfo.price || showProductInfo.price>100000" class="btn btn-danger">SAVE
                </button>
                <button type="button" class="btn btn-default btn-d" routerLink="/seller/my-product">CANCEL</button>
            </div>


        </form>
    </div>
</div>

   <div class="">
        <button class="go-back-btn" (click)="goBack()" id="backBtn" title="Go to back">
            <i class="fa fa-chevron-left"></i>
        </button>

        <button (click)="topFunction()" id="myBtn" title="Go to top">
            <i class="fa fa-chevron-up"></i></button>
  </div>
