
.well {
    background-color: #fff;
}

.btn-danger {
    padding: 6px 18px !important;
    font-size: 11px !important;
    border-radius: 2px;
}

.input-group-addon {
    padding: 6px 25px;
}

h3 {
    margin-top: 0;
    margin-left: 20px;
}

.image-drop {
    /*padding:28px 10px;*/
    padding: 10px 10px;
    position: relative;
    border-radius: 2px;
    text-align: center;
    /*float:;*/
    cursor: pointer;
    display: inline-block;
    /*height: 150px;*/
    height: 120px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.hide_button {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 24px;
    width: 100%;
}

.dash-bdr {
    border: dashed 2px #c8c8c8;
}

.file-list li {
    display: inline-block;
    float: left;
}

.drop-area {
    margin-top: 20px;
    margin-bottom: 20px;
}

.panel-m {
    margin: 20px;
}

.alert-danger {
    color: #ff503f;
    background-color: transparent;
    border-color: transparent;
}

.alert {
    padding: 0px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    border-radius: 0px;
    font-size: 13px;
}

label {
    margin-bottom: 5px;
}

/*choose file css*/

.file-upload {
    /*display: block;*/
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.file-upload .file-select {
    display: block;
    border: 1px solid #ccc;
    color: #555;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
}

.file-upload .file-select .file-select-button {
    background: #ff503f;
    padding: 0 25px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
}

.file-upload .file-select .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}

.file-upload .file-select:hover {
    border-color: #ff503f;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload .file-select:hover .file-select-button {
    background: #ff503f;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select {
    border-color: #ff503f;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select .file-select-button {
    background: #ff503f;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload .file-select input[type=file] {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.file-upload .file-select.file-select-disabled {
    opacity: 0.65;
}

.file-upload .file-select.file-select-disabled:hover {
    cursor: default;
    display: block;
    border: 1px solid #ccc;
    color: #555;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
}

.file-upload .file-select.file-select-disabled:hover .file-select-button {
    background: #ff503f;
    color: #fff;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.file-upload .file-select.file-select-disabled:hover .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}

.text-p {
    font-size: 12px;
    font-weight: 300;
}

.p-b-upload {
    padding-bottom: 1px;
}


input[type="file"] {
    /*display: none;*/
    display: inline-block;
}

.custom-file-upload {
    border: none;
    font-weight: 500;
   /*  padding: 6px 12px; */
    cursor: pointer;
    font-size: 12px;
    color: #ff503f;
}

.item-c {
color: #ff503f;
}

.hide_button{
position : relative;
width:18%;
    margin-left: -5px;
}