<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<h3>Products for Sale

</h3>


<div class="well panel panel-danger panel-m">

    <div class="panel-body msg-body">


        <div class="form-inline">
            <div class="form-group ">
                <label for="sel1">Filter</label>
                <select class="form-control filter" [(ngModel)]="selectedDay" (ngModelChange)="onSelect(selectedDay)">
                    <option value="0"> Default</option>
                    <option *ngFor="let day of days" [value]="day"> Last {{ day }} Days</option>
                </select>
            </div>

            <div class="form-group pull-right">
                <a role="button" type="button" class="btn btn-danger btn-delete" routerLink="/seller/my-product/delete-product/">
                    <i class="fa fa-trash-o fa-icon"></i>&nbsp; MASS DELETE</a>
                <a role="button" type="button" class="btn btn-danger btn-delete" (click)="showProductModal()">
                    <i class="fa fa-plus fa-icon"></i>&nbsp; CREATE A PRODUCT</a>

            </div>
        </div>


        <div class="table-margin table-responsive">
            <table class="table">
                <thead class="thead-bg">
                    <tr>
                        <th></th>
                        <th>Product</th>
                        <th>Active/
                        <br>Deactive</th>
                        <!--<th>Clicks</th>-->
                        <th>Views</th>
                        <th>Awards</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody *ngIf="products && products.length>0 ">
                    <tr *ngFor="let product of products | paginate: { itemsPerPage: 5, currentPage: p }">
                        <td>
                            <input type="checkbox">
                        </td>
                        <td>
                            <img class="profile-square" [src]="(product.image.length >0  && isImage(product.image[0].new_image_path))?product.image[0].new_image_path:'assets/images/star-logo.png' "  />
                            <!-- <img *ngIf="product.image[0] && (product.image[0].img_ext != 'mp4')" class="profile-square" [src]="product.image[0].new_image_path" />
                            <img *ngIf="!product.image[0] || (product.image[0].img_ext == 'mp4')" class="profile-square" src="../assets/images/talent-mall/no_image-200x200.jpg" /> -->

                            <br>
                            <span>{{product.title}}</span>
                        </td>
                        <td class="text-center">{{product.active}}</td>
                        <!--<td>0</td>-->
                        <td>{{product.view}}</td>
                        <td>{{product.award}}</td>
                        <td>${{product.price}}</td>
                        <td>
                            <ul>
                                <li>
                                    <button class="btn action-btn" (click)="editProduct(product.id)" data-toggle="tooltip" title="Edit Product">
                                        <i class="fa fa-pencil-square-o icon-color"></i>
                                    </button>
                                </li>
                                <li>
                                    <button class="btn action-btn" (click)="deleteProduct(product.id)" data-toggle="tooltip" title="Delete Product">
                                        <i class="fa fa-trash-o icon-color"></i>
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="btn action-btn btn-danger btn-p" data-toggle="modal" (click)="showPromoteModal(product.id)">PROMOTE PRODUCT</button>
                                </li>

                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            <span class="no-products-error" *ngIf="products && products.length == 0">No Products Available!</span>

            <div *ngIf="(products.length)>5" class="product-pagination-row">
              <div>
                <pagination-controls previousLabel=""
                nextLabel="" (pageChange)="p = $event"></pagination-controls>
              </div>
           </div>

        </div>
    </div>
</div>

   <div class="">
        <button class="go-back-btn" (click)="goBack()" id="backBtn" title="Go to back">
            <i class="fa fa-chevron-left"></i>
        </button>

        <button (click)="topFunction()" id="myBtn" title="Go to top">
            <i class="fa fa-chevron-up"></i></button>
  </div>

<!-- Delete confirm modal START -->
<div id="deleteConfirmModal" class="modal fade modal-m" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header mob-cls">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
           <h4 class="modal-title">Delete</h4>
         </div>
        <div class="modal-body d-modal-body text-center margin-bottom-5">
            <h4>Are you sure?</h4>
            <button type="submit" class="btn btn-danger" (click)="confirmDelete()">YES</button>
            <button type="button" class="btn btn-default btn-d" data-dismiss="modal">NO</button>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>
        </div> -->
      </div>
  
    </div>
  </div>
<!-- Delete confirm modal END -->
    
<!-- Modal Product Promotion -->
<div class="modal fade" id="promotionModal" role="dialog">
    <div class="modal-dialog">
        <form novalidate #promoteForm="ngForm" (ngSubmit)="addPromote(promoteProducts)">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button (click)="promoteForm.resetForm();" type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Promotion </h4>
                </div>
                <div class="modal-body">

                    <!--<div class="col-sm-6">-->
                    <div class=" form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" name="title" [(ngModel)]="promoteProducts.title" placeholder="Title" />
                    </div>
                    <!--</div>-->


                    <div class="form-group modal-margin">
                        <label for="production-info">Your Message</label>
                        <textarea name="message" class="form-control area-resize" [(ngModel)]="promoteProducts.message" placeholder="Product Information"></textarea>
                    </div>

                    <div class="promote-info modal-margin">
                        <label>Social Media promotion</label>
                        <p class="p-text">Promote your talent on Social Networks</p>
                    </div>

                    <div class="btn-group btn-icons" role="group">
                        <ul class="nav">

                            <li class="">
                                <a class="social-btn btn modal-btn btn-bg f-btn" (click)="getSocialShareMediaName('facebook')" shareButton="facebook" [sbUrl]="repoUrl" >
                                    <i class="fa fa-facebook"></i>
                                    <span class="separator"></span> FACEBOOK</a>
                            </li>
                            <li class="">
                                <a class="social-btn btn modal-btn btn-bg f-btn" (click)="getSocialShareMediaName('linkedin')" shareButton="linkedin" [sbUrl]="repoUrl">
                                    <i class="fa fa-linkedin"></i>
                                    <span class="separator"></span> LINKEDIN</a>
                            </li>
                            <li class="">
                                <a class="social-btn btn modal-btn btn-bg f-btn" (click)="getSocialShareMediaName('twitter')" shareButton="twitter" [sbUrl]="repoUrl" >
                                    <i class="fa fa-twitter"></i>
                                    <span class="separator"></span> TWITTER</a>
                            </li>

                            <!--<li class=""><a class="social-btn btn modal-btn btn-bg" [attr.href]="social.facebook_link" [target]="_blank"><i class="fa fa-facebook"></i><span class="separator"></span>  FACEBOOK</a></li>-->
                            <!--<li class=""><a class="social-btn btn modal-btn btn-bg" [attr.href]="social.insta_link" [target]="_blank"><i class="fa fa-instagram"></i><span class="separator"></span>  INSTAGRAM</a></li>-->
                            <!--<li class=""><a class="social-btn btn modal-btn btn-bg" [attr.href]="social.twitter_link" [target]="_blank"><i class="fa fa-twitter"></i><span class="separator"></span>  TWITTER</a></li>-->


                        </ul>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" [disabled]="!(promoteProducts.title && promoteProducts.message)">SAVE</button>
                    <button type="button" (click)="promoteForm.resetForm();" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>
                </div>
            </div>
        </form>
    </div>
</div>



<!-- add product modal -->
<div class="modal fade" id="productModal" role="dialog">
    <div class="modal-dialog">
        <form novalidate #product="ngForm" (ngSubmit)="addProduct(product)">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Product </h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="label-m" for="sel1">Select Category of Product</label>
                                <select class="form-control" name="talent_category_id" [(ngModel)]="selectedCategory">
                                    <option *ngFor="let category of categories" [value]="category.name"> {{category.name}}</option>
                                </select>
                            </div>

                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="label-m" for="title">Title *</label>
                                <input type="text" class="form-control" [(ngModel)]="product.title" #title = "ngModel" name="title" required placeholder="Title">
                                <div class="alert alert-danger" *ngIf="title.errors?.required && title.touched">This field is
                                        required
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group p-b-upload">
                                <label for="">Upload Image or Video Commercial of Product </label>

                                <div class="file-upload">
                                    <div class="file-select">
                                        <div class="file-select-button" id="fileName">Browse</div>
                                        <div *ngIf="imageUploader.queue.length<1" class="file-select-name" id="noFile">No file selected
                                        </div>
                                        <div *ngIf="imageUploader.queue.length>0" class="file-select-name" id="noFile">
                                            <span *ngFor="let item of imageUploader.queue">
                                                <span>{{item.file.name}} </span>
                                                <!--<a href="javascript:;" (click)="item.remove()"><i class="fa fa-remove"></i></a>-->
                                            </span>
                                        </div>
                                        <input (click)="imageUploader.queue.length =0;" type="file" id="chooseFile" name="profile_pic" ng2FileSelect [uploader]="imageUploader">
                                    </div>

                                    <ul class="file-list">
                                        <li *ngFor="let item of imageUploader.queue">
                                            <span>{{item.file.name}} </span>
                                            <a href="javascript:;" (click)="item.remove()">
                                                <i class="fa fa-remove"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="alert alert-danger" *ngIf="commercialFileRequired">
                                            Commercial image or video is required
                                    </div>
                                </div>


                            </div>

                        </div>

                        <div class="col-sm-6">
                            <div class="form-group p-b-upload">
                                <label for="">Upload Audio or Video Sample of Product </label>

                                <div class="file-upload">
                                    <div class="file-select">
                                        <div class="file-select-button" id="fileName">Browse</div>
                                        <div *ngIf="videoUploader.queue.length<1" class="file-select-name" id="noFile">No file selected
                                        </div>
                                        <div *ngIf="videoUploader.queue.length>0" class="file-select-name" id="noFile">
                                            <span *ngFor="let item of videoUploader.queue">
                                                <span>{{item.file.name}} </span>
                                                <!--<a href="javascript:;" (click)="item.remove()"><i class="fa fa-remove"></i></a>-->
                                            </span>
                                        </div>
                                        <input (click)="videoUploader.queue.length =0;" type="file" id="chooseFile" name="profile_pic" ng2FileSelect [uploader]="videoUploader">
                                    </div>

                                    <ul class="file-list">
                                        <li *ngFor="let item of videoUploader.queue">
                                            <span>{{item.file.name}} </span>
                                            <a href="javascript:;" (click)="item.remove()">
                                                <i class="fa fa-remove"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="">Bio Information of Product</label>
                                <textarea row="4" name="product_info" [(ngModel)]="product.product_info" class="form-control" rows="5" placeholder="Product Information"></textarea>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="">Bio Information of Seller</label>
                                <textarea row="4" name="description" [(ngModel)]="product.description" class="form-control" rows="5" placeholder="Product Information"></textarea>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="">Price of Product *</label>

                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-usd" aria-hidden="true"></i>
                                    </span>
                                    <input (keyup)="(product.price>100000)?showPriceError=true:showPriceError=false" type="text" class="form-control" [(ngModel)]="product.price" name="price" #price = "ngModel" required placeholder="Price">
                                    
                                </div>
                                <div class="alert alert-danger" *ngIf="price.errors?.required && price.touched">This field is
                                    required
                                </div>
                                <div class="alert alert-danger" *ngIf="showPriceError">
                                    Max price is 100000
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="">Upload Product
                                    <i class="text-p">(Mp3,jpeg,video,pdf)</i>
                                </label>

                                <div class="file-upload">
                                    <div class="file-select">
                                        <div class="file-select-button" id="fileName">Browse</div>
                                        <div *ngIf="pdfUploader.queue.length<1" class="file-select-name" id="noFile">No file selected
                                        </div>
                                        <div *ngIf="pdfUploader.queue.length>0" class="file-select-name" id="noFile">
                                            <span *ngFor="let item of pdfUploader.queue">
                                                <span>{{item.file.name}} </span>
                                                <!--<a href="javascript:;" (click)="item.remove()"><i class="fa fa-remove"></i></a>-->
                                            </span>
                                        </div>
                                        <input type="file" id="chooseFile" name="profile_pic" multiple ng2FileSelect [uploader]="pdfUploader">
                                        
                                    </div>

                                    <ul class="file-list">
                                        <li *ngFor="let item of pdfUploader.queue">
                                            <span>{{item.file.name}} </span>
                                            <a href="javascript:;" (click)="item.remove()">
                                                <i class="fa fa-remove"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="social-media-icons">
                        <div class="row">
                            <div class="col-sm-12">
                                <label>Social media links</label>
                                <div class="form-group">

                                    <div class="col-sm-1 icon">
                                        <i class="fa fa-facebook-official facebook-icon-large" aria-hidden="true"></i>
                                    </div>
                                    <div class="input-group col-sm-11">
                                        <input type="text" class="form-control" [(ngModel)]="product.facebookLink" name="facebookLink" placeholder="facebook link">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">

                                    <div class="col-sm-1 icon">
                                        <i class="fa fa-instagram facebook-icon-large" aria-hidden="true"></i>
                                    </div>
                                    <div class="input-group col-sm-11">
                                        <input type="text" class="form-control" [(ngModel)]="product.instagramLink" name="instagramLink" placeholder="instagram link">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">

                                    <div class="col-sm-1 icon">
                                        <i class="fa fa-twitter facebook-icon-large" aria-hidden="true"></i>
                                    </div>
                                    <div class="input-group col-sm-11">
                                        <input type="text" class="form-control" [(ngModel)]="product.twitterLink" name="twitterLink" placeholder="twitter link">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" [disabled]="!(product.title && product.price) || product.price>100000">SAVE</button>
                    <button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>
                </div>
            </div>
        </form>
    </div>
</div>
