
.well {
    background-color: #fff;
}

h3 {
    margin-top: 0;
    margin-left: 20px;
}

.btn-danger {
    padding: 6px 18px !important;
    font-size: 11px !important;
    border-radius: 2px;
}

.panel-m {
   margin:20px;
}

.drop-area {
    margin-top: 20px;
    margin-bottom: 20px;
}

.table-margin {
    margin-top: 30px;
}

thead {
    background-color: #f0f0f0;
}

.profile-square {
    text-align: center;
    background-color: #f0f0f0;
    width: 65px;
    height: 50px;
    margin-bottom: 5px;
}

.table > tbody > tr > td {
    vertical-align: 0;
    padding: 12px;
}

th {
    font-weight: 500;
}

.table > thead > tr > th {
    border-bottom: 0;
    /*padding: 5px;*/
}

.icon-color {
    color: #ff503f;
}

ul > li {
    list-style-type: none;
    display: inline;
}

.action-btn {
    border: 1px solid #f0f0f0;
    background-color: #fff;
    border-radius: 0;
    padding: 4px 8px;
    margin-left: 5px;
}

input .checkbox {
    background-color: #fff;
    border-radius: 0;
}

.filter {
    margin-left: 12px;
    border-radius: 0;
}

input[type=checkbox] {
    background-color: #fff;
}

.area-resize {
    height: 100px;
}

.h4-text {
    font-size: 14px;
    font-weight: 500;
}

.p-text {
    font-size: 12px;
    margin-top: -5px;
}

.btn-icons {
    margin-left:15px;
}
#productModal label{
    margin-bottom: 8px;
}

@media (min-width: 200px) and (max-width: 678px)  {
.filter {
    margin-left: 0;
    border-radius: 0;
}
}

label {
   margin-bottom: 0;
}

.action-btn:hover, .action-btn:active {
    border: 1px solid #f0f0f0;
    background-color: #f0f0f0;
}

.p-text {
    font-size: 12px;
    margin-top: 0;
}

.msg-body {
    padding-left: 0;
    padding-right: 0;
}

.modal-btn {
    border-radius: 0;
    border: 1px solid #ff503f;
    background-color: #fff;
}

.btn-icons {
    /*margin-left: 15px;*/
    margin-left: 0;
}

/*.nav .active {*/
    /*background-color: #ff503f;*/
/*}*/

.modal-btn:hover,
.modal-btn:focus,
.modal-btn:active {
    background-color: #ff503f;
    color: #fff;
}

.separator {
    content: '';
    display: inline-block;
    background: #888;
    margin: 0 6px;
    height: 18px;
    width: 1px;
    vertical-align: top;
}
/**/

.text-c {
    text-align: center;
}

.btn-p {
    padding: 6px 6px !important;
}

.table>tbody>tr>td {
    border: none;
    border-bottom: 1px solid #ddd;
}

.table>thead>tr>th {
   vertical-align:middle;
}

.btn-delete {
    border: 1px solid #f0f0f0;
    background-color: #fff;
    border-radius: 0;
    padding: 5px 18px !important;
    margin-left: 5px;
}

.btn-delete:hover, .btn-delete:active {
    border: 1px solid #f0f0f0;
    background-color: #f0f0f0;
}

.fa-icon {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

.input-group-addon {
    padding: 6px 25px;
}

h3 {
    margin-top: 0;
    margin-left: 20px;
}

.image-drop {
    /*padding:28px 10px;*/
    padding: 10px 10px;
    position: relative;
    border-radius: 2px;
    text-align: center;
    /*float:;*/
    cursor: pointer;
    display: inline-block;
    /*height: 150px;*/
    height: 120px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.hide_button {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 24px;
    width: 100%;
}

.dash-bdr {
    border: dashed 2px #c8c8c8;
}

.file-list li {
    display: inline-block;
    float: left;
}

.drop-area {
    margin-top: 20px;
    margin-bottom: 20px;
}

.panel-m {
    margin: 20px;
}

.alert-danger {
    color: #ff503f;
    background-color: transparent;
    border-color: transparent;
}

.alert {
    padding: 0px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    border-radius: 0px;
    font-size: 13px;
}

label {
    margin-bottom: 5px;
}


.text-p {
    font-size: 12px;
    font-weight: 300;
}

.p-b-upload {
    padding-bottom: 1px;
}

label .label-m {
    margin-bottom: 10px !important;

}


/*choose file css*/

.file-upload {
    display: block;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.file-upload .file-select-product {
    display: block;
    border: 1px solid #ccc;
    color: #555;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
}

.file-upload .file-select-product .file-select-product-button {
    background: #ff503f;
    padding: 0 25px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
}

.file-upload .file-select-product .file-select-product-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}

.file-upload .file-select-product:hover {
    border-color: #ff503f;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload .file-select-product:hover .file-select-product-button {
    background: #ff503f;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select-product {
    border-color: #ff503f;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select-product .file-select-product-button {
    background: #ff503f;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload .file-select-product input[type=file] {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.file-upload .file-select-product.file-select-product-disabled {
    opacity: 0.65;
}

.file-upload .file-select-product.file-select-product-disabled:hover {
    cursor: default;
    display: block;
    border: 1px solid #ccc;
    color: #555;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
}



.file-upload .file-select-product.file-select-product-disabled:hover .file-select-product-button {
    background: #ff503f;
    color: #fff;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.file-upload .file-select-product.file-select-product-disabled:hover .file-select-product-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}

.text-p {
    font-size: 12px;
    font-weight: 300;
}

.p-b-upload {
    padding-bottom: 1px;
}