<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<div class="col-sm-8 buyer-products buyer-profile">
  <h5 class="buyer-profile-heading"> Edit Account
 
    <!--<a class="btn h-previous h-round" (click)="goBack()"><i-->
    <!--class="h-cruser fa fa-angle-left"></i></a>-->
  </h5>
  <hr>
  <div class="row">
    <form novalidate #userSummary="ngForm" (ngSubmit)="editProfile(buyer)">
      <div class="form-group col-sm-12 p-b-10">
        <label for="name">Profile Name</label>
        <input type="text" class="form-control" name="display_name" [(ngModel)]="buyer.display_name" #myname="ngModel" placeholder="Profile Name"
          required />
        <div class="alert alert-danger" *ngIf="myname.errors?.required && myname.touched">This field is required</div>
      </div>

      <div class="form-group col-sm-12 p-b-10">
        <label for="">Profile Image</label>

        <div class="file-upload">
          <div class="file-select">
            <div class="file-select-button" id="fileName">Browse</div>
            <div *ngIf="imageUploader.queue.length<1 && !this.profileImage" class="file-select-name" id="noFile">No file
              selected
            </div>
            <span *ngIf="imageUploader.queue.length<1"> {{this.profileImage }} </span>

            <div *ngIf="imageUploader.queue.length>0" class="file-select-name" id="noFile">
              <span *ngFor="let item of imageUploader.queue">
                <span>{{item.file.name}} </span>
                <!--<a href="javascript:;" (click)="item.remove()"><i class="fa fa-remove"></i></a>-->
              </span>
            </div>
            <input type="file" id="chooseFile" name="profile_pic" ng2FileSelect [uploader]="imageUploader">

          </div>

          <ul class="file-list">
            <li *ngIf="imageUploader.queue.length<1"> {{this.profileImage }} </li>
            <li *ngFor="let item of imageUploader.queue">
              <span>{{item.file.name}} </span>
              <a href="javascript:;" (click)="item.remove()">
                <i class="fa fa-remove"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>


      <div class="form-group col-sm-12 p-b-10">
        <label>Buyer - Bio Information</label>
        <br />
        <textarea class="form-control" rows="4" name="description" [(ngModel)]="buyer.description" placeholder="Bio Information"></textarea>
      </div>
      <!-- <div class="form-group col-sm-12 p-b-10">
        <label>Change Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="buyer.password" placeholder="Change Password" />
      </div> -->
      <div class="buyer-profile-contact">
        <span class="col-sm-12 buyer-profile-contact-heading">Contact Information</span>
        <div>
          <div class="form-group col-sm-6 p-b-10">
            <label>First name</label>
            <input type="text" class="form-control" name="first-name" [(ngModel)]="buyer.first_name" #myfirstname="ngModel" placeholder="First Name"
              required />
            <div class="alert alert-danger" *ngIf="myfirstname.errors?.required && myfirstname.touched">This field is required</div>
          </div>
          <div class="form-group col-sm-6 p-b-10">
            <label>Last name</label>
            <input type="text" class="form-control" name="last_name" [(ngModel)]="buyer.last_name" #last_name="ngModel" placeholder="Last Name"
              required />
            <div class="alert alert-danger" *ngIf="last_name.errors?.required && last_name.touched">This field is required</div>
          </div>
        </div>
        <div>
          <div class="form-group col-sm-6 p-b-10" *ngIf="buyer.email">
            <label>Email</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="buyer.email" #myemail="ngModel" placeholder="Email"  required/>
            <div class="alert alert-danger alert-position" *ngIf="myemail.errors?.required && myemail.touched">This field
              is required</div>
          </div>
         
          <div class="form-group col-sm-6 p-b-10" *ngIf="!buyer.email">
              <label>Email</label>
              <input type="text" class="form-control" name="email" [(ngModel)]="buyer.email" #myemail="ngModel" placeholder="enter your email Email" required/>
              <div class="alert alert-danger alert-position" *ngIf="myemail.errors?.required && myemail.touched">This field
                is required</div>
            </div>


          <div class="form-group col-sm-6 p-b-10">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" name="phone" [(ngModel)]="buyer.phone" placeholder="+1234567890" />
          </div>
        </div>
        <div class="form-group col-sm-4 p-b-10">
          <label for="phone">City</label>
          <input type="text" class="form-control" name="city" [(ngModel)]="buyer.city" placeholder="City" />
        </div>
        <div class="form-group col-sm-4 p-b-10">
          <label for="phone">State</label>
          <input type="text" class="form-control" name="state" [(ngModel)]="buyer.state" placeholder="State" />
        </div>
        <div class="form-group col-sm-4 p-b-10">
          <label for="phone">Zip Code</label>
          <input type="text" class="form-control" name="zip_code" [(ngModel)]="buyer.zip_code" placeholder="Zip Code" />
        </div>
        <div class="form-group col-sm-12 p-b-10">
          <label>Address</label>
          <textarea class="form-control" name="address" [(ngModel)]="buyer.address" placeholder="Address"></textarea>
        </div>
      </div>
      <div class="buyer-profile-action-buttons">
        <div class="form-group">
          <!-- <button class="btn btn-danger" (click) = "temp()" >SAVE</button> -->
          <button type="submit" class="btn btn-danger" (click)="uploadImages()" [disabled]="!(buyer.display_name && buyer.first_name && buyer.email)">SAVE</button>
          <a class="btn btn-danger" routerLink="/buyer/dashboard">CANCEL</a>
        </div>
        <!-- <div class="form-group">
          <a class="btn btn-danger" routerLink="/buyer/dashboard">CANCEL</a>
        </div> -->
      </div>


    </form>

    <!-- <button (click)="uploadImages()" > HELLO </button> -->
  </div>


</div>

<div class="">
  <button class="go-back-btn" (click)="goBack()" id="backBtn" title="Go to back">
    <i class="fa fa-chevron-left"></i>
  </button>

  <button (click)="topFunction()" id="myBtn" title="Go to top">
    <i class="fa fa-chevron-up"></i></button>
</div>