<!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading> -->
<div id="main-header"> <app-header></app-header></div>
<div>
  <img *ngIf="user_profile && user_profile.role == 'buyer'" class="star-search-banner" src="assets/images/buyer-profile-banner.jpg"
    alt="buyer-banner" />
  <img *ngIf="user_profile && user_profile.role == 'seller'" class="star-search-banner" src="assets/images/seller-profile-banner.jpg"
    alt="seller-banner" />
</div>
<div class="container profile-container">
  <div class="row" *ngIf="user_profile">
    <div class="col-sm-4 col-xs-12 well">
      <div class="row">
        <div class="col-sm-12 com-xs-12 text-center">
          <img *ngIf="user_profile.profile_pic" [src]="user_profile.profile_pic" width="100" height="100" class="circular" />
          <img *ngIf="!user_profile.profile_pic" src="assets/images/profile.png" width="100" height="100" class="circular" />
        </div>
        <div class="col-sm-12 com-xs-12 text-center">
          <h4>{{ user_profile.first_name }} {{ user_profile.last_name }}</h4>
        </div>
        <div class="col-sm-12 com-xs-12 text-center">
          {{ user_profile.description }}
        </div>
        <div class="col-sm-12 com-xs-12">
          <hr>
        </div>
        <div class="col-sm-12 com-xs-12">
          <div class="row padding-5">
            <div class="col-sm-4 col-xs-4">
              <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;Email
            </div>
            <div class="col-sm-8 col-xs-8 text-right text-wrap">
              {{ user_profile.email }}
            </div>
          </div>
          <div class="row padding-5" *ngIf="user_profile.phone">
            <div class="col-sm-4 col-xs-4">
              <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;Phone
            </div>
            <div class="col-sm-8 col-xs-8 text-right">
              {{ user_profile.phone }}
            </div>
          </div>
        </div>
        <div class="col-sm-12 com-xs-12">
          <hr>
        </div>
        <div class="col-sm-12 com-xs-12">
          <div class="row padding-5">
            <div class="col-sm-6 col-xs-6">
              <i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Role
            </div>
            <div class="col-sm-6 col-xs-6 text-right">
              {{ user_profile.role }}
            </div>
          </div>

          <div class="row padding-5" *ngIf="user_profile.address || user_profile.city || user_profile.state">
            <div class="col-sm-4 col-xs-4">
              <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;From
            </div>
            <div class="col-sm-8 col-xs-8 text-right text-wrap">
              {{ user_profile.address }}<span *ngIf="user_profile.city">, {{ user_profile.city }}</span><span *ngIf="user_profile.state">,
                {{ user_profile.state }}</span>

            </div>
          </div>

          <div class="row padding-5">
            <div class="col-sm-6 col-xs-6">
              <i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;&nbsp;Member Since
            </div>
            <div class="col-sm-6 col-xs-6 text-right">
              {{ user_profile.created_at | date:'longDate' }}
            </div>
          </div>

          <div class="row padding-5" *ngIf="user_profile.total_award">
            <div class="col-sm-6 col-xs-6">
              <i class="fa fa-trophy" aria-hidden="true"></i>&nbsp;&nbsp;Awards
            </div>
            <div class="col-sm-6 col-xs-6 text-right">
              {{ user_profile.total_award }}
            </div>
          </div>


        </div>
      </div>


    </div>
    <div class="col-sm-8 col-xs-12">
      <div class="product-container">
        <div *ngIf="talents" class="row">

          <div *ngFor="let product of talents" class="col-sm-4 product-showcase">
            <span class="hover-text">{{ product.title }}
              <br />
              <small class="truncate"> {{ product.short_product_info }} </small>
            </span>
            <div class="product-show-video" *ngIf="product.commercial_video || product.sample_video" (mouseenter)="showVideoControls(product.id)"
              (mouseleave)="hideVideoControls(product.id)">
              <video style="width: 100%" height="247" id="video{{ product.id }}" poster="{{ product.new_image_path }}">
                <source *ngIf="product.commercial_video" src="{{ product.commercial_video }}" type="video/mp4">
                <source *ngIf="!product.commercial_video && product.sample_video" src="{{ product.sample_video }}" type="video/mp4">
              </video>
              <hr>
            </div>
            <div class="product-show-image" *ngIf="!product.commercial_video && !product.sample_video">
              <img width="247" height="247" *ngIf="product.new_image_path" [src]="product.new_image_path">
              <img width="247" height="247" *ngIf="!product.new_image_path" src="assets/images/talent-mall/no_image-200x200.jpg">
              <hr>
            </div>
            <div class="product-brief-info">
              <h5>
                <b>{{ product.title }}</b>
              </h5>
              <h6 style="text-transform: uppercase;">BY: {{ product.first_name }}</h6>
            </div>
            <div class="product-brief-info-two">
              <h4> &#36; {{ product.price }}
                <a (click)="productCounter(product.id)" [routerLink]="['/talent-mall/product-info', product.id ]">
                  <small class="pull-right view-more"> VIEW MORE
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                  </small>
                </a>
              </h4>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-sm-12 col-xs-12 text center">
          <div *ngIf="talents.length > 6" class="pagination-row">
            <div>
              <!-- <pagination-controls previousLabel=""
                nextLabel="" (pageChange)="p = $event"></pagination-controls> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="">
  <button class="go-back-btn" (click)="goBack()" id="backBtn" title="Go to back">
    <i class="fa fa-chevron-left"></i>
  </button>

  <button (click)="topFunction()" id="myBtn" title="Go to top">
    <i class="fa fa-chevron-up"></i></button>
</div>
<div id="main-footer"> <app-footer></app-footer></div>