<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <app-admin-sidebar></app-admin-sidebar>
    </div>
    <!-- Page content -->
    <div id="page-content-wrapper">
      <router-outlet></router-outlet>
    </div>
</div>
