<!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading> -->
<div id="main-header"> <app-header></app-header></div>
<div>
  <img class="star-search-banner" src="assets/images/privacy-banner.jpg" alt="privacy-banner" />
</div>
<div class="container term-caontainer">
    <div class="row">
        <div class="col-xs-12 col-sm-12 welcome-box ">
            <div class="text-center"><h2>FUTURESTARR Privacy Policy</h2></div>
            <div class="text-justify">
                <p>
                        Welcome to FutureStarr.com ("FutureStarr", "Website", "we", "our", "us"), owned and operated by FutureStarr Media, LLC founder (Edward Standley Jr.). Here at FutureStarr, your privacy is among our top priorities. This Privacy Policy explains how FutureStarr collects, uses, stores, and discloses your personal information when you use our Website and all related products, properties, tools, and services provided by FutureStarr. 

                </p>
            </div>
            <div class="text-justify">
                <p>
                        Unless explicitly stated otherwise, this Privacy Policy covers any current, future, modified, updated and new products, properties, tools and services provided by 
FutureStarr.com. You acknowledge that your use of our Website shall be subject to this 
Privacy Policy and the FutureStarr Terms and Conditions, whether or not you register for 
an account, upload your products, or opt in to, interact with or inquire about any other services or products provided by FutureStarr. 

                        
                </p>
            </div>
            <div class="text-justify">
                <p>
                        FutureStarr is an online, easy-to-use talent distribution platform based in Atlanta, GA 
                        where unsigned or undiscovered talent and talent lovers coexist. We have one mission: To give unsigned, undiscovered talent/artists more exposure and connect them with a larger audience of listeners and future fans who want to discover, promote and share their music. For more information about our goals and mission here at FutureStarr, and to read about our Founder and CEO, please visit our <a routerLink="/about-us">About Us page</a>. 
                </p>
            </div>
            <div class="text-left text-justify">
                <h2>The Collection and Use of Your Information</h2>
                <p>
                        FutureStarr collects information about you from various sources, including but not
limited to, personal information submitted by you and information collected through cookies.
                </p>
                <p>
                        We use collected information for the following general purposes: identification and authentication, analysis of trends, improvement of services, Website content and products, contacting you, research, and the announcement of contests, events and offers.
                </p>
                <p>
                        The type of information we collect can include, but is not limited to, your name, email address, telephone number, mailing address, billing address, payment information, age, birthdate, location (city, state, country), picture or avatar, title (musician, band, published book, etc.), social profile handles or related information, browser type and Internet Protocol (IP) address. 
                </p>
                <p>
                        The personal and non-personal information collected by FutureStarr will not be shared with or sold to other organizations for commercial purposes, except to provide the products or services you’ve requested, when you have provided us with permission to share this information, or if any of the following circumstances exist: 
                </p>
                <ul>
                        <li>
                                FutureStarr is acquired by or merged with another company. In this event, you will be notified prior to your information being transferred as it will become subject to a new, different Privacy Policy.
                        </li>
                        <li>
                                FutureStarr is required to provide your information because it is needed to investigate, prevent or take action against or regarding any type of illegal activities, situations, or online behaviors, including, but not limited to, suspected fraud, potential threats to the safety of any person, violation of our Terms of Services, or as otherwise required by law. 
                        </li>
                </ul>
                <p>
                We will use the information we collect from you for the following reasons:      
                </p>
                <ul>
                    <li>
                        To provide technical support in any event you require or request it
                    </li>
                    <li>
                        To identify you as the: 
                        <ol type="A">
                            <li>The user and owner of the FutureStarr account created.
                                    <ul>
                                            <li>
                                                The creator of comments and other content contributions made on the website.
                                            </li>
                                            <li>
                                                The creator or owner of the MP3 (song files), video(s), graphics, avatar, and other content uploaded to the FutureStarr website.
                                            </li>
                                            <li>
                                                To operate and maintain your FutureStarr account.
                                            </li>
                                            <li>
                                                To correspond with you regarding an inquiry or request you submitted
                                            </li>
                                            <li>
                                                To pursue your participation for surveys, and to include your participation data in the analyzed survey results.
                                            </li>
                                            <li>
                                                To provide you and other users with data in regard to the streaming and
                                                downloading of MP3s, videos, and photos.
                                            </li>
                                            <li>
                                                To prevent or take action against activities, behaviors, or practices that are, or have the possibility to be, in breach of the FutureStarr Terms of Service or any applicable law. To send you correspondence via email regarding updates, notifications, marketing messages, newsletters, offers, or other important information regarding your FutureStarr account.
                                            </li>
                                            <li>
                                                To display your artist name, song names, video name, bio, and other relevant information on your free talent dashboard or FutureStarr talent page 
                                            </li>
                                            <li>
                                                To analyze the use of our website, talent platform, tools, content, resources, and properties 
                                            </li>
                                            <li>
                                                To complete and update your listener profile or Artist Page, to include avatars, photos, videos, names, and/or social profiles. Information is primarily displayed to visitors, fans, and people in general as a means of facilitating interaction within the FutureStarr site. 
                                            </li>
                                    </ul>
                            </li>
                            
                        </ol>  
                    </li>
                    <!-- <li>
                        To operate and maintain your FutureStarr account
                    </li>
                    <li>
                        To correspond with you regarding an inquiry or request you submitted
                    </li>
                    <li>
                        To pursue your participation for surveys, and to include your participation data in
                            the analyzed survey results
                    </li>
                    <li>
                        To provide you and other users with data in regard to the streaming and
                            downloading of MP3s and videos
                    </li>
                    <li>
                            To prevent or take action against activities, behaviors, or practices that are, or have
                            the possibility to be, in breach of the FutureStarr Terms of Service or any
                            applicable law
                    </li>
                    <li>
                            To send you correspondence via email regarding updates, notifications, marketing
                            messages, newsletters, offers, or other important information regarding your
                            FutureStarr account
                    </li>
                    <li>
                            To display your artist name, song names, video name, and other relevant
                            information on your free music dashboard or FutureStarr artist page
                    </li>
                    <li>
                            To analyze the use of our website, music platform, tools, content, resources, and
                            properties
                    </li>
                    <li>
                            To process your payment for any of the paid services you sign up for on the
                            FutureStarr platform, including but not limited to adding your music to the
                            FutureStarr MP3 or creating an Artist Page.
                    </li>
                    <li>
                            To process your recurring payment for any of the paid services you sign up for
                            that requires recurring payment to remain active, including but not limited to
                            keeping your music on the FutureStarr MP3 or maintaining an Artist Page
                    </li>
                    <li>
                            To satisfy any payment for a paid service that you sign up for that is offered on the
                            FutureStarr platform currently or in the future
                    </li>
                    <li>
                            To complete and update your listener profile or Artist Page, to include avatars,
                            photos, videos, names, and/or social profiles. Information is primarily displayed to
                            visitors, fans, and people in general as a means of facilitating interaction within
                            the FutureStarr site 
                    </li> -->
                </ul>
                
                <p>
                        Whether you are using a mobile device or a desktop computer, the information that is automatically collected as a result of your use of the FutureStarr Website includes:
                </p>
                <ul>
                    <li>
                                The operating system, type and nature, and browser of the device you are using to access our Website. 
                    </li>
                    <li>
                                The IP address of the device you are using to access our Website. 
                    </li>
                    <li>
                                The geolocation of the device you are using to access our Website.
                    </li>
                    <li>
                                Any keywords, search terms or search phrases you may have used to locate our Website. 
                    </li>
                    <li>
                                The website you visited immediately prior to accessing our Website.  
                    </li>
                    <li>
                                Any referring site you used to access our Website. 
                    </li>
                    <li>
                                The specific actions you take while accessing our Website. 
                    </li>
                    <li>
                                The time, frequency and duration of your visits to our website. 
                    </li>
                    <li>
                                Information related to your interaction with any of our services, products, and email or web messages.
                    </li>
                </ul>
                <p>
                                entirety and make sure that you are in agreement with our use and disclosure of your Privacy policy.
                </p>
                <p>
                                As a user of the FutureStarr Website, you are required to read this Privacy Policy in its 
                                personal and non-personal information. 
                </p>
            </div>
            <div class="text-justify">
                <h2>Choice of Information Provided</h2>
                <p>
                        FutureStarr has made every effort to provide its users and registered members with as much control as possible over the information provided to us, as well as the type and 
                        amount of personal information they want to provide.  
                        <br>
                        STAGE I personal information. However, your visit will provide us with information that is II
                </p>
                <p>
                                Please note that as a visitor of the Website, you are not required to provide us with any 
                                automatically collected as a result of your visit (information collected automatically is outlined above).
                </p>
                <p>
                                If you decide to become a registered member and user of our Website, by registering for a free FutureStarr account or by purchasing an Talent Product on FutureStarr, you have the choice to control your personal information in several ways, including:  
                </p>
                <ul>
                    <li>
                                The name (artist or band name) displayed on your Artist Page or Talent Dashboard
                    </li>
                    <li>
                                Using an alternative email address to receive correspondence from us
                    </li>
                    <li>
                                The sharing of your Talent Page or talent preferences on apps or social networks by you (not by other users or visitors) 
                    </li>
                </ul>
            </div>
            <div class="text-justify">
                <h2>Cookies</h2>
                <p>
                                FutureStarr uses cookies to record your session information. A cookie is a small amount of data sent to your browser and stored on your computer’s hard drive. The main purpose of a cookie is to identify users and possibly prepare customized web pages or to save site login information for you. Cookies are required to visit or use the FutureStarr Website. 
                </p>
                <p>
                                You can also find detailed information about cookies at http://aboutcookies.org
                </p>
                <p>
                                We use cookies to store your preferences and session information for purposes including, but not limited to: customizing advertisements and Website content, tracking visitor and member activity and Website use, limiting the times visitors and members see certain advertisements, tracking the most visited areas of the Website, tracking how much time users and visitors spend in different areas of our Website, and customizing user and member experience. 
                </p>
            </div>
            <div class="text-justify">
                <h2>Storage of Data</h2>
                <p>
                        FutureStarr has carefully selected trustworthy third privacy-party vendors and hosting partners to  
                        provide necessary software, storage, networking, hardware, and other technology required to run FutureStarr.  
                        
                </p>
                <p>
                        FutureStarr and its third-party vendors own the databases, code and rights to the 
                        FutureStarr Website, properties and tools. However, you retain all rights to your data.  
                        
                </p>
            </div>
            <div class="text-justify">
                <h2>Disclosure of Data</h2>
                <p>
                        FutureStarr may disclose personally identifiable information under special circumstances, such as to comply with subpoenas, when your actions violate our <a routerLink = "/term-conditions" >Terms of Service</a>, or for 
                        any of the circumstances outlined earlier in this Privacy Policy. 
                </p>
            </div>
            <div class="text-justify">
                <h2>Security</h2>
                <p>
                        All listener accounts and Artist Pages on FutureStarr are secured by the individual registered user (as applicable) passwords. This is a part of FutureStarr takes on preventative measures to secure the account information that is intended to be kept private. FutureStarr prides itself on taking extensive security measures to protect all the information that is housed in our database. These measures are intended to ward against theft, breach of security, misuse, unauthorized access, destruction, alteration, or disclosure or sharing of information. FutureStarr also restricts access to privacy information to any FutureStarr employees who is required to access to respond to a request, carry out their job functions, perform customer service tasks, respond to technical inquiries, or any other necessary tasks. However, please note that FutureStarr cannot guarantee the security of registered user account information. Unauthorized entry or use, hardware or software failure, and other factors have the potential to compromise the security of member information at any time. Users are urged to also take precautions to protect their personal data by changing passwords often using a combination of letters and numbers and using a secure web browser.  
                </p>
            </div>
            <div class="text-justify">
                <h2>Links to Outside Websites</h2>
                <p>
                        FutureStarr may contain links to third-party websites. However, FutureStarr is not responsible for the Privacy Policies, Terms of Services and/or practices on these thirdparty websites. When clicking a link or advertisement to access a third-party website, a user should thoroughly read the Privacy Policy associated with that website as the FutureStarr Privacy Policy only governs the information collected on and by FutureStarr.com. 
                </p>
            </div>
            <div class="text-justify">
                <h2>Email Opt-In & Opt-Out/Unsubscribe </h2>
                <p>
                        Members and users of FutureStarr who no longer wish to receive email messages, notification, updates, or related correspondence may choose to opt-out at any time. The option to opt-out/unsubscribe is located at the bottom of all email correspondence from FutureStarr. 
                </p>
            </div>
            <div class="text-justify">
                <h2>Privacy of Children</h2>
                <p>
                        FutureStarr is not intended for children under the age of 13. FutureStarr operates a site in compliance with the Children's Online Privacy Protection Act of 1998. We do not 
                        acknowledge, influence-, or accept privacy, registration by, and will not knowingly collect or use personally, identifiable information from, anyone under 13 years of age.  
                </p>
            </div>
            <div class="text-justify">
                <h2>Profiles, Forums, and Other Communication Channels</h2>
                <p>
                                Your use of the FutureStarr site and any of its products, properties, tools, or services represents your agreement with the terms of this section. Be advised that when you willingly and intentionally post public information to profiles, forums, and any other 
                                communication channels used within the FutureStarr platform, that this information can be publicly accessed, and can as a result, be used by anyone to send unsolicited 
                                 STAGE I communications that are completely independent of any communications issued by II 
                                FutureStarr.com. FutureStarr Media, LLC is not responsible for the personally identifiable information, or any other information for that matter, you choose to submit or place on FutureStarr, even if this information is later modified or removed. Therefore, we ask that you choose wisely and fully think about what you are posting before posting on the FutureStarr site. 
                </p>
            </div>
            <div class="text-justify">
                <h2> Your Decision to Not Disclose Your Information</h2>
                <p>
                        If you decide that you do not want us to use your information in the manner described in this FutureStarr Privacy Policy, please refrain from using our Platform. If you have already registered an account, you can find out how to terminate or cancel your account 
                        <a routerLink="/term-conditions">here</a>
                </p>
            </div>
            <div class="text-justify">
                <h2> Changes Made to the FutureStarr Privacy Policy</h2>
                <p>
                                FutureStarr may, from time to time, make changes, modifications, and add or remove terms and information to our Privacy Policy. Whenever we make changes to this Privacy 
                                Policy, we will post them on the FutureStarr site and we will notify subscribers and FS registered users via email-privacy If, however, we are going to use personally identifiable information in a manner materially different from that stated at the time of collection, we will notify post a notice on FutureStarr 
                    </p>
                    <p>
                                Should you contest or not agree with any of the provisions of this Privacy Policy, you should not use or access the FutureStarr Website or any of the products, properties, tools, or services provided by FutureStarr.
                    </p>
                    <p>
                        Should you have any questions about this Privacy Policy, please feel free to send them to
                        privacy@futurestarr.com
                </p><br>
                <p>
                        <strong>Privacy Policy Last Amended: </strong> 19 August 2018
                        
                </p>
            </div>
                            
        </div>
    </div>

    <div class="row">
        <div class="listing-box">
      
     
        </div>
    </div>
</div>

  <div class="">
        <button class="go-back-btn" (click)="goBack()" id="backBtn" title="Go to back">
            <i class="fa fa-chevron-left"></i>
        </button>

        <button (click)="topFunction()" id="myBtn" title="Go to top">
            <i class="fa fa-chevron-up"></i></button>
  </div>
  <div id="main-footer"> <app-footer></app-footer></div>
