<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div>
  <img class="star-search-banner" src="assets/images/talent-mall/talentmall-banner.jpg" />
</div>
<div *ngIf="talent" class="container buyer-products-container product-detailed-info-container">
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4 product-media">
      <div *ngIf="talent" class="product-image">
        <video style="width: 100%" *ngIf="talent.talent[0].image.length > 0 && isVideo(talent.talent[0].image[0].new_image_path) "
          controls>
          <source [src]="talent.talent[0].image[0].new_image_path" type="video/mp4">
          <source [src]="talent.talent[0].image[0].new_image_path" type="video/webm">
          <source [src]="talent.talent[0].image[0].new_image_path" type="video/ogg">

        </video>


        <!-- <video *ngIf="talent.talent[0].image.length > 0 && isVideo(talent.talent[0].image[0].new_image_path) " id="my-player" class="video-js" controls preload="auto" poster="//vjs.zencdn.net/v/oceans.png" data-setup='{}'>
          <source [src]="talent.talent[0].image[0].new_image_path">
          <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank">
              supports HTML5 video
            </a>
          </p>
        </video> -->


        <img *ngIf="talent.talent[0].image.length > 0 && !isVideo(talent.talent[0].image[0].new_image_path) && talent.talent[0].image.length > 0" [src]="talent.talent[0].image[0].new_image_path">
        <img *ngIf="talent.talent[0].image.length > 0 && !isVideo(talent.talent[0].image[0].new_image_path) && talent.talent[0].image.length < 1" src="assets/images/talent-mall/no_image-200x200.jpg"
        />

      </div>
      <div *ngIf="userAssetResponse" class="extra-links">
        <a class="mb-list inbox-r inbox-color">
          <i class="fa fa-trophy profile-icon" aria-hidden="true"></i>
          <b> AWARDS </b>
          <span class="bkt"> ({{userAssetResponse.award_count }})</span>
        </a> &nbsp; &nbsp;
        <a class="mb-list inbox-l inbox-color">
          <i class="fa fa-download" aria-hidden="true"></i>
          <b> DOWNLOADS </b>
          <span class="bkt"> ({{userAssetResponse.downloads }})</span>
        </a>

      </div>
      <!--<div class="product-video">-->
      <!--<h5>-->
      <!--<b>SAMPLE PRODUCT</b>-->
      <!--</h5>-->
      <!--<img *ngIf="talent.talent[0].sample_media.length < 1" src="../assets/images/talent-mall/media-default-thumbnail-url-video.png"/>-->

      <!--<video *ngIf="talent.talent[0].sample_media.length > 0" width="310" height="320" controls>-->
      <!--<source [src]="talent.talent[0].sample_media[0].new_video_path" type="video/mp4">-->
      <!--<source [src]="talent.talent[0].sample_media[0].new_video_path" type="video/ogg"> Your browser does not support HTML5 video.-->
      <!--</video>-->
      <!--</div>-->
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8">
      <h2>{{ talent.talent[0].title }}
        <!--<a class=" btn h-previous h-round" (click)="goBack()">-->
        <!--<i class="h-cruser fa fa-angle-left"></i>-->
        <!--</a>-->
      </h2>
      <div class="row product-price-and-action">
        <div class="col-sm-4 col-md-2 padding-8">
          <h4>
            <b>
              <small> PRICE </small>
              <br /> &#36;{{ talent.talent[0].price }} </b>
          </h4>
        </div>
        <div class="col-sm-4 col-md-3 padding-8">
          <button *ngIf="showAddToCart" class="btn btn-danger btn-setting" (click)="addToCartModal()" [disabled]="addingItemToCart">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i> &nbsp; &nbsp; ADD TO CART <i *ngIf="addToCartSpinner"
              class="fa fa-spinner" aria-hidden="true"></i>
          </button>

          <a *ngIf="userAssetResponse.is_this_item_in_usercart == true" class="btn btn-danger btn-setting go-to-cart-button" routerLink="/cart">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp; GO TO CART
          </a>
        </div>

        <div class="col-sm-4 col-md-3 padding-8">
          <a class="btn btn-danger btn-setting" (click)="shareModal()">
            PROMOTE THIS TALENT
          </a>
        </div>
        <div class="col-sm-4 col-md-3 padding-8">
          <a class="btn btn-danger btn-setting awards" (click)="openAwardTalent()">
            <i class="fa fa-trophy" aria-hidden="true"></i>&nbsp; AWARD TALENT
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h5>
            <b>TALENT INFO</b>
          </h5>
          <p> {{ talent.talent[0].product_info }} </p>
          <div class="no-talent-info" *ngIf="!talent.talent[0].product_info">
            <h4>NO TALENT INFORMATION AVAILABLE!</h4>
          </div>
          <br />
          <div class="row">
            <div class="col-sm-6 col-xs-6">
              <h6>BY:
                <span class="seller-name-of-procuts-uppercase" style="color:#ff503f;"> {{ talent.talent[0].first_name }}
                  {{ talent.talent[0].last_name }}</span>
              </h6>
            </div>
            <div class="col-sm-6 col-xs-6 text-right">
              <a class="cursor-pointer" style="margin:-24px 7px 0px 0; " style="font-size: 29px;margin-right: 15px;" data-toggle="tooltip"
                title="Riders {{ talent.talent[0].total_riders }}" (click)="openRiderModal(talentId)">
                <img src="assets/images/riders.png" width="28px" height="22px;" />
                <span class="product-rider-div">
                  <!-- <span *ngIf="talent.talent[0].total_riders" class="badge">{{ talent.talent[0].total_riders }}</span> -->
                  <span class="rider-badge">{{ talent.talent[0].total_riders }}</span>
                </span>
              </a>
              <a class="" style="margin:-24px 7px 0px 0; " style="font-size: 29px;" data-toggle="tooltip" title="Comments {{ talent.talent[0].total_coments.length }}"
                class="btn-setting awards product-comment" (click)="openProductComment(talentId)">
                <i class="fa fa-comment" style="font-size: 29px;" aria-hidden="true"></i>
                <span class="product-comment-div cursor-pointer">
                  <span>{{ talent.talent[0].total_coments.length }}</span>
                </span>
              </a>
            </div>
          </div>

          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-5">
          <a class="btn btn-danger btn-setting contact-me" (click)="showSendMessageModal()">

            <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp; &nbsp; CONTACT ME
          </a>
        </div>
        <!-- <button shareButton="twitter" [sbUrl]="'https://example.com'" [sbTags]="'angular awesomeness'">
          Tweet
        </button>
        <share-buttons [url]="'https://www.google.com'" [title]="'title'" [description]="'description'"></share-buttons> -->
        <div class="col-sm-6 col-xs-7" *ngIf="talent.talent">
          <div class="share-category">
            <ul class="social-icon-category">
              <li>
                <a shareButton="facebook" class="cursor-pointer" [sbUrl]="repoUrl" [sbTitle]="talent.talent[0].title" [sbDescription]="talent.talent[0].product_info"
                  [sbTags]="talent.talent[0].title" data-toggle="tooltip" title="Facebook">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a shareButton="twitter" class="cursor-pointer" [sbUrl]="repoUrl" [sbTitle]="talent.talent[0].title" [sbDescription]="talent.talent[0].product_info"
                  [sbTags]="talent.talent[0].title" data-toggle="tooltip" title="Twitter">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a shareButton="google" class="cursor-pointer" [sbUrl]="repoUrl" [sbTitle]="talent.talent[0].title" [sbDescription]="talent.talent[0].product_info"
                  [sbTags]="talent.talent[0].title" data-toggle="tooltip" title="Google">
                  <i class="fa fa-google-plus"></i>
                </a>
              </li>
              <li>
                <a shareButton="linkedin" class="cursor-pointer" [sbUrl]="repoUrl" [sbTitle]="talent.talent[0].title" [sbDescription]="talent.talent[0].product_info"
                  [sbTags]="talent.talent[0].title" data-toggle="tooltip" title="LinkedIn">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="product-video">
        <div class="row">
          <div class="col-sm-3 com-md-4 col-xs-12"></div>
          <div class="col-sm-6 com-md-4 col-xs-12">
            <div class="text-center padding-8">
              <h3>Sample Product</h3>
              <img src="assets/images/talent-mall/sample_product-indicator.png" width="50px" />
            </div>
          </div>
          <div class="col-sm-3 com-md-4 col-xs-12"></div>
        </div>

        <img class="cursor-pointer" data-toggle="modal" data-target="#sampleProductModal" *ngIf="talent.talent[0].sample_media.length < 1" style="width:100%; height:275px;" src="assets/images/talent-mall/media-default-thumbnail-url-video.png"
        />

        <!--<video *ngIf="talent.talent[0].sample_media.length > 0" style="width:100%; height:275px;" width="100%" controls>-->
        <div class="row">
          <div class="col-sm-3 com-md-4 col-xs-12"></div>
          <div class="col-sm-6 com-md-4 col-xs-12">
            <!-- <div class="text-center padding-8">
              <h3>Sample Product</h3>
              <img src="assets/images/talent-mall/sample_product-indicator.png" width="50px" />
            </div> -->
            <!-- poster="{{ talent.talent[0].image[0].new_image_path }}" -->
            <video id="my-player" style="width: 100%" *ngIf="talent.talent[0].sample_media.length > 0 && isVideo(talent.talent[0].sample_media[0].new_video_path)"
              controls>
              <source [src]="talent.talent[0].sample_media[0].new_video_path" type="video/mp4">
              <source [src]="talent.talent[0].sample_media[0].new_video_path" type="video/ogg"> Your browser does not support
              HTML5 video.
            </video>
            <video id="my-player" poster="assets/images/audio-banner.jpg" style="width: 100%" *ngIf="talent.talent[0].sample_media.length > 0 && !isVideo(talent.talent[0].sample_media[0].new_video_path)"
              controls>
              <source [src]="talent.talent[0].sample_media[0].new_video_path" type="video/mp4">
              <source [src]="talent.talent[0].sample_media[0].new_video_path" type="video/ogg"> Your browser does not support
              HTML5 video.
            </video>
          </div>
          <div class="col-sm-3 com-md-4 col-xs-12"></div>
        </div>
      </div>
    </div>
  </div>



</div>
<!--  -->
<div *ngIf="talent" class="bio-info-container">
  <div class="container">
    <div class="bio-info">
      <div class="bio-info-img">
        <h3>BIO INFO</h3>
        <a target="_blank" routerLink="/users-profile/{{ talent.talent[0].user_id}}">
          <img *ngIf="!talent.talent[0].new_profil_path" src="assets/images/talent-mall/no_image-200x200.jpg" />
          <img *ngIf="talent.talent[0].new_profil_path" [src]="talent.talent[0].new_profil_path" />
        </a>
        <a target="_blank" routerLink="/users-profile/{{ talent.talent[0].user_id}}">
          <h4 class="seller-name-of-procuts-uppercase">{{ talent.talent[0].first_name }} {{ talent.talent[0].last_name }}</h4>
        </a>
      </div>
      <div class="row seller-bio-brief">
        <div class="col-sm-4">
          <h6 *ngIf="talent.talent[0].address">
            <i class="fa fa-map-marker"></i> &nbsp; &nbsp; From: {{ talent.talent[0].address }}</h6>
        </div>
        <div class="col-sm-4">
          <h6 *ngIf="talent.talent[0].seller_membership_date">
            <i class="fa fa-user" aria-hidden="true"></i> &nbsp; &nbsp;Member Since: {{ talent.talent[0].seller_membership_date
            }}
          </h6>
        </div>
        <div class="col-sm-4">
          <h6 *ngIf="talent.talent[0].product_count_seller">
            <i class="fa fa-clock-o" aria-hidden="true"></i> &nbsp; &nbsp;Recent Products : {{ talent.talent[0].product_count_seller
            }}
          </h6>
        </div>
      </div>
      <div class="row seller-bio-long">
        <p> {{ talent.talent[0].description }} </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="similar-products-container">
    <h3 *ngIf="similarTalents && similarTalents.similar_talents.length >0">Purchase Similar Items</h3>
    <div class="row" *ngIf="similarTalents && similarTalents.similar_talents.length >0">

      <div *ngFor="let i of similarTalents.similar_talents" class="col-sm-2">
        <div class="similar-products-item" [routerLink]="['/talent-mall/product-info', i.id ]">
          <img class="profile-square" [src]="(i.image.length>0  && isImage(i.image[0].new_similar_image_path))?i.image[0].new_similar_image_path:'assets/images/star-logo.png' "
          />
          <!-- <img width="165" height="165" *ngIf="i.image.length < 1" src="assets/images/talent-mall/no_image-200x200.jpg" />
          <img width="165" height="165" *ngIf="i.image.length > 0" [src]="i.image[0].new_similar_image_path"> -->
          <h4 class="text-wrap">
            {{ i.title }}
            <br />
            <small>&#36; {{ i.price }}</small>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="">
  <button class="go-back-btn" (click)="goBack()" id="backBtn" title="Go to back">
    <i class="fa fa-chevron-left"></i>
  </button>

  <button (click)="topFunction()" id="myBtn" title="Go to top">
    <i class="fa fa-chevron-up"></i></button>
</div>


<!-- Rider Modal Start-->
<div class="social-buzz-modals">
  <div class="modal fade" id="riderModal" role="dialog">
    <div class="modal-dialog">
      <form>
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <span class="pull-right">
              <!-- <i class="fa fa-motorcycle riders"></i> -->
              <img src="assets/images/riders.png" width="24px" height="18px;" />
              <span style="color:red">{{ totalRiders }} </span> Riders &nbsp;</span>
            <span class="modal-title"><b> Riders</b> </span>

          </div>
          <div *ngIf="!selfRider" class="modal-body">
            <div class="centered-modal-body">
              <h4>Are you ready to ride?</h4>
              <button type="submit" class="btn btn-danger" (click)="rideTalents()">YES</button>
              <button type="button" class="btn btn-default btn-d" data-dismiss="modal">NO</button>
            </div>

          </div>
          <div class="modal-footer">
            <div class="fanbase-background text-left">
              <h5>Fan Base</h5>
            </div>
            <div class="row margin-top-5" *ngFor="let rider of ridres">
              <div class="col-sm-1 col-xs-2 text-center">
                <a target="_blank" routerLink="/users-profile/{{ rider.id}}">
                  <img *ngIf="!rider.profile_pic" class="circular img-40" src="assets/images/profile.png">
                  <img *ngIf="rider.profile_pic" class="circular img-40" [src]="rider.profile_pic">
                </a>
              </div>
              <div class="col-sm-7 col-xs-6 text-left">
                <h5>{{ rider.first_name }} {{ rider.last_name }}</h5>
              </div>
              <div class="col-sm-4 col-xs-4 text-right">
                <span>{{ rider.created_at | date:'short' }}</span>
              </div>

            </div>
            <div class="no-fanbase-data-found" *ngIf="!ridres">
              <h5>No Riders yet!</h5>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Rider Modal End-->


<!-- Send Message Modal Start-->
<div class="modal fade" id="sendMessage" role="dialog">
  <div class="modal-dialog">
    <form novalidate #contactForm="ngForm" (ngSubmit)="addBuyerContact(contactForm)">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Send Message </h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Message Title</label>
            <br />
            <input type="text" class="form-control" name="title" [(ngModel)]="contactForm.title" #mytitle="ngModel" required placeholder="Message Title"
            />
            <div class="alert alert-danger" *ngIf="mytitle.errors?.required && mytitle.touched">Message title is required</div>
          </div>
          <div class="form-group">
            <label>Your Message</label>
            <br />
            <textarea class="form-control" name="message" [(ngModel)]="contactForm.message" rows="6" #mymessage="ngModel" required placeholder="Write here"> Message </textarea>
            <div class="alert alert-danger" *ngIf="mymessage.errors?.required && mymessage.touched">Message is required</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger" [disabled]="!(contactForm.title && contactForm.message)">SAVE</button>
          <button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Send Message Modal End-->

<!-- Asking to Login Start-->
<div class="modal-ask-to-login fade" id="askToLogin" role="dialog">
  <div class="modal-dialog">
    <form>
      <!-- Modal content-->
      <div class="ask-to-login">
        <div class="modal-body">
          <div class="form-group text-spinner">

            <h3 class="deleteConfirmation">Please login to use this feature! </h3>
            <i class="fa fa-circle-o-notch fa-spin"></i>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>


<!-- comment model is start -->
<div class="social-buzz-modals">
  <div class="modal fade" id="openComment" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h5 class="pull-right" style="margin: 22px 0 0 0;">
            <span style="color:red;" *ngIf="talent_comments_count">
              {{talent_comments_count}}
            </span>
            <i class="fa fa-comment"></i></h5>
          <h4 class="modal-title" style="margin: 16px 0 0 0;"> Comments </h4>
        </div>
        <div class="modal-body">
          <span *ngFor="let all_comment of talent_comments">
            <div class="row">
              <div class="col-sm-6 col-md-6 col-xs-6">
                <div class="fanbase-users">
                  <a target="_blank" routerLink="/users-profile/{{ all_comment.user_id}}">
                    <img *ngIf="all_comment.profile_pic == ''" src="assets/images/profile.png">
                    <img *ngIf="all_comment.profile_pic" [src]="all_comment.profile_pic">
                  </a>
                  <span class="fanbase-user-name"><b>{{all_comment.first_name}} {{all_comment.last_name}}</b></span>
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-xs-6  text-right">
                <h5>{{all_comment.created_at | date:'dd-MMM-yy | h:m:a'}}</h5>
              </div>
            </div>
            <div class="row margin-top">
              <div class="col-sm-12 col-md-12 col-xs-12">
                <p>{{all_comment.buyer_comment}} </p>
              </div>
            </div>
            <hr>
          </span>
          <div class="text-center" *ngIf="talent_comments_count == 0">
            No Comments found
          </div>
        </div>


      </div>
    </div>
  </div>
  <!-- Award Modal End-->
</div>

<!-- comment model is start -->



<div class="social-buzz-modals">
  <!-- Award Modal Start-->
  <div class="modal fade" id="giveAward" role="dialog">
    <div class="modal-dialog">
      <form>
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h5 class="pull-right">
              <i class="fa fa-trophy"></i>
              <span style="color:red"> {{userAssetResponse.award_count }} </span> Award</h5>
            <h4 class="modal-title"> Awards </h4>
          </div>
          <div class="modal-body">
            <div class="centered-modal-body">
              <div *ngIf="userAssetResponse.is_user_already_awarded == false">
                <h4>Are you sure to award this talnet?</h4>
                <button type="submit" class="btn btn-danger" (click)="awardTalent(true)">YES</button>
                <button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>
              </div>
              <div *ngIf="userAssetResponse.is_user_already_awarded == true">
                <h4>You have already awarded this talent.</h4>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="fanbase-background">
              <h5>Fan Base</h5>
            </div>
            <div *ngFor="let fanBase of userAssetResponse.fan_base" class="row">
              <div class="col-sm-1 col-xs-2 text-center">
                <a target="_blank" routerLink="/users-profile/{{ fanBase.id}}">
                  <img *ngIf="!fanBase.profile_pic" class="circular img-40" src="assets/images/profile.png">
                  <img *ngIf="fanBase.profile_pic" class="circular img-40" [src]="fanBase.new_profile">
                </a>
              </div>
              <div class="col-sm-11 col-xs-10">
                <h5>{{ fanBase.first_name }}</h5>
              </div>
              <!-- <div class="fanbase-users">
                <img *ngIf = "!fanBase.profile_pic" class="col-sm-3" src="assets/images/profile.png">
                <img *ngIf = "fanBase.profile_pic" class="col-sm-3" [src]="fanBase.new_profile">
              </div>
              <h5  class="col-sm-9 col-xs-8 fanbase-user-name">{{ fanBase.first_name }}</h5> -->
            </div>
            <div class="no-fanbase-data-found" *ngIf="fanBaseUsersCount == 0">
              <h5>No one awarded this talent yet!</h5>
            </div>
            <!-- <div class="row">
              <div class="fanbase-users">
                <img class="col-sm-3" src="../assets/images/profile.png">
              </div>
              <h5 class="col-sm-9 col-xs-8">Johny</h5>
            </div> -->
            <!-- <div class="row">
              <div class="fanbase-users">
                <img class="col-sm-3" src="../assets/images/profile.png">
              </div>
              <h5 class="col-sm-9 col-xs-8">Johny</h5>
            </div> -->
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- Award Modal End-->
</div>


<!-- Share Modal Start-->
<!-- Send Message Modal End-->
<div class="social-buzz-modals">
  <div class="modal fade share-modal" id="shareModal" role="dialog">
    <div class="modal-dialog">
      <form #social="ngForm" (ngSubmit)="shareOnSocialMedia(social)">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"> Share </h4>
          </div>
          <div class="modal-body">
            <!-- <div class="form-group">
              <textarea class="form-control" style="resize: none" rows="5" placeholder="say something..."></textarea>
            </div> -->
            <div class="form-group">
              <div class="btn-group btn-icons" role="group">
                <br />
                <ul class="nav">
                  <li class="list-item-facebook">
                    <a class="social-btn-facebook btn modal-btn btn-color btn-bg" (click)="getSocialShareMediaName('facebook')" shareButton="facebook"
                      [sbUrl]="repoUrl">
                      <i class="fa fa-facebook"> </i>
                      <span class="separator"></span> FACEBOOK</a>
                  </li>
                  <!--<li class="list-item-instagram">-->
                  <!--<a class="social-btn-instagram btn modal-btn btn-bg" (click)="getSocialShareMediaName('instagram')">-->
                  <!--<i class="fa fa-instagram"></i>-->
                  <!--<span class="separator"></span> INSTAGRAM</a>-->
                  <!--</li>-->
                  <li class="list-item-instagram">
                    <a class="social-btn-instagram btn modal-btn btn-color btn-bg" (click)="getSocialShareMediaName('google')" shareButton="google"
                      [sbUrl]="repoUrl">
                      <i class="fa fa-google-plus"></i>
                      <span class="separator"></span> GOOGLE +</a>
                  </li>
                  <li class="list-item-twitter">
                    <a class="social-btn-twitter btn modal-btn btn-color btn-bg" (click)="getSocialShareMediaName('twitter')" shareButton="twitter"
                      [sbUrl]="repoUrl">
                      <i class="fa fa-twitter"></i>
                      <span class="separator"></span> TWITTER</a>
                  </li>
                  <li class="list-item-linkedin">
                    <a class="social-btn-linkedin btn modal-btn btn-color btn-bg" (click)="getSocialShareMediaName('linkedin')" shareButton="linkedin"
                      [sbUrl]="repoUrl">
                      <i class="fa fa-linkedin" aria-hidden="true"></i>
                      <span class="separator"></span> LINKEDIN</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <!-- <button type="submit" class="btn btn-danger">SHARE</button> -->
            <button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Share Modal End-->

<!-- Login as buyer Modal START -->
<div class="modal-ask-to-login fade" id="askToJoinAsBuyer" role="dialog">
  <div class="modal-dialog">
    <form>
      <!-- Modal content-->
      <div class="ask-to-login">
        <div class="modal-body">
          <br />
          <h3 class="ask-register"> To use this feature please register as Buyer. <br /> <small>By clicking Register, you
              will be logged out from your current account. </small></h3>
          <!-- <i class="fa fa-circle-o-notch fa-spin"></i> -->
        </div>
        <div class="modal-footer ">
          <button type="submit" class="btn btn-danger" data-dismiss="modal" (click)="goToRegister()">REGISTER</button>
          <button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Login as buyer Modal ENDS -->


<!-- No sample product popup -->
<div id="sampleProductModal" class="modal fade modal-m" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- <div class="modal-header mob-cls" style="padding:5px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div> -->
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-5 text-center" style="background-color:#fff;">
            <button type="button" class="close desk-cls text-danger visible-xs" style="color: #ff503f !important;opacity: unset !important;text-shadow:unset !important" data-dismiss="modal">&times;</button><br>
            <h4 style="color:#ff503f;font-weight: 600;margin: 12px 0 0 0;">
              Oops, looks like the seller did not upload a sample product
            </h4>
            <p style="margin: 34px 0 0 0; text-align: center;"><b>No worries, Click the contact me button and Send them a quick message!</b></p>
            <a class="btn btn-danger" style="margin: 15px;" data-dismiss="modal" (click)="showSendMessageModal()">CONTACT ME</a>
          </div>
          <div class="col-sm-7 text-center login-back-img hidden-xs" style="background-image:url('assets/images/img_tea_man.png');background-size:100% 100%;background-position:left;margin-top:-15px;margin-bottom:-15px;height: 270px;">
            <button type="button" class="close desk-cls text-danger" style="color: #ff503f !important;opacity: unset !important;text-shadow:unset !important" data-dismiss="modal">&times;</button>
            <!-- <br><br><br><br><br><br>
            <p style="color:#fff;">Welcome to</p>
            <h3 style="color:#fff;">FutureStarr</h3>
            <p style="color:#fff;">The Official Talent Marketplace</p>
            <br><br> <br><br><br><br><br> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>