
/* #awardTalent img{
    width: 33px;
    padding-top: 10px;
} */

/****** Style Star Rating Widget *****/
.rating { 
    border: none;
    float: left;
  }
  
  .rating > input { display: none; } 
  .rating > label:before { 
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f091";
  }
  
  .rating > .half:before { 
    content: "";
    position: absolute;
  }
  
  .rating > label { 
    color: #ddd; 
   float: right; 
  }
  
  .nav > li > .social-btn {
      display: inline-block;
      /*padding: 6px 12px;*/
       padding: 3px 9px;
  }
  .separator{
      content: '';
      display: inline-block;
      background: #888;
      margin: 0 6px;
      height: 18px;
      width: 1px;
      vertical-align: top;
  }
   #confirmDelete .deleteConfirmation{
      display: block;
      text-align: center;
      padding: 46px;
      padding-bottom: 46px;
      padding-bottom: 26px;
      font-weight: bold;
   }
   #confirmDelete .modal-footer{
      text-align: center;
   }
  
  .social-btn {
      color: #333;
  }
  .modal-btn {
      padding: 3px 9px;
      border-radius: 2px;
  }
  .modal-btn {
      border-radius: 0;
      border: 2px solid #ff503f;
      background-color: #fff;
  }
  
  .btn-icons {
      /*margin-left: 15px;*/
      margin-left: 0;
  }
  .nav > li{
      position: relative;
      display: inline;
      padding:5px;
  }
  
  .nav .active {
      background-color: #ff503f;
  }
  
  .modal-btn:hover,
  .modal-btn:focus,
  .modal-btn:active {
      background-color: #ff503f;
      color: #fff;
  }
  .icon-color {
      color: #ff503f;
  }
  
  /***** CSS Magic to Highlight Stars on Hover *****/
  
  .rating > input:checked ~ label, /* show gold star when clicked */
  .rating:not(:checked) > label:hover, /* hover current star */
  .rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */
  
  .rating > input:checked + label:hover, /* hover current star when changing rating */
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
  .rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 