
@media only screen and (max-width: 768px) {
  .navbar-nav>li>a {
      /* padding-top: 10px; */
      /* padding-bottom: 0px; */
      line-height: 20px;
  }

  .nav>li>a {
      position: relative;
      display: block;
      padding: 0px 15px;
  }
  .navbar-nav {
    margin: -33.5px -15px;
  }
  .nav>li {
    position: relative;
    display: block;
    float: left;
  }
}
