<!-- upper sub-header -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="container-fluid">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" id="menu-toggle" role="button" (click)="toggleMenu()" aria-expanded="false" aria-controls="navbar" style="float:right;">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
            <div  class="navbar-brand">
                <!-- <a id="menu-toggle" role="button" (click)="toggleMenu()" class="glyphicon glyphicon-align-justify btn-menu toggle"> -->
                    <!-- <i class="fa fa-bars"></i> -->
                <!-- </a> -->
        <!-- <a href="#">Project name</a> -->
            </div>
          </div>

    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#">Howdy, FutureStarr Services</a></li>
      <li><a href="#about"><i class="fa fa-user"></i></a></li>
    </ul>
</div>
</nav>
<!-- end upper sub-header -->

<!--main content  -->
  <div class="page-content" [ngClass]="{'blur-cls': blurToggle}">
      <div class="container-fluid">

        <div class="row">

          <div class="col-sm-4">
            <div class="well well-bs text-center">
                <img src="assets/images/network.png" class="dashboard-icons">
                <h2>1,200</h2>
                <p>User Registered</p>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="well well-bs text-center">
              <img src="assets/images/pie-chart.png" class="dashboard-icons">
              <h2>500</h2>
              <p>Monthly Sales</p>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="well well-bs text-center">
              <img src="assets/images/letter.png" class="dashboard-icons">
              <h2>10,000</h2>
              <p>Recieve Monthly Emails</p>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="well well-bs text-center">
              <img src="assets/images/chat.png" class="dashboard-icons">
              <h2>8,000</h2>
              <p>Monthly Comments</p>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="well well-bs text-center">
              <img src="assets/images/letter.png" class="dashboard-icons">
              <h2>200</h2>
              <p>Signup Monthly</p>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="well well-bs text-center">
              <img src="assets/images/graph.png" class="dashboard-icons">
              <h2>12,000</h2>
              <p>Monthly Visitors</p>
            </div>
          </div>

        </div>

          <div class="row">
              <!-- <div class="col-md-6">
                  <div class="panel panel-danger">
                      <div class="panel-heading">
                              Panel 1
                      </div>
                      <div class="panel-body">
                          content body
                      </div>
                  </div>
              </div> -->
              <!-- <div class="col-md-6">
                  <div class="panel panel-success">
                      <div class="panel-heading">
                              Panel 1
                      </div>
                      <div class="panel-body">
                          content body
                      </div>
                  </div>
              </div> -->
          </div>
      </div>
  </div>
