<div id="main-header"> <app-header></app-header></div>
<div>
  <img class="star-search-banner" src="assets/images/terms-conditaions.jpg" alt="Refund-Policy-banner" />
</div>



<div class="container term-caontainer">
  <div class="row">
    <div class="col-xs-12 col-sm-12 welcome-box ">
      <div >
        <br>
        <br>
        <p class="text-justify">
            At Future Starr, we collect and manage user data according to the following Privacy Policy, with the goal of incorporating our company values: transparency, accessibility, sanity, usability. This document is part of Future Starr's Terms of Service, and by using Future Starr.com (the “Website”), you agree to the terms of this Privacy Policy and the Terms of Service. Please read the Terms of Service in their entirety, and refer to those for definitions and contacts.

        </p>
        <p class="text-justify">
            At Future Starr, we use the "Privacy by Design" approach. This means that we think of privacy implication before building a new feature, we don't ask for information we don't need, and we protect the information we have. We take pride in treating our users' privacy the way we'd like to be treated by a website like Future Starr, as individuals.
        </p>
      </div>
      <div class="text-left" >
        <h2>Data Collected</h2>
      </div>
      <div >
        <p class="text-justify">
            We collect anonymous data from every visitor of the Website to monitor traffic and fix bugs. For example, we collect information like web requests, the data sent in response to such requests, the Internet Protocol address, the browser type, the browser language, and a timestamp for the request.

        </p>
        <p class="text-justify">
            We ask you to log in and provide certain personal information (such as your name and email address) in order to be able to save your profile and the documents and comments associated with it. In order to enable these or any other login based features, we use cookies to store session information for your convenience. You can block or delete cookies and still be able to use Future Starr, although if you do you will then be asked for your username and password every time you log in to the Website. In order to take advantage of certain features of the Website, you may also choose to provide us with other personal information, such as your picture or personal website, but your decision to utilize these features and provide such data will always be voluntary.

        </p>
        <p class="text-justify">
            You are able to view, change and remove your data associated with your profile. Should you choose to delete your account, please contact us at custserv@FutureStarr.com and we will follow up with such request as soon as possible.

        </p>
        <p class="text-justify">
            Minors and children should not use Future Starr. By using the Website, you represent that you have the legal capacity to enter into a binding agreement.
        </p>
      </div>
      <div class="text-left" >
        <h2>Use of the Data</h2>
      </div>
      <div >
        <p class="text-justify">
            We only use your personal information to provide you the Future Starr services or to communicate with you about the services or the Website.

        </p>
        <p class="text-justify">
            With respect to any documents you may choose to upload to Future Starr, we take the privacy and confidentiality of such documents seriously. We encrypt all documents, and permanently delete any redacted edits you make to documents. If you choose to make a document public, we recommend you redact any and all references to people and addresses, as we can't protect public data and we are not responsible for any violation of privacy law you may be liable for.

        </p>
        <p class="text-justify">
            We employ industry standard techniques to protect against unauthorized access of data about you that we store, including personal information.
        </p>
        <p class="text-justify">
            We do not share personal information you have provided to us without your consent, unless:

        </p>
          <ul>
            <li>
                doing so is appropriate to carry out your own request;
            </li>
            <li>
                we believe it's needed to enforce our Terms of Service, or that is legally required;
            </li>
            <li>
                we believe it's needed to detect, prevent or address fraud, security or technical issues;
            </li>
            <li>
                otherwise protect our property, legal rights, or that of others.

            </li>
          </ul>
        
        <p class="text-justify">
            Future Starr is operated from the United States. If you are visiting the Website from outside the U.S., you agree to any processing of any personal information you provide us according to this policy.

        </p>
        <p class="text-justify">
            Future Starr may contact you, by email or other means. For example, Future Starr may send you promotional emails relating to Future Starr or other third parties Future Starr feels you would be interested in, or communicate with you about your use of the Future Starr website. Future Starr may also use technology to alert us via a confirmation email when you open an email from us. You can modify your email notification preferences by clicking the appropriate link included in the footer of email notifications. If you do not want to receive email from Future Starr, please opt out of receiving emails at the bottom of any Future Starr emails or by editing your profile preferences.
        </p>
      </div>
      <div class="text-left" >
        <h2>Sharing of Data</h2>
      </div>
      <div>
        <p class="text-justify">
            We don't share your personal information with third parties. Only aggregated, anonym zed data is periodically transmitted to external services to help us improve the Future Starr Website and service. We currently use Google Analytics (traffic analysis, SEO optimization), Mail chimp (mailing list management) Team Brand Red (Brand Management) Zen desk (email support) and Kiss metrics (analytics). We listed below what data these third parties extract exactly. Feel free to check out their own Privacy Policies to find out more.
        </p>
            <ul>
              <li>Google Analytics: anonymous (ad serving domains, browser type, demographics, language settings, page views, time/date), pseudonymous (IP address)
                </li>
              <li>Mail chimp: name and email of our beta subscription list</li>
              <li>Zen desk: anonymous
                </li>
              <li>Kiss metrics: anonymous, pseudonymous, registered users' activity.</li>
            </ul>
        
        <p class="text-justify">
            We also use social buttons provided by services like Twitter, Google+, LinkedIn and Facebook. Your use of these third party services is entirely optional. We are not responsible for the privacy policies and/or practices of these third party services, and you are responsible for reading and understanding those third party services’ privacy policies.

        </p>
        <p class="text-justify">
            We employ and contract with people and other entities that perform certain tasks on our behalf and who are under our control (our “Agents”). We may need to share personal information with our Agents in order to provide products or services to you. Unless we tell you differently, our Agents do not have any right to use Personal Information or other information we share with them beyond what is necessary to assist us. You hereby consent to our sharing of Personal Information with our Agents.
        </p>
        <p class="text-justify">
            We may choose to buy or sell assets. In these types of transactions, user information is typically one of the transferred business assets. Moreover, if we, or substantially all of our assets, were acquired, or if we go out of business or enter bankruptcy, user information would be one of the assets that is transferred or acquired by a third party. You acknowledge that such transfers may occur, and that any acquirer of us or our assets may continue to use your personal information as set forth in this policy.

        </p>
      </div>
      <div class="text-left" >
        <h2>Changes to the Privacy Policy</h2>
      </div>
      <div class="text-left" >
        <p class="text-justify">
            We may amend this Privacy Policy from time to time. Use of information we collect now is subject to the Privacy Policy in effect at the time such information is used. If we make major changes in the way we collect or use information, we will notify you by posting an announcement on the Website or sending you an email. In any case, you can track all changes via the TOS Tracker. A user is bound by any changes to the Privacy Policy when he or she uses the Services after such changes have been first posted.
        </p>
        <p>
            Should you have any question or concern, please write to custserv@futurestarr.com or add a comment below!
        </p>
        <br><br>
      </div>
    </div>
  </div>
</div>





<div class="">
  <button class="go-back-btn" (click)="goBack()" id="backBtn" title="Go to back">
    <i class="fa fa-chevron-left"></i>
  </button>

  <button (click)="topFunction()" id="myBtn" title="Go to top">
    <i class="fa fa-chevron-up"></i></button>
</div>
<div id="main-footer"> <app-footer></app-footer></div>