<div class="container-fluid" style="background-image:url('assets/images/header-bg.jpg');background-size:cover;">
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
  <h3 class="text-center " style="color:#fff;margin-top: 111px;line-height:44px;">Reset your FutureStarr password</h3>
  </div>
<div class="col-sm-2"></div>
</div>
<br><br>
</div>



<div class="container">
  <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="well panel panel-danger" style="margin:20px;">
        <div class="panel-body">
          <form novalidate #user="ngForm" (ngSubmit)="reset(user)">
          <div class="form-group">
            <label for="email">Password</label>
            <input type="password" class="form-control" [(ngModel)]="user.password" name="password" #mypassword="ngModel" required placeholder="Password">
            <div class="alert alert-danger" *ngIf="mypassword.errors?.required && mypassword.touched">Password is required</div>
          </div>
          <div class="form-group">
            <label for="pwd">Confirm Password:</label>
            <input type="password" class="form-control" [(ngModel)]="user.repassword" name="repassword" #myrepassword="ngModel" required placeholder="Confirm Password">
              <div class="alert alert-danger" *ngIf="user.password !== user.repassword && myrepassword.touched || myrepassword.errors?.required && myrepassword.touched">Password not matched</div>
          </div>
          <button type="submit"  [disabled]="!user.valid || user.password !== user.repassword" class="btn btn-danger main-button">Submit</button>
        </form>
        </div>
      </div>
</div>
<div class="col-sm-3"></div>
</div>
