
.alert-danger {
     color: #ff503f;
     background-color: transparent;
     border-color: transparent;
}

.alert {
     padding: 0px;
     margin-bottom: 0px;
     border: 1px solid transparent;
     border-radius: 0px;
     font-size: 14px;
}
