
.well {
    background-color: #fff;
}

.btn-danger {
    padding: 6px 18px !important;
    font-size: 121px !important;
    border-radius: 2px;
}

h3 {
    margin-top: 0;
    margin-left: 20px;
}

.input-group-addon {
    padding: 6px 25px;
}

.panel-m {
   margin:20px 20px 40px 20px;
}

.image-drop {
    padding: 28px 10px;
    /*background:#00ad2d;
    border:1px solid #00ad2d;*/
    position: relative;
    /*color:transparent;*/
    border-radius: 2px;
    text-align: center;
    float:;
    cursor: pointer;
    display: inline-block;
    height: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.hide_button {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 24px;
    width: 100%;
}

.dash-bdr {
    border: dashed 2px #c8c8c8;
}

.file-list li {
    display: inline-block;
    float: left;
}

.drop-area {
    margin-top: 5px;
    margin-bottom: 5px;
}

.promote-btn {
    float: right;
}

.table-margin {
    margin-top: 35px;
}

thead {
    background-color: #f0f0f0;
}

.profile-square {
    text-align: center;
    background-color: #f0f0f0;
    width: 50px;
    height: 50px;
}

.table > tbody > tr > td {
    vertical-align: 0;
    padding: 12px;
}

.table > thead > tr > th {
    border-bottom: 0;
    padding: 5px;
}

.icon-color {
    color: #ff503f;
}

ul > li {
    list-style-type: none;
    display: inline;
}

.action-btn {
    border: 1px solid #f0f0f0;
    background-color: #fff;
    border-radius: 0;
    padding: 4px 8px;
    margin-left: 5px;
}

input .checkbox {
    background-color: #fff;
    border-radius: 0;
}

.filter {
    margin-left: 12px;
    border-radius: 0;
}

input[type=checkbox] {
    background-color: #fff;
}

.modal-title {
    font-size: 18px;
    margin: 0 15px;
    font-weight: 500;
}

.modal-margin {
    padding: 0 15px;
}

.modal-body{
    margin-bottom: 15px;
}

.area-resize {
    height: 100px;
}

.h4-text {
    font-size: 14px;
    font-weight: 500;
}

.p-text {
    font-size: 12px;
    margin-top: -5px;
}

.modal-btn {
    border-radius: 0;
    border: 1px solid #ff503f;
    background-color: #fff;
}

/*.btn-bg {*/
    /*font-size:20px;*/
/*}*/

.btn-icons {
    margin-left:15px;
}

.nav .active {
  background-color: #ff503f;
}

.modal-btn:hover,
.modal-btn:focus,
.modal-btn:active {
   background-color: #ff503f;
    color:#fff;
}

.progress {
    /*width:330px;*/
}

.progress-bar {
    background-color: #ff503f;
    width:70%;
}

.modal-h {
    font-size: 18px;
    font-weight: 500;
    margin-left: 15px;
}

/*.account-h {*/
   /*border-bottom: 1px solid #e5e5e5;*/
/*}*/

@media screen and (max-width: 650px) and (min-width: 230px) {
    .progress-bar {
    background-color: #ff503f;
    width:70%;
}
}

.imgInp {
    position: relative;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    right: 0;
    top: -20px;
    /*height: 100%;*/
    /*font-size: 24px;*/
    /*width: 100%;*/
    /*padding: 6px 12px;*/
    width:80px;
    /*height: 35px;*/
}

.file {
  visibility: hidden;
  position: relative;

}

.btn-p {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.btn-ads {
    padding: 17px 0 0 0;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    margin-top:25px;
}

.modal-header {
    padding:0;
}

.panel-m {
   /*margin:20px 20px 40px 20px;*/
    margin:20px;
}

.alert-danger {
     color: #ff503f;
     background-color: transparent;
     border-color: transparent;
}

.alert {
     padding: 0px;
     margin-bottom: 0px;
     border: 1px solid transparent;
     border-radius: 0px;
     font-size: 13px;
}

label {
    margin-bottom:5px;
}

.btn-ads {
    padding: 17px 0 0 0;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    margin-top:25px;
}

.p-text {
    font-size: 12px;
    margin-top: -10px;
}

