<h3>Categories <a class=" btn h-previous h-round" (click)="goBack()"><i class="h-cruser fa fa-angle-left"></i></a>
</h3>

<div>

    <div class="well panel panel-danger" style="margin:20px;">

        <div class="modal-header p-m">
            <h4 class="modal-h">Profile</h4>
        </div>

        <div class="panel-body">
            <form novalidate #userProfile="ngForm" (ngSubmit)="editProfile()">

                <div class="form-group">
                    <label for="sel1">Select Categories:</label>
                    <select class="form-control" name="talent_category_id" value="category.name">
                        <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>

                    </select>
                </div>
                <div class="form-group">
                    <label for="sel1">Select Sub Categories:</label>
                    <select class="form-control">
                        <option></option>

                    </select>
                </div>
                <div class="btn-ads">
                    <button type="submit" class="btn btn-danger" [disabled]="">SAVE
                    </button>
                    <!--<button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>-->
                </div>
            </form>
        </div>
    </div>


</div>


<div>

    <div class="well panel panel-danger panel-m">

        <div class="modal-header">
            <h4 class="modal-h">Social Media </h4>
        </div>

        <div class="panel-body">

            <div class="table-margin table-responsive">

                <table class="table">
                    <tbody>
                    <tr>
                        <td><img class="profile-square"></td>
                        <td></td>
                        <td class="text-center"></td>
                        <td>
                            <ul>
                                <li>
                                    <button class="btn action-btn" (click)="editProduct()"><i
                                            class="fa fa-pencil-square-o icon-color"></i>
                                    </button>
                                </li>
                                <li>
                                    <button class="btn action-btn" (click)="deleteProduct()"><i
                                            class="fa fa-trash-o icon-color"></i></button>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>

</div>


