.list-group-item-p {

    border-bottom: none;

    border-left: none;
    border-right: none;
    padding: 15px 25px;
}

.list-group-item-p:hover button, .list-group-item-p:active button {
    border: 1px solid #ff503f;
    background-color: #ff503f;
    color: #fff;
}

.list-group-item-p:hover a, .list-group-item-p:active a {
    color: #ff503f;
}

.action-btn-m {
    border: none;
    background-color: #fff;
    border-radius: 0;
    padding: 2px 8px;
    margin-left: 5px;
    float: right;
}

.well-msg {
    padding-left: 0;
    padding-right: 0;
}

.msg-body {
    padding-left: 0;
    padding-right: 0;
}

.msg-color {
    color: #333;
}

.d-modal-body {
    padding: 0;
}

.modal-m {
    margin-top: 40px;

}

.profile-square {
    text-align: center;
    background-color: #f0f0f0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.col-sm-r {
    padding-left: 15px;
}

.text-1 {
    font-size: 12px;
    font-weight: 600;
}

.text-color-orange {
    color: #ff503f;
    font-size: 12px;
}

.text-color-grey {
    font-size: 12px;
    color: #737373;
}

.mob-cls {
    border-bottom: none;
}

h4 {
    margin-left:15px;
    font-size: 17px;
    font-weight: 600;
}

