<div class="container">
<!-- Modal -->
<div id="downloadModal" class="modal fade modal-m" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header mob-cls">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title">Downloads</h4>
       </div>
      <div class="modal-body d-modal-body">


              <!--<div>-->
                <!--<ul class="list-group list-group-padding">-->
                     <!--<li class="list-group-item list-group-item-p">-->

                  <!--<div class="row">-->
                    <!--<div class="col-sm-1">-->
                         <!--<img class="profile-square" src="../assets/images/network.png"/>-->
                    <!--</div>-->
                    <!--<div class="col-sm-9 col-sm-r">-->
                       <!--<span class="text-1">Kris Robbins</span><span class="text-color-orange">&nbsp;(Buyer)</span>-->
                      <!--<br>-->
                      <!--<i class="text-color-grey">Bang Music (pop music)</i>-->
                    <!--</div>-->
                    <!--<div class="col-sm-2">-->
                          <!--<span class="action-btn-m">$25</span>-->
                    <!--</div>-->

                  <!--</div>-->

                 <!--</li>-->
                   <!--<li class="list-group-item list-group-item-p">-->

                  <!--<div class="row">-->
                    <!--<div class="col-sm-1">-->
                         <!--<img class="profile-square" src="../assets/images/network.png"/>-->
                    <!--</div>-->
                    <!--<div class="col-sm-9 col-sm-r">-->
                       <!--<span class="text-1">Kris Robbins</span><span class="text-color-orange">&nbsp;(Buyer)</span>-->
                      <!--<br>-->
                      <!--<i class="text-color-grey">Bang Music (pop music)</i>-->
                    <!--</div>-->
                    <!--<div class="col-sm-2">-->
                          <!--<span class="action-btn-m">$25</span>-->
                    <!--</div>-->

                  <!--</div>-->

                 <!--</li>-->

                <!--</ul>-->
            <!--</div>-->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>
      </div>
    </div>

  </div>
</div>

</div>
