<!-- <div>
  <img class="star-search-banner" src="assets/images/privacy-banner.jpg" alt="privacy-banner" />
</div> -->
<div id="main-header"> <app-header></app-header></div>
<div class="container term-caontainer" style="margin-top:90px;">
    <div class="row">
        <div class="col-xs-12 col-sm-12 welcome-box text-center">
  			<h1 class="error-code">404</h1>
  			<h3>This page doesn't exist</h3>
		</div>
	</div>
</div>
<div id="main-footer"> <app-footer></app-footer></div>