
<h3 class="no-margin">DASHBOARD</h3>
<!--<hr style="margin-top:0px;">-->
<div class="row">

<div class="col-sm-4">
<a routerLink="/seller/sale">
    <!--<a routerLink="">-->
  <div class="listing-box">
      <div class="img-box">
          <img alt="" class="hover-images" src="assets/images/seller/sales.jpg">
      </div>
      <div class="listingttl">
          <h2 class="text-center">Sales</h2>
      </div>
  </div>
</a>
</div> <!-- col-sm-4 colsed-->

<div class="col-sm-4">
<a routerLink="/seller/add-product">
  <div class="listing-box">
      <div class="img-box">
          <img alt="" class="hover-images" src="assets/images/seller/upload.jpg">
      </div>
      <div class="listingttl listing-box-product">
          <h2 class="text-center">Upload Product</h2>
      </div>
  </div>
</a>
</div> <!-- col-sm-4 colsed-->

<div class="col-sm-4">
<a routerLink="/seller/commercial-ads">
  <div class="listing-box listing-box-1">
      <div class="img-box">
          <img alt="" class="hover-images" src="assets/images/seller/comercial-add.jpg">
      </div>
      <div class="listingttl listingttl-1">
          <h2 class="text-center">Purchase Commercial ads</h2>
      </div>
  </div>
</a>
</div> <!-- col-sm-4 colsed-->

<div class="col-sm-4">
<a routerLink="/message">
  <div class="listing-box">
      <div class="img-box">
          <img alt="" class="hover-images" src="assets/images/seller/message.jpg">
      </div>
      <div class="listingttl">
          <h2 class="text-center">Messages</h2>
      </div>
  </div>
</a>
</div> <!-- col-sm-4 colsed-->

<div class="col-sm-4">
<a routerLink="/seller/my-product">
  <div class="listing-box">
      <div class="img-box">
          <img alt="" class="hover-images" src="assets/images/seller/myproduct.jpg">
      </div>
      <div class="listingttl">
          <h2 class="text-center">My Products</h2>
      </div>
  </div>
</a>
</div> <!-- col-sm-4 colsed-->


<div class="col-sm-4">
<a routerLink="/seller/promote-product">
  <div class="listing-box">
      <div class="img-box">
          <img alt="" class="hover-images" src="assets/images/seller/promoteproduct.jpg">
      </div>
      <div class="listingttl">
          <h2 class="text-center">Promote Products</h2>
      </div>
  </div>
</a>
</div> <!-- col-sm-4 colsed-->

<div class="col-sm-4">
    <a routerLink="/seller/commercial-ad-dashboard">
      <div class="listing-box">
          <div class="img-box">
              <img alt="" class="hover-images" src="assets/images/seller/commercial-dashboard.png">
          </div>
          <div class="listingttl">
              <h2 class="text-center">Commercial ads Dashboard</h2>
          </div>
      </div>
    </a>
</div> <!-- col-sm-4 colsed-->

</div>

   <div class="">
        <button class="go-back-btn" (click)="goBack()" id="backBtn" title="Go to back">
            <i class="fa fa-chevron-left"></i>
        </button>

        <button (click)="topFunction()" id="myBtn" title="Go to top">
            <i class="fa fa-chevron-up"></i></button>
  </div>
