
<h3 class = "buyer-side-bar-heading"> {{ TotalPurchsedProduct.first_name }} {{ TotalPurchsedProduct.last_name }}</h3>
<div class="s-list">
    <div class="text-center">
        <div *ngIf="TotalPurchsedProduct.user_img == ''" class="profile-circle" style="background-image:url('assets/images/profile.png')">
        </div>
        <div>
        <img routerLink="/buyer/account-setting" style="background-color: whitesmoke;" *ngIf="TotalPurchsedProduct.user_img != ''" class="profile-circle" [src]="TotalPurchsedProduct.user_img">
        </div>
    </div>

    <div class="text-center s-list1">
        <a class="mb-list inbox-l inbox-color">
            <i class="fa fa-shopping-cart profile-icon" aria-hidden="true"></i> PURCHASES
            <span class="bkt"> ({{TotalPurchsedProduct.purchase_item}})</span>
        </a>
    </div>
    <div class="clearfix"></div>
    <div class="text-center">
        <a class="btn btn-danger btn-setting buyer-edit-button" routerLink="/buyer/account-setting">EDIT ACCOUNT </a>
    </div>
    <div class="text-center">
        <a class="btn btn-danger  buyer-msg-button" routerLink="/message">MESSAGES</a>
    </div>


</div>
