<h3>Change Password</h3>


<!--<div class="well panel panel-danger panel-m" *ngIf="message && message.length>0">-->
    <div class="panel-body">
       <div class="well panel panel-danger">
            <div class="panel-body">
                <form novalidate #userPass="ngForm" (ngSubmit)="changePassword(user)">
                <hr style="margin-top:0">
                <div class="form-group">
                    <label for="currentpassword">Current Password</label>
                    <input type="password" class="form-control" name="pass" [(ngModel)]="user.pass" #mypass="ngModel" required placeholder="Current Password"/>
                     <div class="alert alert-danger" *ngIf="mypass.errors?.required && mypass.touched">Password is required</div>

                </div>

                <div class="form-group">
                    <label for="newpassword">New Password</label>
                    <input type="password" class="form-control" name="newpassword" [(ngModel)]="user.newpassword" #mynewpass="ngModel" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
                           placeholder="New Password"/>
                     <div class="alert alert-danger" *ngIf="mynewpass.errors?.required && mynewpass.touched">New password is required</div>
                    <div class="alert alert-danger" *ngIf="mynewpass.errors?.pattern && mynewpass.touched">8 characters or longer. Combine upper and lower case letters and numbers</div>
                </div>

                <div class="form-group">
                    <label for="confirmpassword">Confirm Password</label>
                    <input type="password" class="form-control" name="confirmpassword" [(ngModel)]="user.confirmpassword" #myconfirmpass="ngModel" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
                           required  placeholder="Confirm Password"/>
                    <div class="alert alert-danger" *ngIf="myconfirmpass.errors?.required && myconfirmpass.touched">Confirm password is required</div>
                    <div class="alert alert-danger" *ngIf="mynewpass.errors?.pattern && mynewpass.touched">8 characters or longer. Combine upper and lower case letters and numbers</div>
                </div>
                <p class="p-text">8 characters or longer. Combine upper and lower case letters and numbers.</p>


                <div class="btn-ads">
                    <button type="submit" class="btn btn-danger" [disabled]="!(user.pass && user.newpassword && user.confirmpassword)">SAVE</button>
                    <!--<button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>-->
                </div>

                </form>
            </div>
        </div>

    </div>
<!--</div>-->
   <div class="">
        <button class="go-back-btn" (click)="goBack()" id="backBtn" title="Go to back">
            <i class="fa fa-chevron-left"></i>
        </button>

        <button (click)="topFunction()" id="myBtn" title="Go to top">
            <i class="fa fa-chevron-up"></i></button>
  </div>




