.sidebar{
    padding-right: 20px !important;
}
.message-side-bar{
    padding-right: 0 !important;
}
@media only screen and (max-width: 768px) {
    .sidebar{
        padding-right:0 !important;
        padding-bottom: 20px;
    }
    .message-side-bar{
        padding-left: 0 !important;
    }
}