<app-header></app-header>
<div>
    <img class="star-search-banner" src="assets/images/buyer/buyer-banner.jpg" alt="buyer-banner" />
</div>
<div class="container buyer-products-container">
    <div class="col-sm-3 col-md-2">
        <div class="sidebar">
            <app-buyer-sidebar></app-buyer-sidebar>
        </div>
    </div>
        <router-outlet></router-outlet>
    <div *ngIf="buyerPassword!=true" class="col-sm-3 col-md-2 message-side-bar">
        <div>
            <app-buyer-message-sidebar></app-buyer-message-sidebar>
        </div>
    </div>
</div>
<app-footer></app-footer>
