<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<h3>Add Product</h3>
<div class="well panel panel-danger panel-m">
    <div class="panel-body">
        <form novalidate #product="ngForm" (ngSubmit)="addProduct(product)">
            <div class="form-group">
                <label for="sel1">Select Category of Product</label>

                <select class="form-control" name="talent_category_id" [(ngModel)]="selectedCategory" (ngModelChange)="onSelect(selectedCategory)">
                    <option *ngFor="let category of categories" [value]="category.name"> {{category.name}}</option>
                </select>

            </div>
            <div class="form-group">
                <label for="title">Title *</label>
                <input type="text" class="form-control" [(ngModel)]="product.title" name="title" #mytitle="ngModel" required placeholder="Title">

                <div class="alert alert-danger" *ngIf="mytitle.errors?.required && mytitle.touched">This field is required
                </div>
            </div>
            <div class="form-group p-b-upload">
                <label for="">Upload Image or Video Commercial of Product </label>

                <div class="file-upload">
                    <div class="file-select">
                        <div class="file-select-button" id="fileName">Browse</div>
                        <div *ngIf="imageUploader.queue.length<1" class="file-select-name" id="noFile">No file selected
                        </div>
                        <div *ngIf="imageUploader.queue.length>0" class="file-select-name" id="noFile">
                            <span *ngFor="let item of imageUploader.queue">
                                <span>{{item.file.name}} </span>
                                <!--<a href="javascript:;" (click)="item.remove()"><i class="fa fa-remove"></i></a>-->
                            </span>
                        </div>
                        <input (click)="imageUploader.queue.length = 0" type="file" id="chooseFile" name="image" ng2FileSelect [uploader]="imageUploader" (change)="fileChange()">
                        <!-- file list -->
                    </div>

                    <!-- <ul class="file-list"> -->
                    <ul style="list-style: none; margin-top: 6px;">
                        <li *ngFor="let item of imageUploader.queue">
                            <div class="row">
                                <div class="col-md-4">
                                    <strong>{{item.file.name}}</strong>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <!-- <a href="javascript:;" (click)="item.remove()"><i class="fa fa-remove"></i></a> -->
                                    <a href="javascript:;" (click)="imageUploader.removeFromQueue(item)"><i class="fa fa-remove"></i></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="alert alert-danger" *ngIf="commercialFileRequired">
                    Commercial image or video is required
                </div>
            </div>

            <div class="form-group p-b-upload">
                <label for="">Upload Audio or Video Sample of Product </label>

                <div class="file-upload">
                    <div class="file-select">
                        <div class="file-select-button" id="fileName">Browse</div>
                        <div *ngIf="videoUploader.queue.length<1" class="file-select-name" id="noFile">No file selected
                        </div>
                        <div *ngIf="videoUploader.queue.length>0" class="file-select-name" id="noFile">
                            <span *ngFor="let item of videoUploader.queue">
                                <span>{{item.file.name}} </span>
                                <!--<a href="javascript:;" (click)="item.remove()"><i class="fa fa-remove"></i></a>-->
                            </span>
                        </div>
                        <input (click)="videoUploader.queue.length = 0" type="file" id="chooseFile" name="video" multiple ng2FileSelect [uploader]="videoUploader">
                    </div>

                    <!-- <ul class="file-list"> -->
                    <ul style="list-style: none; margin-top: 6px;">
                        <li *ngFor="let item of videoUploader.queue">
                            <div class="row">
                                <div class="col-md-4">
                                    <strong>{{item.file.name}}</strong>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <a href="javascript:;" (click)="item.remove()"><i class="fa fa-remove"></i></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="form-group">
                <label for="">Bio Information of Product</label>
                <textarea row="4" name="product_info" class="form-control" [(ngModel)]="product.product_info" #productinfo="ngModel" rows="5"
                    placeholder="Product Information"></textarea>
            </div>

            <div class="form-group">
                <label for="">Bio Information of Seller</label>
                <textarea row="4" name="description" class="form-control" [(ngModel)]="product.description" #description="ngModel" rows="5"
                    placeholder="Product Information"></textarea>
            </div>
            <!--<br>-->

            <label for="">Price of Product *</label>

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
                <input (keyup)="(product.price>100000)?showPriceError=true:showPriceError=false" type="number" class="form-control" [(ngModel)]="product.price"
                    min="1" max="100000" name="price" #myprice="ngModel" required placeholder="Price">
            </div>
            <div class="alert alert-danger" *ngIf="myprice.errors?.required && myprice.touched">Invalid value
            </div>
            <div class="alert alert-danger" *ngIf="showPriceError">
                Max price is 100000
            </div>

            <br>


            <div class="form-group">
                <label for="">Upload Product <i class="text-p">(Mp3,jpeg,video,pdf)</i></label>

                <div class="file-upload">
                    <div class="file-select">
                        <div class="file-select-button" id="fileName">Browse</div>
                        <div *ngIf="pdfUploader.queue.length<1" class="file-select-name" id="noFile">No file selected
                        </div>
                        <div *ngIf="pdfUploader.queue.length>0" class="file-select-name" id="noFile">
                            <span *ngFor="let item of pdfUploader.queue">
                                <span>{{item.file.name}} </span>
                                <!--<a href="javascript:;" (click)="item.remove()"><i class="fa fa-remove"></i></a>-->
                            </span>
                        </div>
                        <input type="file" id="chooseFile" name="pdf" multiple ng2FileSelect [uploader]="pdfUploader">
                    </div>

                    <!-- <ul class="file-list"> -->
                    <ul style="list-style: none; margin-top: 6px;">
                        <li *ngFor="let item of pdfUploader.queue">
                            <div class="row">
                                <div class="col-md-4">
                                    <strong>{{item.file.name}}</strong>
                                </div>
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <a href="javascript:;" (click)="item.remove()"><i class="fa fa-remove"></i></a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>


            </div>
            <div class="upload-products social-media-icons">
                <div class="row">
                    <div class="col-sm-12">
                        <label>Social media links</label>
                        <div class="form-group">

                            <div class="col-sm-1 icon">
                                <i class="fa fa-facebook-official facebook-icon-large" aria-hidden="true"></i>
                            </div>
                            <div class="input-group col-sm-11">
                                <input type="text" class="form-control" [(ngModel)]="product.facebookLink" name="facebookLink" placeholder="facebook link">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">

                            <div class="col-sm-1 icon">
                                <i class="fa fa-instagram facebook-icon-large" aria-hidden="true"></i>
                            </div>
                            <div class="input-group col-sm-11">
                                <input type="text" class="form-control" [(ngModel)]="product.instagramLink" name="instagramLink" placeholder="instagram link">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">

                            <div class="col-sm-1 icon">
                                <i class="fa fa-twitter facebook-icon-large" aria-hidden="true"></i>
                            </div>
                            <div class="input-group col-sm-11">
                                <input type="text" class="form-control" [(ngModel)]="product.twitterLink" name="twitterLink" placeholder="twitter link">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <br>
            <hr>
            <div class="pull-right">
                <button type="submit" [disabled]="!product.title || !product.price || product.price>100000" class="btn btn-danger">SAVE
                </button>
                <button type="button" class="btn btn-default btn-d" routerLink="/seller/dashboard">CANCEL</button>
            </div>


        </form>
    </div>
</div>

<div class="">
    <button class="go-back-btn" (click)="goBack()" id="backBtn" title="Go to back">
        <i class="fa fa-chevron-left"></i>
    </button>

    <button (click)="topFunction()" id="myBtn" title="Go to top">
        <i class="fa fa-chevron-up"></i></button>
</div>