<!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading> -->
<div class="trending-container">
  <div class="trending">
    <h3>
      <b>TRENDING</b>
    </h3>
  </div>

  <div>
    <ul *ngIf = "categories" class="trending-categories">
      <li  [ngClass]="{'active': selectedItem == i.id}" *ngFor = "let i of categories.categories" (click)="callCategoryFunction(i.id, i.name)">
            <!-- <span><img class="trending-img-width" [src]="i.tarending_category_sidebar_icon"> {{ i.name }} </span> -->
            <span><img class="trending-img-width " [src]="i.new_image"> {{ i.name }} </span>
      </li>
    </ul>
  </div>

</div>
