.trending{
    background-color: #e6e1e1;
  }
   .trending h3{
    margin-left: 14px;
    padding: 10px;
  }
   .trending-categories{
    display: block;
    list-style-type: none;
    padding-left: 15px;
  }
   .trending-categories li{
    padding: 10px 0 10px 0;
    cursor: pointer;
  }
   .trending-categories li:hover{
    transform: scale(1.10);
    padding-left: 10px;
    box-shadow: -1px 3px 34px -9px #333;
    margin-right: 8px;
    margin-left: -6px;
  }
   .trending-container {
    box-shadow: -1px 3px 34px -9px #333;
    background-color: #fff;
    padding-left: 0;
    padding-right: 0;
  }
   .trending-categories i {
    padding-right: 10px;
  }

  .active{
    transform: scale(1.10);
    padding-left: 10px;
    box-shadow: -1px 3px 34px -9px #333;
    margin-right: 8px;
    margin-left: 0px;
  }