<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div id="main-header"> <app-header></app-header></div>
<div class="container-fluid" style="height:275px;background-image:url('assets/images/header-bg.jpg');background-size:cover;">
  <div class="row">
  </div>
  <br>
  <br>

</div>


<div class="container register-container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 col-xs-12">
      <div class="col-sm-offset-4 col-sm-5 tabs">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#aaa" data-toggle="tab" (click)="buyerToggle()">
              <i class="fa fa-users fa-2x" aria-hidden="true"></i>
              <br>Buyer</a>
          </li>
          <li>
            <a href="#bbb" data-toggle="tab" (click)="sellerToggle()">
              <i class="fa fa-address-book fa-2x" aria-hidden="true"></i>
              <br>Seller</a>
          </li>
        </ul>
      </div>
      <div class="row tab-content" id="tabs">
        <div class="tab-pane show arrow" id="aaa" *ngIf="firstToggle">
          <div class="col-sm-8 col-xs-12 panel-part" style="background-color:#151829;">
            <h3 class="register-panel" style="color:#fff;">Register as Buyer</h3>
            <form novalidate #user="ngForm" (ngSubmit)="submitUser(user,user_type = 'buyer')">
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="user.first_name" name="first_name" #myfirstname="ngModel" required pattern="[a-zA-Z ]*"
                      placeholder="First Name">
                    <span class="text-danger" *ngIf="myfirstname.errors?.required && myfirstname.touched">First name is required</span>
                    <span class="text-danger" *ngIf="myfirstname.errors?.pattern && myfirstname.touched">Only alphabets allowed</span>
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                  <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="user.last_name" name="last_name" #mylastname="ngModel" required pattern="[a-zA-Z ]*"
                      placeholder="Last Name">
                    <span class="text-danger" *ngIf="mylastname.errors?.required && mylastname.touched">Last name is required</span>
                    <span class="text-danger" *ngIf="mylastname.errors?.pattern && mylastname.touched">Only alphabets allowed</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="user.username" name="username" #myusername="ngModel" required pattern="[0-9a-zA-Z]+$"
                      placeholder="User Name">
                    <span class="text-danger" *ngIf="myusername.errors?.required && myusername.touched">user name is required</span>
                    <span class="text-danger" *ngIf="myusername.errors?.pattern && myusername.touched">Only AlphaNumeric
                      allowed
                    </span>
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                  <div class="form-group">
                    <input type="email" class="form-control" [(ngModel)]="user.email" name="email" #myemail="ngModel" required pattern="([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA])+$"
                      placeholder="Email">
                    <span class="text-danger" *ngIf="myemail.errors?.required && myemail.touched">Email is required</span>
                    <span class="text-danger" *ngIf="myemail.errors?.pattern && myemail.touched">Invalid Email</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-xs-12">
                  <div class="form-group">
                    <input type="password" class="form-control" [(ngModel)]="user.password" name="password" #mypassword="ngModel" required placeholder="Password">
                    <!-- <div class="alert alert-danger" *ngIf="mypassword.errors?.required && mypassword.touched">Password is required</div> -->
                    <span class="text-danger" *ngIf="(user.password + '').length < 6 && mypassword.touched">Minimum length
                      of 6 is required</span>
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                  <div class="form-group">
                    <input type="password" class="form-control" [(ngModel)]="user.repassword" name="repassword" #myrepassword="ngModel" required
                      placeholder="Re-Type Password">
                    <span class="text-danger" *ngIf="user.password !== user.repassword && myrepassword.touched || myrepassword.errors?.required && myrepassword.touched">Password
                      not matched</span>
                  </div>
                </div>
              </div>
              <!-- <div class="col-sm-12 form-group">
              <span style="color:#ff503f;">Don't have paypal?</span><a href="#" style="color:#fff;">Click here to signUp</a>
            </div> -->
              <div class="row">
                <div class="col-sm-12 col-xs-12">
                  <div class="col-sm-12 form-group">
                    <button class="btn btn-danger" [disabled]="!user.valid || user.password !== user.repassword || (user.password + '').length < 6"
                      type="submit" style="background-color:#c9302c;float:right;margin-bottom:21px;">Register</button>
                  </div>
                </div>
              </div>
            </form>
          </div>


          <div class="col-sm-4 col-xs-12  panel-part" style="background-color:#292F51">
            <h3 class="text-left  panel-second-half-heading register-panel" style="color:#fff;">What buyers can do?</h3>
            <p style="color:#fff;">
              <i class="fa fa-user" aria-hidden="true"></i> Buyer can have their own account.</p>
            <p style="color:#fff;">
              <i class="fa fa-comments" aria-hidden="true"></i> Buyer can send and receive messages from seller.</p>
            <p style="color:#fff;">
              <i class="fa fa-money" aria-hidden="true"></i> Buyer can make purchases.</p>
            <p style="color:#fff;">
              <i class="fa fa-cloud-download" aria-hidden="true"></i> Buyer can download products.</p>
          </div>
        </div>
        <!-- first tab closed -->

        <!-- second tab -->
        <div class="tab-pane arrow1" id="bbb" *ngIf="secondToggle">
          <div class="col-sm-8 col-xs-12 panel-part" style="background-color:#151829;">
            <h3 class="register-panel" style="color:#fff;">Register as Seller</h3>
            <form novalidate #user="ngForm" (ngSubmit)="submitUser(user,usertype = 'seller')">
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="user.first_name" name="first_name" #myfirstname="ngModel" required pattern="[a-zA-Z ]*"
                      placeholder="First Name">
                    <span class="alert alert-danger" *ngIf="myfirstname.errors?.required && myfirstname.touched">First name
                      is required</span>
                    <span class="alert alert-danger" *ngIf="myfirstname.errors?.pattern && myfirstname.touched">Only alphabets
                      allowed
                    </span>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="user.last_name" name="last_name" #mylastname="ngModel" required pattern="[a-zA-Z ]*"
                      placeholder="Last Name">
                    <span class="alert alert-danger" *ngIf="mylastname.errors?.required && mylastname.touched">Last name
                      is required
                    </span>
                    <span class="alert alert-danger" *ngIf="mylastname.errors?.pattern && mylastname.touched">Only alphabets
                      allowed
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="user.username" name="username" #myusername="ngModel" required pattern="[0-9a-zA-Z]+$"
                      placeholder="User Name">
                    <span class="alert alert-danger" *ngIf="myusername.errors?.required && myusername.touched">user name
                      is required
                    </span>
                    <span class="alert alert-danger " *ngIf="myusername.errors?.pattern && myusername.touched">Only AlphaNumeric
                      allowed
                    </span>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-md-6">
                  <div class="form-group">
                    <input type="email" class="form-control" [(ngModel)]="user.email" name="email" #myemail="ngModel" required pattern="([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA])+$"
                      placeholder="Email">
                    <span class="alert alert-danger" *ngIf="myemail.errors?.required && myemail.touched">Email is required</span>
                    <span class="alert alert-danger" *ngIf="myemail.errors?.pattern && myemail.touched">Invalid Email</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-md-6">
                  <div class="form-group">
                    <input type="password" class="form-control" [(ngModel)]="user.password" name="password" #mypassword="ngModel" required placeholder="Password">
                    <span class="alert alert-danger" *ngIf="mypassword.errors?.required && mypassword.touched">Password is
                      required
                    </span>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-md-6">
                  <div class="form-group">
                    <input type="password" class="form-control" [(ngModel)]="user.repassword" name="repassword" #myrepassword="ngModel" required
                      placeholder="Re-Type Password">
                    <span class="alert alert-danger" *ngIf="user.password !== user.repassword && myrepassword.touched || myrepassword.errors?.required && myrepassword.touched">Password
                      not matched</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-lg-6 col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="user.paypal_email" name="paypal_email" #mypaypalemail="ngModel" required
                      pattern="([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA])+$" placeholder="Paypal Email">
                    <div class="alert alert-danger" *ngIf="mypaypalemail.errors?.required && mypaypalemail.touched">Email
                      is required
                    </div>
                    <div class="alert alert-danger" *ngIf="mypaypalemail.errors?.pattern && mypaypalemail.touched">Invalid
                      Email
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6 col-md-6">
                  <div class="form-group">
                    <span style="color:#ff503f;">Don't have paypal?</span>
                    <a href="https://www.paypal.com/in/home" target="_blank" style="color:#fff;">
                      Click here to signUp</a>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-lg-12 col-md-12">
                  <button class="btn btn-danger" type="submit" [disabled]="!user.valid || user.password !== user.repassword" name="button"
                    style="background-color:#c9302c;float:right;margin-bottom:21px;">Register</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-sm-4 col-xs-12  panel-part" style="background-color:#292F51">
            <h3 class="text-left panel-second-half-heading register-panel" style="color:#fff;">What Seller can do?</h3>
            <p style="color:#fff;">
              <i class="fa fa-archive" aria-hidden="true"></i> Seller can create online store.</p>
            <p style="color:#fff;">
              <i class="fa fa-cloud-upload" aria-hidden="true"></i> Upload video or Audio sample.</p>
            <p style="color:#fff;">
              <i class="fa fa-comments" aria-hidden="true"></i> Send and receive messages from Buyers.</p>
            <p style="color:#fff;">
              <i class="fa fa-video-camera" aria-hidden="true"></i> Sell their products in digital format- pdf, jpeg, videos
              etc.
            </p>
            <p style="color:#fff;">
              <i class="fa fa-credit-card-alt" aria-hidden="true"></i> Sell for free and receive up to 70% commission from
              each sell.</p>
          </div>
        </div>
        <!-- second tab closed -->
      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>
<!-- </div> -->
<br>
<br>
<br>

<div class="">
  <button class="go-back-btn" (click)="goBack()" id="backBtn" title="Go to back">
    <i class="fa fa-chevron-left"></i>
  </button>

  <button (click)="topFunction()" id="myBtn" title="Go to top">
    <i class="fa fa-chevron-up"></i>
  </button>
</div>