
/* */
.buy-sell-label li {
    display: inline-block;
}

.buy-sell-label li a {
    color: #fff;
    margin: 10px;
}

.panel-default {
    border-color: #151829;
}

.panel-default > .panel-heading {
    color: #fff;
    background-color: #151829;
    border-color: #151829;
}

.panel-heading {
    padding: 0px 15px;
}

.nav {
    margin-bottom: 30px;
}

.hide-tab {
    display: none;
}

.show-tab {
    display: block;
}

.register-container {
    margin-top: 46px;
}

.nav-tabs {
    border-bottom: none;

}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border: none;
}

.nav-tabs > li > a {
    border: none;
    color: black;
}

.nav-tabs > li.active > a i {
    color: #ff503f;
}

.nav-tabs > li.active {
    border-bottom: 2px solid #ff503f;
}

.nav-tabs > li > a:hover {
    background: transparent;
}

.arrow:after,
.arrow:before {
    bottom: 77%;
    border: solid transparent;
    content: " ";
    position: absolute;
    pointer-events: none;
}

.arrow:after {
    border-color: rgba(255, 255, 255, 0);
    border-width: 19px;
    left: 39%;
}

.arrow:before {
    border-color: rgba(113, 158, 206, 0);
    border-bottom-color: #151829;
    border-width: 15px;
    left: 38%;
}

.arrow1:after,
.arrow1:before {
    bottom: 77%;
    border: solid transparent;
    content: " ";
    position: absolute;
    pointer-events: none;
}

.arrow1:after {
    border-color: rgba(255, 255, 255, 0);
    border-width: 19px;
    left: 39%;
}

.arrow1:before {
    border-color: rgba(113, 158, 206, 0);
    border-bottom-color: #151829;
    border-width: 15px;
    left: 47%;
}

.panel-part {
    height: 341px;
}

.panel-second-half-heading {
    margin-top: 77px;
}

@media screen and (max-width: 992px) {
    .panel-second-half-heading {
        margin-top: 30px;
    }

    .arrow:before {
        left: 41%;
    }

    .arrow1:before {
        left: 54%;
    }

}

@media screen and (max-width: 767px) {
    .panel-part {
        height: auto;
        padding: 0 53px;
    }
    .tabs {
        margin-left: 33.33%;
    }
}
@media screen and (max-width: 468px) {
    .tabs {
        margin-left: 25%;
    }
}
@media screen and (max-width: 320px) {
    .tabs {
        margin-left: 21%;
    }
}

.alert{
  padding:0px;
  margin-bottom:-22px;
  background-color:transparent;
  border-color:transparent;
}
/**/
.form-group {
    margin-bottom: 22px;
}

.register-panel {
   margin-left:0 !important;
   margin-top: 25px !important;
}