<div id="main-header"> <app-header></app-header></div>
<div>
  <img class="star-search-banner" src="assets/images/Refund-Policy-banner.jpg" alt="Refund-Policy-banner" />
</div>


<div class="container term-caontainer">
  <div class="row">
    <div class="col-xs-12 col-sm-12 welcome-box ">
      <div class="text-center">
        <h2>FutureStarr | Refund Policy</h2>
      </div>
      <div >
        <p class="text-justify">
            Our mission at FutureStarr is to ensure you are completely satisfied with any product or
            services ("services", "service") you purchase from us. In some cases we will provide free
            trials for our services, so that you have the opportunity to determine whether the services
            are right for you. However, it is your responsibility to cancel services prior to the end of
            the trial periods or the corresponding renewal date.
        </p>
        <p class="text-justify">
            FutureStarr will not under any circumstance provide a refund for services that were not
            cancelled or opted out of prior to the expiration of the free trail. Additionally, FutureStarr
            will not provide a refund for any service in which you elected to continue using. If you
            decide to cancel your subscription for a service, we will not issue a refund for any
            remaining applicable billing period. 
        </p>
        <p class="text-justify">
            Additionally, we do not provide refunds for any user who is under the assumption that a
            service is free when they sign up for it.
        </p>
      </div>

      <div class="text-left" >
        <h2>WHEN REFUNDS ARE PROVIDED</h2>
        <p class="text-justify">
          There are only two instances when FutureStarr will provide a refund for services
          purchased. 
        </p>
          <ol class="text-justify" type="I">
            <li>
                In any event that your service malfunctions or does not operate according to
                the manner outlined. In this case, you are required to send the details of the
                non-functioning service to supprt@futurestarr.com immediately after
                experiencing an issue and while the service is still active. If details are sent
                after the service has expired or is no longer active, the issue cannot be verified
                and you will not receive a refund.
            </li>
            <li>
              In any event that a billing error has occurred and you are charged for a service
              that you opted out of or unsubscribed from. In this case, you are required to
              send us an email to support@futurestarr.com providing the renewal date of the
              service in question and a confirmation of your unsubscribe which in most
              cases is an unsubscribe reference number or an unsubscribe email. Billing
              cycles and periods vary for each service offered by FutureStarr and it is your
              sole responsibility to be mindful of these cycles because we will not provide a
              refund because you were unaware of when cycles renewed.
            </li> 
          </ol>
      </div>
      <div class="text-left">
        <h2>CANCELLED PRODUCTS</h2>
        <p class="text-justify">
          Any service cancelled or unsubscribed from by you during or within a billing period is
          not eligible for refund. In other words, if you decide to cancel your subscription for a
          service, we will not issue a refund for any remaining applicable billing period.
        </p>
      </div>
      <div class="text-left">
        <h2>REFUND FREQUENTLY ASKED QUESTIONS</h2>
        <p class="text-justify">
          Below are several frequently asked questions (FAQ) regarding FutureStarr services. We
          will add more FAQs as it becomes necessary. 
        </p>
        <p>
          <i><strong> I request a refund for services on my account that were not authorized by me? </strong></i><br>
          If an unauthorized charge does appear on your account, either you or your financial
          institution will need to contact us and submit proof that an unauthorized charge has taken
          place on your account. We handle each case differently, however, we will immediate
          suspend your account as we launch an internal review and in an effort to prevent any
          further unauthorized charges, use, or access. The suspension of your account will suspend
          all services associated with your account including Artist pages and apps. Please
          understand that the review process will take time and the outcome we are looking to
          reach will be in your best interest. 
        </p>
        <p>
          <i><strong>If I did not cancel a service in time, or if I forgot to cancel, can I be refunded?</strong></i><br>
          You will not receive a refund for any service that you did not cancel in time or forgot to
          cancel. You are welcome to cancel a service or services at any point during or within its
          active billing cycle.
        </p>
        <p>
          <i><strong> Will a free trial automatically end or will I be charged the regular amount for the
              service when the trial period ends? </strong></i><br>
              At the end of a service’s trial period, the regular amount for the service will automatically
              be charged to you. Because you signed up for a free trial, we recommend that you stay
              abreast of when the trial period for that service ends so that you can make the proper
              arrangements to cancel the service should you no longer be interested in using it. We
              operate under the assumption that you are fully aware of the services you are enrolled
              into a free trial for and that you want to continue with the service unless you have opted
              to unsubscribe from it.
        </p>
        <br><br>
      </div>
    </div>
  </div>
</div>





<div class="">
  <button class="go-back-btn" (click)="goBack()" id="backBtn" title="Go to back">
      <i class="fa fa-chevron-left"></i>
  </button>

  <button (click)="topFunction()" id="myBtn" title="Go to top">
      <i class="fa fa-chevron-up"></i></button>
</div>
<div id="main-footer"> <app-footer></app-footer></div>