<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<div>
  <img class="star-search-banner" src="assets/images/read-more/welcome-banner.jpg" alt="futurestarr"/>
</div>
<div class="container about-us-container">
  <div class="row">
    <div class="col-sm-4">
      <img class="star-search-banner" src="assets/images/read-more/welcome.jpg"  alt="futurestarr artists"/>
    </div>
    <div class="col-sm-8">
      <div class="col-sm-12">
        <h2>Do you want to be successful? </h2>
        <p class="about-body">
          It is not enough to want success, you must be passionate about it, you must be determined and ready to make sacrifices
          to achieve what you want. Before we look at what successful celebrities have in common, let's take a look at what is
          stopping you from achieving the type of success you want.
        </p>
        <p class="about-body">
          Most people just want to be famous, they don't care how they achieve it thus, they dabble in whatever they dabble in
          whatever they think could bring them fame. Today , they claim they are actor, tomorrow, they claim to be model and singer
          thereafter. If you want to be successful, concentrate on what you want to be know for. Stop chasing everything that glitters,
          all of them are not gold.
        </p>
        <!-- <a class="generic-button" routerLink="/blog/detailed">Read More</a> -->
        <div class="about-action-button" >
            <button class="about-us-sm read-more-btn-onslider about-us-color" (click)="buyTalent()">BUY TALENT</button>
            <button class="about-us-sm read-more-btn-onslider about-us-color" (click)="sellTalent()">SELL YOUR TALENT</button>
            <br/>
        </div>

      </div>

    </div>
  </div>
</div>

<!-- ASK TO LOGIN  -->
<div class="modal-ask-to-login fade" id="askToLogin" role="dialog">
    <div class="modal-dialog">
        <form>
            <!-- Modal content-->
            <div class="ask-to-login">
                <div class="modal-body">
                    <div class="form-group text-spinner">

                        <h3 class="deleteConfirmation">Please login as a buyer or seller to use this feature! </h3>
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>




<div class="modal-ask-to-login fade" id="askToJoinAsSeller" role="dialog">
    <div class="modal-dialog">
        <form>
            <!-- Modal content-->
            <div class="ask-to-login">
                <div class="modal-body">
                    <br />
                    <h3 class="ask-register"> To use this feature please register as Seller. <br /> <small>By clicking Register, you will be logged out from your current account. </small></h3>
                    <!-- <i class="fa fa-circle-o-notch fa-spin"></i> -->
                </div>
                <div class="modal-footer ">
                    <button type="submit" class="btn btn-danger" data-dismiss="modal" (click) = "goToRegister()" >REGISTER</button>
                    <button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Ask to join as Buyer -->

<div class="modal-ask-to-login fade" id="askToJoinAsBuyer" role="dialog">
    <div class="modal-dialog">
        <form>
            <!-- Modal content-->
            <div class="ask-to-login">
                <div class="modal-body">
                    <br />
                    <h3 class="ask-register"> To use this feature please register as Buyer. <br /> <small>By clicking Register, you will be logged out from your current account. </small></h3>
                    <!-- <i class="fa fa-circle-o-notch fa-spin"></i> -->
                </div>
                <div class="modal-footer ">
                    <button type="submit" class="btn btn-danger" data-dismiss="modal" (click) = "goToRegister()">REGISTER</button>
                    <button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>
                </div>
            </div>
        </form>
    </div>
</div>



<div class="">
        <button class="go-back-btn" (click)="goBack()" id="backBtn" title="Go to back">
            <i class="fa fa-chevron-left"></i>
        </button>

        <button (click)="topFunction()" id="myBtn" title="Go to top">
            <i class="fa fa-chevron-up"></i></button>
</div>


