<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div id="main-header"> <app-header></app-header></div>
<div>
  <img class="star-search-banner" src="assets/images/talent-mall/chekout-bg.jpg" />
</div>
<div *ngIf = "thankyou_shopping == false  &&  redirect == false" class="container user-cart">
  <h1>
    <b>Shopping Cart</b>
  </h1>
  <hr>
  <div *ngIf="itemLength > 0" class="cart-table">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>Product Name</th>
          <th>EmaUnit Price</th>
          <!-- <th>Qty</th> -->
          <th>Subtotal</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of cartItems.items">
          <td>
              <img width="130" height="120" [src]="(i.image.length>0 && isImage(i.image[0].new_card_image_path))?i.image[0].new_card_image_path:'assets/images/social-buzz/ad.png' " />
            <!-- <img width="130" height="120" *ngIf="i.image.length < 1" src="assets/images/talent-mall/shop-placeholder.png" />
            <img width="130" height="120" *ngIf="i.image.length > 0" [src]="i.image[0].new_card_image_path" /> -->
          </td>
          <td> {{ i.title }} </td>
          <td> &#36; {{ i.price }} </td>
          <!-- <td>
            <i class="fa fa-minus-circle add-remove-icon" aria-hidden="true" (click)="changeQuantity(i.id, false, i.quantity, i.price, i.cart_id)"
              [ngClass]="{'disabled-btn': i.quantity < 2 }"></i>
            <span class="qty"> {{ i.quantity }} </span>
            <i class="fa fa-plus-circle add-remove-icon" aria-hidden="true" (click)="changeQuantity(i.id, true, i.quantity, i.price,i.cart_id)"></i>
          </td> -->
          <td> &#36; {{ i.sub_total }} </td>
          <td>
            <i data-toggle="tooltip" title="Delete Product" class="fa fa-trash cart-action-icon" aria-hidden="true" (click)="deleteItem(i.id)"></i>
          </td>
        </tr>
        <tr>
          <td colspan="7">
            <h4 class="grand-total">Grand Total
              <small class="grand-total-small"> &#36; {{ cartItems.grand_total }} </small>
            </h4>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-pay pull-right" (click)="openCheckoutModal()">
      <img class="pull-left btn-img " src="assets/images/paypal-6.png" />
      <span class="pull-right"> Check Out </span>
    </button>
  </div>
  <div *ngIf="itemLength < 1" class="empty-shopping-cart"> Your Shopping Cart is empty! Please keep shopping.. </div>
</div>

<div class="">
  <button class="go-back-btn" (click)="goBack()" id="backBtn" title="Go to back">
    <i class="fa fa-chevron-left"></i>
  </button>

  <button (click)="topFunction()" id="myBtn" title="Go to top">
    <i class="fa fa-chevron-up"></i>
  </button>
</div>

<!-- Thank you for shopping and redirect -->
<!-- <div *ngIf = "thankyou_shopping == true && redirect == false">
  <div class = "thankyou-msg-container">
  <img class="img-responsive" src="../assets/images/cart/thankyoubg.png" />
    <h3>Thank You for your purchase</h3>
    <h5>Log into your account and download your item immediately</h5>
  </div>
</div>
<div *ngIf = "redirect == true">
    <div class = "thankyou-msg-container">
    <img class="img-responsive" src="../assets/images/cart/talentmall-redirecting-page-bakground.png" />
      <h3>Redirecting you to futurestarr site</h3>
      <h5>Please wait..</h5>
    </div>
  </div> -->

<!--  Modal -->
<div class="user-cart">
  <div class="modal fade" id="checkoutModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Checkout</h4>
        </div>
        <div class="modal-body m-b-padding">

          <div class="table-margin table-responsive">

            <div *ngIf="itemLength > 0" class="cart-table">
              <table class="table ">
                <thead>
                  <tr>
                    <th>Product Name</th>
                    <th>EmaUnit Price</th>
                    <th>Subtotal</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of cartItems.items">

                    <td> {{ i.title }} </td>
                    <td> &#36; {{ i.price }} </td>
                    <td> &#36; {{ i.sub_total }} </td>
                  </tr>
                  <tr>
                    <td colspan="7">
                      <h4 class="pull-right" style = "padding-right:30px;">Grand Total
                        <small class=""> &#36; {{ cartItems.grand_total }} </small>
                      </h4>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!--</div>-->
        </div>
        <div class="modal-footer">
          <button class="btn btn-pay pull-right" (click) = "checkedOut();">
            <img class="pull-left btn-img " src="assets/images/paypal-6.png" />
            <span class="pull-right"> Check Out </span>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
<div id="main-footer"> <app-footer></app-footer></div>
