<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<div *ngIf="users && users.length>0">
    <h3 class="no-margin">{{users[0].first_name}} {{users.last_name}}</h3>

    <!--seller dashboard sidebar-->

    <div class="s-list" *ngIf="dashboardSidebar">
        <div class="text-center">
            <div *ngIf="users[0].profile_pic == null" routerLink="/seller/account-setting" class="profile-circle outline-none                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           " style="background-image:url('assets/images/profile.png')">
                <!--Choose File-->
                <!--<input type="file" class="hide_file" name="photo" ng2FileSelect [uploader]="uploader"-->
                <!--(change)="uploader.uploadAll()"/>-->
            </div>

            <div>
                <a routerLink="/seller/account-setting" class="outline-none">
                    <img *ngIf="users[0].profile_pic != null" class="profile-circle-n" [src]="users[0].user_img" />
                </a>
                <!--Choose File-->
                <!--<input type="file" class="hide_file" name="photo" ng2FileSelect [uploader]="uploader"-->
                <!--(change)="uploader.uploadAll()"/>-->
            </div>
        </div>

        <div class="text-center s-list1">
            <a class="mb-list inbox-l inbox-color" routerLink="/message">
                <i class="fa fa-envelope profile-icon" aria-hidden="true"></i>
                INBOX 
                <span style="color:#ff503f" *ngIf="!unread_count_value"> (0) </span> 
                <span style="color:#ff503f" *ngIf="unread_count_value >0">({{unread_count_value}}) </span>
            </a>

            <!--<span class="mb-list inbox-r"><i class="fa fa-trophy profile-icon" aria-hidden="true"></i> AWARDS<span-->
            <!--class="bkt" > ({{users[0].like}})</span></span>-->

            <a role="button" class="mb-list inbox-r inbox-color cursor-pointer" (click)="modal1.showAwardModal()">
                <i class="fa fa-trophy profile-icon" aria-hidden="true"></i> 
                AWARDS
                <span class="bkt"> ({{awd.awards}})</span>
            </a>
        </div>
        <div class="clearfix"></div>

        <ul class="list-group s-g-item-1">
            <a class="inbox-color" routerLink="/seller/sale">
                <li class="list-group-item"><i class="fa fa-bar-chart profile-icon" aria-hidden="true"></i> SALES <span class="badge">{{sale.sales}}</span></li>
            </a>
            <a *ngIf="users[0].downloads" role="button" class="inbox-color" (click)="modal2.showDownloadModal()">
                <li class="list-group-item"><i class="fa fa-download profile-icon" aria-hidden="true"></i> DOWNLOADS <span class="badge">{{users[0].downloads}}</span></li></a>
        </ul>

        <div class="text-center" style="margin-bottom:20px;">
            <a class="btn btn-danger btn-setting" routerLink="/seller/account-setting">PROFILE SETTING</a>
        </div>
    </div>

    <!--end of seller dashboard sidebar-->


    <!--seller common sidebar-->

    <div class="s-list" *ngIf="commonSidebar">
        <div class="text-center">
            <div routerLink="/seller/account-setting" *ngIf="!users[0].profile_pic" class="profile-circle outline-none" style="background-image:url('assets/images/profile.png')">
                <!--Choose File-->
                <!--<input type="file" class="hide_file" name="photo" ng2FileSelect [uploader]="uploader"-->
                <!--(change)="uploader.uploadAll()"/>-->
            </div>

            <div>
                <img routerLink="/seller/account-setting" *ngIf="users[0].profile_pic" class="profile-circle-n outline-none" [src]="users[0].user_img" />
                <!--Choose File-->
                <!--<input type="file" class="hide_file" name="photo" ng2FileSelect [uploader]="uploader"-->
                <!--(change)="uploader.uploadAll()"/>-->
            </div>
        </div>

        <div class="text-center s-list1">
            <a class="mb-list inbox-l inbox-color" routerLink="/message"><i class="fa fa-envelope profile-icon" aria-hidden="true"></i>
                INBOX<span class="bkt"> ({{users[0].message}})</span></a>
            <a class="mb-list inbox-r inbox-color cursor-pointer" (click)="modal1.showAwardModal()"><i class="fa fa-trophy profile-icon"
                    aria-hidden="true"></i> AWARDS<span class="bkt"> ({{awd.awards}})</span></a>
        </div>
        <div class="clearfix"></div>
        <div class="text-center">
            <a class="btn btn-danger btn-setting" routerLink="/seller/account-setting">PROFILE SETTING</a>
        </div>
    </div>

    <!--end of seller common sidebar-->



    <!--seller message sidebar-->
    <div class="s-list" *ngIf="messageSidebar">
        <div class="text-center">
            <div *ngIf="users[0].profile_pic == null" class="profile-circle" style="background-image:url('assets/images/profile.png')">
                <!--Choose File-->
                <!--<input type="file" class="hide_file" name="photo" ng2FileSelect [uploader]="uploader"-->
                <!--(change)="uploader.uploadAll()"/>-->
            </div>

            <div>
                <img *ngIf="users[0].profile_pic" class="profile-circle-n" [src]="users[0].user_img" />
                <!--Choose File-->
                <!--<input type="file" class="hide_file" name="photo" ng2FileSelect [uploader]="uploader"-->
                <!--(change)="uploader.uploadAll()"/>-->
            </div>
        </div>

        <div>

            <ul class="list-group s-g-item1">
                <li class="list-group-item l-g-item">
                    <button class="btn btn-danger" type="button" name="composeMail">Compose Mail</button>
                </li>
                <li class="list-group-item l-g-item">
                    <a class="t-c-inbox" name="inbox">Inbox <span>(67)</span></a>
                </li>
                <li class="list-group-item l-g-item">
                    <a class="t-c-inbox" name="sendMail">Sent Mail</a>
                </li>
                <li class="list-group-item l-g-item">
                    <a class="t-c-inbox" name="draft">Drafts</a>
                </li>
                <li class="list-group-item l-g-item">
                    <a class="t-c-inbox" name="order">Order</a>
                </li>
                <li class="list-group-item l-g-item">
                    <a class="t-c-inbox" name="deleteMail">Deleted</a>
                </li>

            </ul>

        </div>




    </div>

    <!--end of seller message sidebar-->






</div>

<app-award #modal1></app-award>
<app-download #modal2></app-download>












<!--<div *ngFor="let user of users">-->

<!--<h3>{{user.first_name}} {{user.last_name}} </h3>-->


<!--<div class="s-list" >-->

<!--<div class="text-center">-->
<!--<div class="profile-circle" style="background-image:url('assets/images/profile.png')">-->
<!--Choose File-->
<!--<input type="file" class="hide_file" name="photo" ng2FileSelect [uploader]="uploader"-->
<!--(change)="uploader.uploadAll()"/>-->
<!--</div>-->
<!--</div>-->


<!--<div class="text-center s-list1">-->
<!--<span class="mb-list inbox-l"><i class="fa fa-envelope profile-icon" aria-hidden="true"></i> INBOX<span-->
<!--class="bkt" > ({{user.message}})</span></span>-->
<!--<span class="mb-list inbox-r"><i class="fa fa-trophy profile-icon" aria-hidden="true"></i> AWARDS<span-->
<!--class="bkt"> ({{user.like}})</span></span>-->
<!--</div>-->
<!--<div class="clearfix"></div>-->

<!--<ul class="list-group s-g-item">-->
<!--<li class="list-group-item"><i class="fa fa-bar-chart profile-icon" aria-hidden="true"></i> SALES <span-->
<!--class="badge">{{user.sale}}</span></li>-->
<!--<li class="list-group-item"><i class="fa fa-download profile-icon" aria-hidden="true"></i> DOWNLOADS <span-->
<!--class="badge">{{user.downloads}}</span></li>-->
<!--</ul>-->

<!--<div class="text-center" style="margin-bottom:20px;">-->
<!--<button type="button" class="btn btn-danger btn-setting" name="button"><a routerLink="/seller/account-setting">PROFILE-->
<!--SETTING</a></button>-->
<!--</div>-->
<!--</div>-->


<!--</div>-->