.profile-circle {
    padding: 65px 10px;
    /*background:#00ad2d;
    border:1px solid #00ad2d;*/
    position: relative;
    color: transparent;
    border-radius: 2px;
    text-align: center;
    /* float:; */
    cursor: pointer;
    display: inline-block;
    width: 135px;
    height: 135px;
    background-color: #fff;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top:20px;
    /*color:#a6a6a6;*/

}

.hide_file {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 24px;
    width: 100%;
}

.profile-circle:hover {
    background-color: #777;
    color: #000;
}

.profile-icon {
    color: #ff503f !important;
}

.bkt {
    color: #ff503f !important;
}

.inline-cls li {
    display: inline-block;
    /* float: left; */
}

.profile-inbox {
    margin-top: 12px;
    margin-left: -18px;
}

.list-group {
    margin-top: 12px;
    /*margin-left: -46px;
    width: 250px;*/
}

.list-group-item {
    margin: 15px;
}

.badge {
    color: red;
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
    padding: 2px 0px;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .badge {
        padding: 0px 0px;
        font-size: 9px;
    }

    .list-group {
        font-size: 9px;
    }

    .list-group-item {
        margin: 15px;
        padding: 9px 5px;
    }

    .mb-list {
        font-size: 9px;
    }

    .profile-circle {
        width: 100px;
        height: 100px;
        padding: 35px 10px;
    }

    .btn-setting {
        font-size: 10px;
    }

    .btn-setting:hover {
        color:#ffF;
    }
    a, a:focus, a:hover {
        color:#fff;
    }



}
a, a:focus, a:hover {
        color:#fff;
    }

h3 {
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    /*margin-bottom:20px;*/
}

.s-list1 {
  margin-top:20px;
}

.btn {
    padding:6px 18px;
    font-size:11px;
    border-radius: 2px;
}

.s-list {
   font-size: 12px;
    font-weight: 600;
}

.inbox-l {
    margin-left:-15px;
}

.inbox-r {
    margin-left:15px;
}


@media screen and (max-width: 768px) and (min-width: 200px) {

.inbox-l {
    margin-left:-15px;
}

.inbox-r {
    margin-left:15px;
}
}

.profile-circle-n {
     padding: 0;
    /*background:#00ad2d;
    border:1px solid #00ad2d;*/
    position: relative;
    color: transparent;
    border-radius: 2px;
    text-align: center;
    /* float:; */
    cursor: pointer;
    display: inline-block;
    width: 135px;
    height: 135px;
    background-color: #fff;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top:20px;
    /*color:#a6a6a6;*/
}

.inbox-color {
    color:#333 !important;
}

.inbox-color:hover {
    color:#333 !important;
}

.text-center {
    margin-bottom:20px;
    text-align: center;
}

.l-g-item {
    border: none;
    border-bottom: 1px solid #ddd;
    /*text-align: center;*/
    background-color: transparent;
    margin-left: 45px;

}

.list-group-item-p {
    border: none;
    border-bottom: 1px solid #ddd;
    background-color: transparent;
     margin-left: 45px;


}

.l-g-item {
    margin:0;
    border-bottom: 1px solid #ddd;
    background-color: transparent;
}

.t-c-inbox {
    font-size: 14px;
    font-weight: 300;
    color: #333;

}

.s-g-item1 {
    padding-left: 55px;
    margin-top: -15px;
}

.s-g-item-1 {
    margin-top: -15px;
}