<div class="col-sm-12 message-sidebar">

  <div class="tab-pan active" style="text-align:center;">

    <h5 style="font-weight:bold; padding-top: 10px;"> INBOX
    
      <span style="color:#ff503f" *ngIf="unread_count_value >0"> ({{unread_count_value}}) </span>
      <span style="color:#ff503f" *ngIf="!unread_count_value"> (0) </span>
   
    </h5>
    <hr *ngIf="unread_count_value >0">

    <div class="row padding-10" *ngIf="unread_count_value >0">
      <div class="col-sm-12 col-xs-12" *ngFor="let user of all_users">
        <span *ngIf="user.count_msg > 0">
          <div class="col-sm-3 col-xs-3">
            <img src="assets/images/profile.png" class="sidebar-pic">
          </div>
          <div style="cursor: pointer;" class="col-sm-9 col-xs-9 p-l-0" (click)="inbox_click(user.id,user.first_name,user.last_name)">
            <span>
              <b>{{user.first_name}} {{user.last_name}} ({{user.count_msg}})</b>
            </span>
            <p>{{user.message | slice:0:15}} </p>
          </div>
          <hr>
        </span>
      </div>
    </div>








  </div>