.btn {
    padding: 6px 18px;
    font-size: 11px;
    border-radius: 2px;
}

.option-box {
    background: #e9e9e9;
}

.option-box a {
    color: #ccc !important;
}

.option .active {
    background: #ff503f !important;
}

.option .active a {
    color: #fff !important;
}

.option {
    padding-left: 3px !important;
    padding-right: 3px !important;
}

.message-sidebar {
    background: #ffffff;
    box-shadow: -1px 3px 28px -9px #333;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 0;
    padding-right: 0;
    width: 125%;
}

.m-t-10 {
    margin-top: 10px;
}

.btn-setting a {
    font-size: 10px;
    color: #fff;
}

.btn-setting:hover {
    color: #fff;
}

a {
    cursor: pointer;

}

h3 {
    font-size: 20px;
    /*margin-bottom:20px;*/
}

.my-message {
    background-color: #e9e9e9;
    border-radius: 3px;
    padding: 8px;
    width: 90%;
}


.type-message {
    width: 102%;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 20px 25px;
    margin-left: -15px;
}

.highlighted-icon {
    background: #ff503f;
    color: #fff;
    padding: 6px;
    border-radius: 50%;
}

.normal-icon {
    color: #ccc;
    padding-right: 8px;
}

.filter a {
    color: black
}

.filter a.active {
    color: #ff503f
}

.faded-text {
    color: #a8a8a8;
}

.tab-pan {
    display: none;
}

.tab-pan.active {
    display: block;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dddddd;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #ff503f;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px);
}

.sidebar-pic {
    width: 24px;
}

.message-time {
    margin-left: 22%;
}
.trash{
        margin-left:32%;
        color:#ff503f;
}
.padding-10{
   padding-bottom:10px; 
}
.message-sidebar b {
    font-size: 12px !important;
}
.message-sidebar p {
    font-size: 10px !important;
}

@media only screen and (max-width: 768px) {
    .message-sidebar {
        width: 100%;
    }
}