<div class="container">
  <!-- Modal -->
  <div id="awardModal" class="modal fade modal-m" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header mob-cls">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Awards</h4>
        </div>
        <div class="modal-body d-modal-body">
          <div class="margin-10">
            <div class="row margin-5" *ngFor = "let fanBase of talentAwardUsers">
              <div class="col-sm-1 col-xs-2 text-center"> 
                <a target="_blank" routerLink="/users-profile/{{ fanBase.original_user_id}}">
                  <img *ngIf = "!fanBase.profile_pic" class="circular img-40" src="assets/images/profile.png">
                  <img *ngIf = "fanBase.profile_pic" class="circular img-40" [src]="fanBase.profile_pic">
                </a>
              </div>
              <div class="col-sm-11 col-xs-10">
                  <strong>{{ fanBase.first_name }} {{ fanBase.lasst_name }}</strong>
                  <p>
                    Product Title : {{ fanBase.title }}
                  </p>
              </div>
            </div>
            <div class="row margin-5" *ngIf="!talentAwardUsers">
              <div class="col-sm-12 col-xs-12 text-center">
                No Awards found
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>
        </div>
      </div>
    </div>
  </div>

</div>
