.list-group-item-p {
    border-bottom: none;
    border-left: none;
    border-right: none;
    padding: 15px 25px;
}

/*.list-group-item-p:hover button, .list-group-item-p:active button {*/
    /*border: 1px solid #ff503f;*/
    /*background-color: #ff503f;*/
    /*color: #fff;*/
/*}*/

/*.list-group-item-p:hover a, .list-group-item-p:active a {*/
    /*color: #ff503f;*/
/*}*/

.action-btn-m {
    border: none;
    background-color: #fff;
    border-radius: 0;
    padding: 2px 8px;
    margin-left: 5px;
    float: right;
}

.well-msg {
    padding-left: 0;
    padding-right: 0;
}

.msg-body {
    padding-left: 0;
    padding-right: 0;
}

.msg-color {
    color: #333;
}

.d-modal-body {
    padding: 0;
}

.modal-m {
    margin-top: 40px;

}

.profile-square {
    text-align: center;
    background-color: #f0f0f0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.col-sm-r {
    padding-left: 15px;
}

.text-1 {
    font-size: 12px;
    font-weight: 600;
}

.r-text {
    color: #ff503f;
    font-size: 12px;
}

.text-color-grey {
    font-size: 11px;
    color: #737373;
}

.mob-cls {
    border-bottom: none;
}

.f-c-res {
    height: 40px;
    margin-top: 1%;
    border-right: none;
    float: left;
    width: 85%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.s-container {
  width: 100%;
  position: relative
}

.send-btn {
  position: absolute;
  height: 40px;
  text-align: center;
  cursor: pointer;
    margin-top: 1%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    /*color: #737373;*/
}

.send-btn:hover {
    background-color: #fff;
}

.text {
    font-size: 12px;
}

h4 {
    margin-left:15px;
    font-size: 17px;
    font-weight: 600;
}

.btn-d-1 {
     padding: 6px 16px !important;
    font-size: 10px !important;
    border-radius: 2px;
}