<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div id="main-header"> <app-header></app-header></div>
<div class="container">
  <div class="row">
    <div class="col-sm-2 col-xs-12"></div>
    <div class="col-sm-8 col-xs-12">
      <div class="thankyou-msg-container" style="background-image: linear-gradient(white, #fffefe, #a0a0a0);">
        <img class="img-responsive" src="assets/images/cart/talentmall-payment-error.png" />
        <h3><b>Ooops!</b></h3>
        <h5>Your payment has failed. Please try again.</h5>
        <div class="row">
          <div class="col-sm-4 col-xs-12"></div>
          <div class="col-sm-4 col-xs-12 text-center" style="padding: 25px;">
            <img src="assets/images/futurelogo.png" />
          </div>
          <div class="col-sm-4 col-xs-12"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-xs-12"></div>
  </div>
</div>
<div id="main-footer"> <app-footer></app-footer></div>