<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div>
  <img class="star-search-banner" src="assets/images/blog/talentmallstarr-blog2-banner.jpg" />
</div>
<div class="container blog-detailed-container">
  <div class="col-sm-9">
    <div class="blog-detailed-box">
      <!-- <div>
        <img class="star-search-banner" src="../assets/images/blog/talentmallstarr-blog2 -Author.jpg" />
        <h4 class="blog-heading"> What Makes a Great Author?
          <br />
          <small>
            <i class="fa fa-calendar" aria-hidden="true"></i> March 27, 2018 </small>
          <small>
            <i class="fa fa-folder-open" aria-hidden="true"></i> Author </small>
          <small> Share it on &nbsp;
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-linkedin" aria-hidden="true"></i>

          </small>
        </h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut culpa quia labore a iure! Dolore molestiae explicabo,
          quam placeat facilis atque ratione sint a inventore, ipsam, suscipit assumenda corrupti! Tenetur. Lorem ipsum dolor
          sit amet, consectetur adipisicing elit. Vero earum, ullam consequuntur consequatur non est repudiandae nam ab illum
          facilis, quos veritatis magni aut unde ducimus iste quia quo maxime. Lorem ipsum dolor sit amet consectetur, adipisicing
          elit. Aut eius dolorem adipisci minus reprehenderit quasi ipsam nulla architecto praesentium illum, ad optio est
        </p>
        <p>
          accusamus nemo quam perferendis sequi quibusdam quia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam ad
          consectetur ea mollitia nam facere perspiciatis molestiae reiciendis iure cum. Culpa deleniti eos ipsum dolores
          recusandae corporis quos quibusdam est. Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae culpa
          ab adipisci commodi sit, doloribus unde? Minima numquam sapiente odit autem vero saepe beatae, dicta nemo doloremque
          dolorem aliquam reiciendis! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis sapiente, quaerat itaque
          enim molestias aspernatur inventore voluptas tempora labore</p>
        <p>
          harum suscipit numquam, cum provident officia alias unde molestiae fuga ipsa? Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Doloribus dolore commodi aspernatur fugit dicta minima quia delectus, velit fugiat repellat inventore natus
          saepe aliquam ea accusantium illum illo atque? Ratione. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Molestiae consequuntur assumenda odit beatae nostrum repellendus, omnis possimus eaque voluptas cupiditate non
          autem blanditiis unde, impedit tempora vero nisi tenetur excepturi.lo Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Ipsum incidunt consequatur sapiente praesentium excepturi ad quod dolores dolorum laboriosam, quos dicta
          hic debitis numquam, aliquid ratione quo reprehenderit tempore ullam!
        </p>
      </div> -->

      <div *ngIf="blogData">
        <img *ngIf="blogData.blog_img" class="star-search-banner" [src]="blogData.new_blog_img" />
        <h4 class="blog-heading"> {{ blogData.title }}
          <br />
          <small>
            <i class="fa fa-calendar" aria-hidden="true"></i> {{ blogData.date  | date:'MMMM d, yyyy'  }} </small>
          <small>
            <i class="fa fa-folder-open" aria-hidden="true"></i> {{ blogData.name }} </small>
          <small> Share it on &nbsp;
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-linkedin" aria-hidden="true"></i>

          </small>
        </h4>
        <div class="blog-body text-justify" [innerHtml]="blogData.content">

        </div>

        <!-- <p class="blog-body">
             {{blogData.content}}
        </p> -->

      </div>

    </div>
    <div class="comments-box">
      <div *ngIf="blogComment && blogComment.length>0">
        <div class="row commnets-row margin-top-5 margin-bottom-5" *ngFor="let blogCommt of blogComment; let i of index">
          <div class="col-sm-1 col-xs-2 text-center">
            <a routerLink="/users-profile/{{ blogCommt.user_id}}" target="_blank">
            <img *ngIf="blogCommt.profile_pic == ''" class="circular img-40" src="assets/images/profile.png">
            <img *ngIf="blogCommt.profile_pic != ''" class="circular img-40" src="{{blogCommt.profile_pic}}">
            </a>
          </div>
          <div class="col-sm-11 col-xs-10">
            <div class="row">
              <div class="col-sm-8 col-xs-7 text-wrap text-left">
                  <h6 class="margin-0"><b> {{blogCommt.first_name}} {{blogCommt.last_name}}</b></h6>
              </div>
              <div class="col-sm-4 col-xs-5 no-padding text-right">
                <small style="font-size: 10px;">
                    {{blogCommt.created_at | date:'short'}}
                </small>
              </div>
            </div>
            <p >{{blogCommt.message}}</p>
          </div>
        </div>
      </div>
      <!-- <div *ngIf="blogComment && blogComment.length>0">
        <div *ngFor="let blogCommt of blogComment; let i = index">
          {{blogCommt.message}}
        </div>
      </div> -->
    <hr>
      <h4> Leave a Reply </h4>
      <form novalidate #blog="ngForm" (ngSubmit)="addBlogComment(blog)" *ngIf="blogData" >
      <textarea class="form-control" name="message" [(ngModel)]="blog_message" #mymessage="ngModel" placeholder="Write your comment here... " required></textarea>
      <div class="alert alert-danger" *ngIf="showErrorMessage">This field is required</div>
      <input type="hidden" name="blog_id" [(ngModel)]="blogData.id">
      <div class="post-comment-button">
        <button  type="submit" class="generic-button">Post Comment</button>
      </div>
    </form>
    </div>
  </div>

  <div class="col-sm-3 sidebar-holder">
    <!-- <app-shared (messageEvent)="receiveMessage($event)"></app-shared> -->
      <app-trending-category-sidebar (onclickCategory)="callCategoryFunction($event)"></app-trending-category-sidebar>
  </div>
</div>

  <div class="">
        <button class="go-back-btn" (click)="goBack()" id="backBtn" title="Go to back">
            <i class="fa fa-chevron-left"></i>
        </button>

        <button (click)="topFunction()" id="myBtn" title="Go to top">
            <i class="fa fa-chevron-up"></i></button>
  </div>

<!-- ASK TO LOGIN -->
<div class="modal-ask-to-login fade" id="askToLogin" role="dialog">
    <div class="modal-dialog">
        <form>
            <!-- Modal content-->
            <div class="ask-to-login">
                <div class="modal-body">
                    <div class="form-group text-spinner">

                        <h3 class="deleteConfirmation">Please login to use this feature! </h3>
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
