<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<div class="container">
  <!-- Modal -->
  <div id="myModal" class="modal fade modal-m" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header mob-cls" style="padding:5px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <!-- <h4 class="modal-title">Modal Header</h4> -->
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-5 login-back" style="background-color:#fff;">
              <form novalidate #user="ngForm" (ngSubmit)="loginUser(user)">
                <h3 style="color:#ff503f;font-weight: 600;">Login</h3>
                <div class="alert alert-danger" *ngIf="showAuthError" style="font-size:13px;">{{errorMsg}}</div>
                <div class="input-group" style="margin-bottom:8px;">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" [(ngModel)]="user.username" name="username" #myusername="ngModel" required placeholder="Username or Email">
                </div>
                <div class="alert alert-danger" *ngIf="myusername.errors?.required && myusername.touched">Username or Email
                  is required</div>

                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  <input type="password" class="form-control" [(ngModel)]="user.password" name="password" #mypassword="ngModel" required placeholder="Password">
                </div>
                <div class="alert alert-danger" *ngIf="mypassword.errors?.required && mypassword.touched">Password is required</div>

                <div class="row">
                  <div class="col-sm-7 col-xs-7 no-padding-right">
                    <div class="fom-inline">
                      <div class="checkbox">
                        <label style="font-size:12px;"><input style="top: 0px;" type="checkbox"> Remember Password</label>
                      </div>

                    </div>
                  </div>
                  <div class="col-sm-5 col-xs-5 no-padding">
                    <div class="fom-inline">
                      <div class="checkbox">
                        <a role="button" style="color:#ff503f;margin-left:12px;font-size:12px;" (click)="showForgotPasswordModal()">Forgot
                          password?
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <button type="submit" class="btn btn-danger btn-sm login-button" [disabled]="!user.valid">LOG IN</button>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-12">
                    <br>
                    <p class="text-center" style="color:#151829;">Sign In with</p>
                    <div class="text-center login-foooter-box">
                      <!-- <span><a (click)="socialLoginDetails()"><i class="fa fa-facebook"></i></a></span> -->
                      <span style="cursor: pointer;"><a (click)="signInWithFB()" data-toggle="tooltip" title="Facebook"><i
                            class="fa fa-facebook"></i></a></span>
                      <!-- <span><a (click)="socialLogin('twitter')"><i class="fa fa-twitter"></i></a></span> -->
                      <span style="cursor: pointer;"><a (click)="signInWithTwitter()" data-toggle="tooltip" title="Twitter"><i
                            class="fa fa-twitter"></i></a></span>
                      <span style="cursor: pointer;"><a (click)="signInWithLinkedIN()" data-toggle="tooltip" title="LinkedIn"><i
                            class="fa fa-linkedin"></i></a></span>
                      <!-- <span style="cursor: pointer;"><a (click)="signInWithinstagram()" data-toggle="tooltip" title="Instagram"><i
                            class="fa fa-instagram"></i></a></span> -->
                    </div>

                  </div>
                </div>
              </form>
            </div>
            <div class="col-sm-7 text-center login-back-img" style="background-image:url('assets/images/news-2.jpg');background-size:cover;background-position:left;">
              <button type="button" class="close desk-cls" data-dismiss="modal">&times;</button>
              <br><br><br><br><br><br>
              <p style="color:#fff;">Welcome to</p>
              <h3 style="color:#fff;">FutureStarr</h3>
              <p style="color:#fff;">The Official Talent Marketplace</p>
              <br><br> <br><br><br><br><br>
            </div>
          </div>
        </div>
        <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
      </div>

    </div>
  </div>


  <div id="register_my_model" class="modal fade modal-m" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header mob-cls" style="padding:5px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <!-- <h4 class="modal-title">Modal Header</h4> -->
        </div>
        <div class="modal-body" style=" position: relative; padding-top: 0px; padding-left: 15px; padding-right: 15px;padding-bottom: 0px;">
          <div class="row">
            <div *ngIf="!shareSerice.currentUser" class="col-sm-5 col-md-5 text-center login-back" style="background-color:#fff;">

              <h4 style="color:#ff503f;font-weight: 600;margin: 54px 0 0 0;">
                Awe, looks like you have not
              </h4>
              <h4 style="color:#ff503f;font-weight: 600; line-height: 0;text-align: center;">signed up for Future Starr.</h4>
              <p style="margin: 34px 0 0 0; text-align: center;"><b>No worries, click the Register</b></p>
              <p style="text-align: center;"><b>button and sign up now for FREE!</b></p>

              <!-- <button class="btn btn-danger btn-sm login-button" style="margin: 5% 0 0 21%;">REGISTER</button> -->
              <a class="btn btn-danger" style="margin-bottom: 15px;" (click)="model_toggle_close()">Register</a><br>
              <div class="text-center" style="margin-bottom: 30px;">
                <span>
                  Already have account? <a class="cursor-pointer" data-dismiss="modal" (click)="openLoginModal()">login here</a>
                </span>
              </div>
            </div>

            <div *ngIf="shareSerice.currentUser && shareSerice.currentUser.role_id == 'buyer'" class="col-sm-5 col-md-5 text-center login-back"
              style="background-color:#fff;">
              <h4 style="color:#ff503f;font-weight: 600;margin: 54px 0 0 0;">
                To use this feature please register as seller
              </h4>
              <!-- <h4 style="color:#ff503f;font-weight: 600; line-height: 0;text-align: center;">signed up for Future Starr.</h4> -->
              <p style="margin: 34px 0 0 0; text-align: center;"><b>Click the Register</b></p>
              <p style="text-align: center;"><b>button and sign up now for FREE!</b></p>
              <a class="btn btn-danger" style="margin-bottom: 15px;" (click)="sellerLogout();">Register</a><br>
              <div class="text-center" style="margin-bottom: 30px;">
                <span>
                  Already have seller account? <a class="cursor-pointer" data-dismiss="modal" (click)="openForBuyerLoginModal()">login
                    here</a>
                </span>
              </div>
            </div>

            <div *ngIf="shareSerice.currentUser && shareSerice.currentUser.role_id == 'seller'" class="col-sm-5 col-md-5 text-center login-back"
              style="background-color:#fff;">
              <h4 style="color:#ff503f;font-weight: 600;margin: 54px 0 0 0;">
                To use this feature please register as buyer
              </h4>
              <!-- <h4 style="color:#ff503f;font-weight: 600; line-height: 0;text-align: center;">signed up for Future Starr.</h4> -->
              <p style="margin: 34px 0 0 0; text-align: center;"><b>Click the Register</b></p>
              <p style="text-align: center;"><b>button and sign up now for FREE!</b></p>
              <a class="btn btn-danger" style="margin-bottom: 15px;" (click)="sellerLogout();">Register</a><br>
              <div class="text-center" style="margin-bottom: 30px;">
                <span>
                  Already have buyer account? <a class="cursor-pointer" data-dismiss="modal" (click)="openForBuyerLoginModal()">login
                    here</a>
                </span>
              </div>
            </div>

            <div class="col-sm-7 col-md-7 text-center login-back-img" style="height: 340px;background-image:url('assets/images/new_pop_up.jpg');background-size:cover;background-position:left;">
              <button type="button" class="close desk-cls" data-dismiss="modal">&times;</button>
              <br><br><br><br><br><br>
              <p style="color:#fff;"></p>
              <h3 style="color:#fff;"></h3>
              <p style="color:#fff;"></p>
              <br><br> <br><br><br><br><br>
            </div>
          </div>
        </div>
        <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
      </div>

    </div>
  </div>

</div>


<!-- Trigger the forgot password modal -->
<!-- Modal -->
<div id="forgotModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-forgot">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">X</button>
        <h4 class="modal-title" style="width: 50%">Forgot password</h4>
      </div>
      <div class="modal-body">
        <div class="well" style="margin:20px;">

          <form novalidate #user1="ngForm" (ngSubmit)="forgotPassword(user1)">
            <div class="form-group">
              <label class="control-label col-sm-2 offset-2">Email:</label>
              <div class="col-sm-7">
                <input type="email" class="form-control" [(ngModel)]="user1.email" name="email" #myemail="ngModel" required pattern="([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA])+$"
                  placeholder="enter email address">
                <div class="alert alert-danger" *ngIf="myemail.errors?.required && myemail.touched">Email is required</div>
                <div class="alert alert-danger" *ngIf="myemail.errors?.pattern && myemail.touched">Invalid Email</div>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-danger" [disabled]="!user1.valid || toggleButton== false">{{btnValue}}</button>
            </div>
          </form>
          <br>
        </div>
      </div>
    </div>

  </div>
</div>


<!-- login by seller or buyer modal -->
<div class="modal-ask-to-login login-modal-dialog fade" id="askToJoinAsBuyerOrSeller" role="dialog">
  <div class="modal-dialog modal-dialog-width">
    <div class="modal-content">

      <form>
        <!-- Modal content-->
        <div class="ask-to-login">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <br />
            <h3 class="ask-register ask-to-register"> Please login as Buyer or Seller.</h3>
            <div class="register-btn">
              <button type="submit" class="btn btn-danger btn-common-login" data-dismiss="modal" (click)="userRegisterBySocial(user_type = 'seller')">Seller</button>
              <button type="submit" class="btn btn-danger btn-common-login" data-dismiss="modal" (click)="userRegisterBySocial(user_type = 'buyer')">Buyer</button>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
  <!-- end of buy your talent modal -->