
<div id="main-header"> <app-header></app-header></div>
<div class="container">
  <div class="thankyou-msg-container" style="background-image: linear-gradient(white, #fffefe, #d84435);">
    <img class="img-responsive" src="assets/images/cart/thankyoubg.png" />
    <h3>Thank You For Contact Us </h3>
    <h5>We will Contact You Soon.</h5>
    <div class="row">
      <div class="col-sm-4 col-xs-12"></div>
      <div class="col-sm-4 col-xs-12 text-center" style="padding: 25px;">
        <img src="assets/images/futurelogo.png" />
      </div>
      <div class="col-sm-4 col-xs-12"></div>
    </div>
  </div>
</div>
<!-- <div class="container" *ngIf="redirect == true">
  <div class="thankyou-msg-container" style="background-image: linear-gradient(white, #fffefe, #a0a0a0);">
    <img class="img-responsive" src="assets/images/cart/talentmall-redirecting-page-bakground.png" />
    <h3>Redirecting you to futurestarr site</h3>
    <h5>Please wait..</h5>
    <div class="row">
      <div class="col-sm-4 col-xs-12"></div>
      <div class="col-sm-4 col-xs-12 text-center" style="padding: 25px;">
        <img src="assets/images/futurelogo.png" />
      </div>
      <div class="col-sm-4 col-xs-12"></div>
    </div>
  </div>
</div> -->
<div class="">
  <button class="go-back-btn" (click)="goBack()" id="backBtn" title="Go to back">
      <i class="fa fa-chevron-left"></i>

  </button>

  
  <!-- <button (click)="topFunction()" id="myBtn" title="Go to top">
      <i class="fa fa-chevron-up"></i></button> -->
</div>
<!-- <button (click)="topFunction()" id="myBtn" title="Go to top">
  <i class="fa fa-chevron-up"></i></button> -->
<div id="main-footer"> <app-footer></app-footer></div>