<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div *ngIf="categoryAsset">
  <img class="star-search-banner" [src]="categoryAsset.talent_category_asset.new_category_main_banner" />
</div>
<div *ngIf="talentCategories" class="container buyer-products-container">
  <div class="col-sm-3">
    <h4>Filter</h4>

    <div class="slidecontainer">
      <h4>Price</h4>
      <input class="slider" #ramSelector name="ram" type="range" min="0" max="{{ ramMaxValue }}" [(ngModel)]="priceSlider" (ngModelChange)="setRam($event)"
        value="0">
      <br>
      <p>Value: {{ priceSlider }}</p>
    </div>

    <h4>Category</h4>
    <div class="category-list-filter">
      <div *ngFor="let category of talentCategories.category " class="checkbox">
        <label [ngClass]="{'custom-disabled disabled': categoryId == category.id }">
          <input type="checkbox" value="{{category.id}}" id="{{category.id}}" class="case" (change)="checkedCategroy($event, category.id)"
            [disabled]="category.id ==categoryId" [checked]="category.id ==categoryId">{{category.name}}</label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" id="selectall" (change)="selectAll($event)" value="">All Categories</label>
      </div>

    </div>
    <h4>Award Rating</h4>
    <div class="category-list-filter" *ngFor="let star of stars">
      <div class="checkbox">
        <label [ngClass]="{'custom-disabled disabled': starId == star.id }">
          <input type="checkbox" value="{{star.id}}" id="{{star.id}}" class="case" (change)="checkedStars($event, star.id)" [disabled]="star.id ==starId"
            [checked]="star.id ==starId">
          <div [ngClass]="star.name">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </label>

      </div>


    </div>

  </div>
  <!-- Talent\Product Container -->
  <div class="col-sm-9">

    <!--<h2>-->
    <!--<a class=" btn h-previous h-round" (click)="goBack()">-->
    <!--<i class="h-cruser fa fa-angle-left"></i>-->
    <!--</a>-->
    <!--</h2>-->
    <div class="product-container">
      <div *ngIf="products" class="row">

        <div *ngFor="let product of products.products | paginate: { itemsPerPage: 6, currentPage: p }" class="col-sm-4 product-showcase">
          <span class="hover-text">{{ product.title }}
            <br />
            <small class="truncate"> {{ product.short_product_info }} </small>
          </span>
          <div class="product-show-video" *ngIf="product.commercial_video || product.sample_video" (mouseenter)="showVideoControls(product.id)"
            (mouseleave)="hideVideoControls(product.id)">
            <video style="width: 100%" height="247" id="video{{ product.id }}" poster="{{ product.new_image_path }}">
              <source *ngIf="product.commercial_video" src="{{ product.commercial_video }}" type="video/mp4">
              <source *ngIf="!product.commercial_video && product.sample_video" src="{{ product.sample_video }}" type="video/mp4">
            </video>
            <hr>
          </div>
          <div class="product-show-image" *ngIf="!product.commercial_video && !product.sample_video && !isVideo(product.new_image_path)">
            <!-- <img width="247" height="247" *ngIf="product.image.length > 0" [src]="product.image[0].image_path"> -->
            <img width="247" height="247" *ngIf="product.image.length > 0" [src]="product.new_image_path">
            <img width="247" height="247" *ngIf="product.image.length < 1" src="assets/images/talent-mall/no_image-200x200.jpg">
            <hr>
          </div>
          <div class="product-show-image" *ngIf="!product.commercial_video && !product.sample_video && isVideo(product.new_image_path)">
            <video style="width: 100%" height="247" id="video{{ product.id }}">
              <source *ngIf="product.new_image_path" src="{{ product.new_image_path }}" type="video/mp4">
              <source *ngIf="!product.new_image_path" src="{{ product.new_image_path }}" type="video/mp4">
            </video>
          </div>
          <div class="product-brief-info">
            <h5>
              <b>{{ product.title }}</b>
            </h5>
            <h6 style="text-transform: uppercase;">BY: {{ product.first_name }}</h6>
          </div>
          <div class="product-brief-info-two">
            <h4> &#36; {{ product.price }}
              <!-- [routerLink]="['/talent-mall/product-info', product.id ]" -->
              <a (click)="productCounter(product.id)" [routerLink]="['/talent-mall/product-info', product.id ]">
                <small class="pull-right view-more"> VIEW MORE
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </small>
              </a>
            </h4>
          </div>
        </div>
      </div>
      <!-- If no products -->
      <div *ngIf="productCount == 0" class="row">
        <div class="noProductFound">
          <h3> Sorry! No Products Found. </h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="productCount > 6" class="pagination-row">
  <div>
    <pagination-controls previousLabel="" nextLabel="" (pageChange)="p = $event"></pagination-controls>
  </div>
</div>

<div class="">
  <button class="go-back-btn" (click)="goBack()" id="backBtn" title="Go to back">
    <i class="fa fa-chevron-left"></i>
  </button>

  <button (click)="topFunction()" id="myBtn" title="Go to top">
    <i class="fa fa-chevron-up"></i></button>
</div>