<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="commercial-dashboard">
    <!-- <h4 class="commercial-dashboard-heading">Commercial Ad Dashboard 
        <a class=" btn h-previous h-round" (click)="goBack()"><i
        class="h-cruser fa fa-angle-left"></i></a>
    </h4> -->
    <div class="row container-fluid">
        <div class="col-md-7 col-sm-7 col-xs-12">
            <div class="padding-8">
                <h4 cl>Commercial Ad Dashboard </h4>
            </div>
        </div>
        <!-- <div class="hidden-xs text-right col-md-5 col-sm-5 col-xs-12">
            <div class="padding-8">
                <a class="btn btn-danger" (click)="showMyPlanModal()">MY PLANS</a>
            </div>
        </div>
        <div class="visible-xs text-center col-xs-12">
            <div class="padding-8">
                <a class="btn btn-danger" (click)="showMyPlanModal()">MY PLANS</a>
            </div>
        </div> -->
    </div>
    <hr class="no-margin-top">
    <div class="statistics">
        <h5 class="commercial-dashboard-heading">
            <b> Commercial Ad Stats</b>
        </h5>
        <div class="row">
            <div class="col-sm-8">
                <div class="barchart">
                    <div style="display: block;">
                        <!-- <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                            [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-4 line-chart-container">
                <div class="">
                    <div style="padding-top:14px;">
                        <div class="engaged-users">
                            <h4>Total Views</h4>
                            <h3>{{ totalViews }}</h3>
                            <!-- <i class="fa fa-sort-up" style="color:green;"></i> <span>13%</span> <br>
                            <span>vs. 15,480 [prev]</span> -->
                        </div>
                        <div class="line-chart" style="display: block;">

                            <!-- <canvas baseChart height="300" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
                                [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="plan-table">
        <h4 class="table-caption">
            <b>Active Plan</b>
        </h4>
        <div *ngIf="sellerPlan" class="table">
            <table class="table">
                <tr>
                    <td>Plan : </td>
                    <td><strong>{{ sellerPlan.plan_name }} </strong></td>
                </tr>
                <tr>
                    <td>Status : </td>
                    <td>
                        <span *ngIf="sellerPlan.status == 'active'" class="label label-success">Active</span>
                        <span *ngIf="sellerPlan.status == 'expired'" class="label label-danger">Expired</span>
                    </td>
                </tr>
                <tr>
                    <td>Option : </td>
                    <td>
                        <button (click)="openUpgradePlanModal(sellerPlan)" *ngIf="sellerPlan.status == 'active'" class="btn btn-danger">UPGRADE</button>
                        <button routerLink="/seller/commercial-ads" *ngIf="sellerPlan.status == 'expired'" class="btn btn-danger">RENEW</button>
                    </td>
                </tr>
            </table>
            <!-- <p>
                Plan : <strong>{{ sellerPlan.plan_name }}</strong>
            </p>
            <p>
                Status : <span class="label label-success">Active</span>
            </p>
            <p>
                Option : <button class="btn btn-danger">upgrade</button>
            </p> -->
        </div>
    </div>
    <div class="plan-table" *ngIf="sellerPlan">
        <div class="row margin-top">
            <div class="col-md-7 col-sm-7 col-xs-12">
                <h5>
                    <b>Total Commercials Ads</b>
                </h5>
            </div>
            <div class="hidden-xs text-right col-md-5 col-sm-5 col-xs-12">
                <div class="padding-8">
                    <a class="btn btn-danger" (click)="createAdsModal()">CREATE ADS</a>
                </div>
            </div>
            <div class="visible-xs text-center col-xs-12">
                <div class="padding-8">
                    <a class="btn btn-danger" (click)="createAdsModal()">CREATE ADS</a>
                </div>
            </div>
        </div>
        <table class="table" *ngIf="seller_ads">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Date Start</th>
                    <th>Viewed</th>
                    <!-- <th>Status</th> -->
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ads of seller_ads" [style.color]="ads.status == 'expired' ? 'red' : 'black'">
                    <td>{{ ads.description }}</td>
                    <td *ngIf="ads.status == 'expired'">Expired</td>
                    <td *ngIf="ads.status != 'expired'">{{ ads.created_at | date:'short' }}</td>
                    <td>{{ ads.views }} views</td>
                    <!-- <td>
                        <span *ngIf="ads.status == 'active'">Active</span>
                        <span *ngIf="ads.status == 'expired'">Expired</span>
                    </td> -->
                    <td>
                        <button data-toggle="tooltip" title="Click to enable this ad" (click)="enableAds(ads)" *ngIf="ads.ad_status == 0 && ads.status != 'expired' && ads.status != 'view_completed'"
                            class="btn btn-danger">DISABLE</button>
                        <button data-toggle="tooltip" title="Click to disable this ad" (click)="disableAds(ads)" *ngIf="ads.ad_status == 1 && ads.status != 'expired' && ads.status != 'view_completed'"
                            class="btn btn-success">ENABLE</button>
                        <span *ngIf="ads.status == 'view_completed'" class="label label-primary">
                            View Completed
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <div class="buy-more-ads-btn">
        <a class="btn btn-danger btn-setting" routerLink="/seller/commercial-ads">BUY MORE ADS</a>
    </div> -->
</div>

<!-- Ugrade Plan Modal START-->
<div class="social-buzz-modals">
    <div class="modal fade share-modal" id="upgradePlanModal" role="dialog">
        <div class="modal-dialog" *ngIf="activeModalPlan">
            <!-- <form #social="ngForm" (ngSubmit)="shareOnSocialMedia(social)"> -->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"> Plan upgrade</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="table">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Active Plan : {{ activeModalPlan.plan_name }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Clicks</td>
                                            <td colspan="2">{{ activeModalPlan.total_click }} Total</td>
                                        </tr>
                                        <tr>
                                            <td>End Date</td>
                                            <td> {{ activeModalPlan.end_date | date:'mediumDate' }}</td>
                                            <td>{{ activeModalPlan.remaining_days }} days Remaining</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                <label for="comment">Available Plan : &nbsp;</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <label class="radio-inline" *ngFor="let plan of availableUpgradePlan">
                                                    <input (change)="onChange($event)" type="radio" name="optradio" [(ngModel)]="availablePlan" [value]="plan.id">{{
                                                    plan.plan_name }}
                                                </label>
                                                <label class="label label-warning" *ngIf="planError"> {{ planError }}</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>
                                            <div *ngIf="upgradePlanDetails" class="table">
                                                <h4>Plan Details</h4>
                                                <table class="table">
                                                    <tr>
                                                        <td>Clicks : </td>
                                                        <td> <span *ngIf="upgradePlanDetails">
                                                                {{ upgradePlanDetails.total_click }}
                                                            </span> </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Actual Price : </td>
                                                        <td>
                                                            <span *ngIf="upgradePlanDetails">
                                                                {{ upgradePlanDetails.price }}
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-bold">Amount To Pay : </td>
                                                        <td class="text-bold">
                                                            <span *ngIf="upgradePlanDetails">
                                                                {{ upgradePlanDetails.amountToPay }}
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <!-- <div class="form-group">
                                    <label for="comment">Available Plan : </label>
                                    <label class="radio-inline" *ngFor="let plan of availableUpgradePlan">
                                        <input (change)="onChange($event)" type="radio" name="optradio" [(ngModel)]="availablePlan" [value]="plan.id" >{{ plan.plan_name }}
                                    </label>
                                    <label class="label label-warning" *ngIf="planError"> {{ planError }}</label>
                                </div> -->
                            </div>
                            <!-- <div *ngIf="upgradePlanDetails">
                                <h4>Plan Details</h4>
                                <table>
                                    <tr>
                                        <td>Clicks : </td>
                                        <td> <span *ngIf="upgradePlanDetails">
                                            {{ upgradePlanDetails.total_click }}
                                        </span> </td>
                                    </tr>
                                    <tr>
                                        <td>Actual Price : </td>
                                        <td>
                                            <span *ngIf="upgradePlanDetails">
                                                    {{ upgradePlanDetails.price }}
                                                </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Amount To Pay : </td>
                                        <td>
                                            <span *ngIf="upgradePlanDetails">
                                                    {{ upgradePlanDetails.amountToPay }}
                                                </span>
                                        </td>
                                    </tr>
                                </table>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="!upgradePlanDetails" type="button" (click)="upgradePlan()" class="btn btn-pay">
                        <img class="btn-paypal-img" src="assets/images/paypal-6.png" />
                        <span class="text-4">Check out</span>
                    </button>
                    <!-- <button (click)="upgradePlan()" class="btn btn-danger btn-setting">SAVE</button> -->
                    <button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>
                </div>
            </div>
            <!-- </form> -->
        </div>
    </div>
</div>
<!-- Ugrade Plan Modal END-->

<!-- Upload Commercial ads START-->
<div class="social-buzz-modals">
    <div class="modal fade share-modal" id="commercialAdsModal" role="dialog">
        <div class="modal-dialog">
            <!-- <form #social="ngForm" (ngSubmit)="shareOnSocialMedia(social)"> -->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"> Upload commercial</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                            <!-- <img src="assets/images/video-upload-icon.png" height="120" width="120" /> -->
                            <div class="row">
                                <div class="col-sm-2 col-xs-12"></div>
                                <div class="col-sm-8 col-xs-12">
                                    <div class="form-group margin-10">
                                        <input [(ngModel)]="adTitle" type="text" class="form-control text-center" placeholder="enter title here" />
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-12"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2 col-xs-12"></div>
                                <div class="col-sm-8 col-xs-12">
                                    <div class="form-group margin-10">
                                        <label>Select product from below to attach with this ad</label>
                                        <select *ngIf="seller_talents" class="form-control text-center" [(ngModel)]="product_id">
                                            <option *ngFor="let talents of seller_talents" value="{{ talents.id }}">{{ talents.title
                                                }}
                                            </option>
                                        </select>
                                        <p class="bg-danger" *ngIf="seller_talents && seller_talents.length == 0">Talents not found<br>Please add talents first</p>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-xs-12"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-xs-12"></div>
                                <div class="col-sm-4 col-xs-12">
                                    <img src="assets/images/video-upload-icon.png" height="130px" width="150px" />
                                </div>
                                <div class="col-sm-4 col-xs-12"></div>
                            </div>
                            <h3 class="margin-10" style="color: #aba7a7;">Upload Banner here</h3>

                            <span style="position: relative">
                                <button class="btn btn-danger btn-setting margin-10">Select banner from you device</button>

                                <input (change)="fileInputSelect($event)" style="position: absolute;position: absolute;
                                top: 0;left: 0;z-index: 100;
                                position: absolute;height: 100%;
                                width: 100%;top: 0;left: 0;
                                opacity: 0;" data-toggle="tooltip" title="Add video" class="cursor-pointer" type="file"
                                    id="chooseFile" name="banner" accept="image/*" >
                            </span>
                            <div class="text-center">
                                <span *ngIf="userSelectedFile" class="user-file-select">
                                    {{ userSelectedFile.name }}
                                    <a class="cursor-pointer" (click)="deleteSelectedFile()"><i data-toggle="tooltip" title="Remove"
                                            class="fa fa-remove text-danger file-delete-icon"></i></a>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button (click)="uploadAds()" [disabled]="!adTitle || !userSelectedFile || (seller_talents && seller_talents.length == 0)" class="btn btn-danger btn-setting">SAVE</button>
                    <button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>
                </div>
            </div>
            <!-- </form> -->
        </div>
    </div>
</div>
<!-- Upload Commercial ads END-->

<div class="">
    <button class="go-back-btn" (click)="goBack()" id="backBtn" title="Go to back">
        <i class="fa fa-chevron-left"></i>
    </button>
    <button (click)="topFunction()" id="myBtn" title="Go to top">
        <i class="fa fa-chevron-up"></i>
    </button>
</div>