<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div id="main-header"> <app-header></app-header></div>
<div class="container" *ngIf="redirect == false">
  <div class="thankyou-msg-container" style="background-image: linear-gradient(white, #fffefe, #d84435);">
    <img class="img-responsive" src="assets/images/cart/thankyoubg.png" />
    <h3>Thank You for your purchase</h3>
    <h5>Go to <a routerLink="/buyer">your account</a> and download your item immediately</h5>
    <div class="row">
      <div class="col-sm-4 col-xs-12"></div>
      <div class="col-sm-4 col-xs-12 text-center" style="padding: 25px;">
        <img src="assets/images/futurelogo.png" />
      </div>
      <div class="col-sm-4 col-xs-12"></div>
    </div>
  </div>
</div>
<div class="container" *ngIf="redirect == true">
  <div class="thankyou-msg-container" style="background-image: linear-gradient(white, #fffefe, #a0a0a0);">
    <img class="img-responsive" src="assets/images/cart/talentmall-redirecting-page-bakground.png" />
    <h3>Redirecting you to futurestarr site</h3>
    <h5>Please wait..</h5>
    <div class="row">
      <div class="col-sm-4 col-xs-12"></div>
      <div class="col-sm-4 col-xs-12 text-center" style="padding: 25px;">
        <img src="assets/images/futurelogo.png" />
      </div>
      <div class="col-sm-4 col-xs-12"></div>
    </div>
  </div>
</div>
<div id="main-footer"> <app-footer></app-footer></div>