<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<!-- <div>
    <img class="star-search-banner" src="../assets/images/buyer/buyer-banner.jpg" alt="buyer-banner" />
</div> -->
<!-- <div class="container buyer-products-container"> -->
<!-- <div class="col-sm-2 panel panel-body" style="border: 1px solid red"></div> -->
<div class="col-sm-6 col-md-8 buyer-products">
    <div class="row">
        <h4>Buyer Products</h4>
        <hr>
    </div>
    <div class="row" *ngIf="buyers && buyers.length>0">

        <div class="col-sm-4 buyer-product-box" *ngFor="let buyer of buyers | paginate: { itemsPerPage: 9, currentPage: p } ">
            <div class="listing-box">
                <i class="fa fa-trash action-icons trash" (click)="confirmDeleteModal(buyer.buyer_product_id)"></i>
                <i class="fa fa-share-alt action-icons share" (click)="socialMediaShareModal(buyer.buyer_talent_id, social)"></i>
                <i class="fa fa-trophy action-icons trophy" (click)="showRatingTalentModal(buyer.buyer_talent_id)"></i>
                <i class="fa fa-envelope action-icons envelope" (click)="showSendMessageModal(buyer.buyer_talent_id , buyer.seller_ids)"></i>
                <img class="hover-images buyer-products-image" [src]="(buyer.produt_image && isImage(buyer.produt_image))?buyer.produt_image:'assets/images/star-logo.png' "
                    alt="">

                <div class="listingttl">
                    <h2>{{ buyer.title }}</h2>
                    <h6>By : {{buyer.seller_name}}</h6>
                    <div [ngClass]="buyer.rating">
                        <i class="fa fa-trophy"></i>
                        <i class="fa fa-trophy"></i>
                        <i class="fa fa-trophy"></i>
                        <i class="fa fa-trophy"></i>
                        <i class="fa fa-trophy"></i>
                    </div>
                    <button class="read-more-btn-onslider one" (click)="download_contain_of_seller(buyer.buyer_talent_id)">Download
                        </button>
                    <span class="leave-comment-text" (click)="showRatingTalentModal(buyer.buyer_talent_id)"><u>Leave comment</u></span>
                </div>
            </div>
        </div>

    </div>
    <div *ngIf="blogCount == 0" class="no-buyer-products">
        <h3>Sorry, no products available !! </h3>
    </div>
    <div *ngIf="blogCount>9" class="pagination-row">
        <div>
            <pagination-controls previousLabel="" nextLabel="" (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>


<div class="">
    <button class="go-back-btn" (click)="goBack()" id="backBtn" title="Go to back">
        <i class="fa fa-chevron-left"></i>
    </button>

    <button (click)="topFunction()" id="myBtn" title="Go to top">
        <i class="fa fa-chevron-up"></i></button>
</div>



<!-- Send Message Modal Start-->
<div class="modal fade" id="sendMessage" role="dialog">
    <div class="modal-dialog">
        <form #contactForm="ngForm" (ngSubmit)="addBuyerContact(contactForm)">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Send Message </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Message Title</label> <br /> <br />
                        <input type="text" class="form-control" name="title" [(ngModel)]="contactForm.title" placeholder="Profile Name" />
                    </div>
                    <div class="form-group">
                        <label>Your Message</label>
                        <br />
                        <br />
                        <textarea class="form-control" name="message" row="6" [(ngModel)]="contactForm.message" placeholder="Write here"> Message </textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" [disabled]="!(contactForm.title && contactForm.message)">SAVE</button>
                    <button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Send Message Modal End-->

<!-- awarTalent Modal Start-->
<!-- <div class="modal fade" id="awarTalent" role="dialog">-->
<!--<div class="modal-dialog">-->
<!--<form>-->
<!--&lt;!&ndash; Modal content&ndash;&gt;-->
<!--<div class="modal-content">-->
<!--<div class="modal-header">-->
<!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--<h4 class="modal-title">Award Talent </h4>-->
<!--</div>-->
<!--<div class="modal-body">-->
<!--<div class="form-group">-->
<!--<label>Give Award to Talent</label> <br />-->
<!-- -->
<!--<fieldset class="rating ">-->
<!--<input type="radio" id="star5" name="rating" value="5" />-->
<!--<label class="full" for="star5" title="Awesome - 5 stars"></label>-->
<!--<input type="radio" id="star4half" name="rating" value="4 and a half" />-->
<!--<label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>-->
<!--<input type="radio" id="star4" name="rating" value="4" />-->
<!--<label class="full" for="star4" title="Pretty good - 4 stars"></label>-->
<!--<input type="radio" id="star3half" name="rating" value="3 and a half" />-->
<!--<label class="half" for="star3half" title="Meh - 3.5 stars"></label>-->
<!--<input type="radio" id="star3" name="rating" value="3" />-->
<!--<label class="full" for="star3" title="Meh - 3 stars"></label>-->
<!--<input type="radio" id="star2half" name="rating" value="2 and a half" />-->
<!--<label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>-->
<!--<input type="radio" id="star2" name="rating" value="2" />-->
<!--<label class="full" for="star2" title="Kinda bad - 2 stars"></label>-->
<!--<input type="radio" id="star1half" name="rating" value="1 and a half" />-->
<!--<label class="half" for="star1half" title="Meh - 1.5 stars"></label>-->
<!--<input type="radio" id="star1" name="rating" value="1" />-->
<!--<label class="full" for="star1" title="Sucks big time - 1 star"></label>-->
<!--<input type="radio" id="starhalf" name="rating" value="half" />-->
<!--<label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>-->
<!--</fieldset>-->
<!--<br />-->
<!--<br />-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label class = "p-d-10">Leave a Comment</label>-->
<!--<br />-->
<!--<br />-->
<!--<textarea class="form-control"> Comment </textarea>-->
<!--</div>-->
<!--</div>-->
<!--<div class="modal-footer">-->
<!--<button type="submit" class="btn btn-danger">SAVE</button>-->
<!--<button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->

<div class="modal fade" id="ratingTalent" role="dialog">
    <div class="modal-dialog">
        <form #ratings="ngForm" (ngSubmit)="giveRating(ratings)">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Award Talent </h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label>Give Award to Talent</label>
                        <br />

                        <fieldset class="rating ">
                            <input type="radio" id="star5" name="rating" [(ngModel)]="ratings.rating" value="5" />
                            <label class="full" for="star5" title="Awesome - 5 stars"></label>

                            <input type="radio" id="star4" name="rating" [(ngModel)]="ratings.rating" value="4" />
                            <label class="full" for="star4" title="Pretty good - 4 stars"></label>

                            <input type="radio" id="star3" name="rating" [(ngModel)]="ratings.rating" value="3" />
                            <label class="full" for="star3" title="Meh - 3 stars"></label>

                            <input type="radio" id="star2" name="rating" [(ngModel)]="ratings.rating" value="2" />
                            <label class="full" for="star2" title="Kinda bad - 2 stars"></label>

                            <input type="radio" id="star1" name="rating" [(ngModel)]="ratings.rating" value="1" />
                            <label class="full" for="star1" title="Sucks big time - 1 star"></label>

                        </fieldset>
                        <br />
                        <br />
                    </div>
                    <div class="form-group">
                        <label class="p-d-10">Leave a Comment</label>
                        <br />
                        <br />
                        <textarea class="form-control" name="comment" [(ngModel)]="ratings.comment" placeholder="Your comment here...">  </textarea>
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="submit" class="btn btn-danger" [disabled]="!ratings.rating">SAVE</button>
                    <button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>
                </div>
            </div>

        </form>
    </div>

</div>
<!-- awarTalent Modal End-->

<!-- Send Message Modal Start-->
<div class="modal fade" id="socialMediaShare" role="dialog">
    <div class="modal-dialog">
        <form #social="ngForm" (ngSubmit)="shareOnSocialMedia(social)">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Share on Social Media </h4>
                </div>
                <div class="modal-body">
                    <div class=" form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" name="title" [(ngModel)]="social.title" placeholder="Title" />
                    </div>
                    <div class="form-group">
                        <label>Your Message</label>
                        <br />
                        <br />
                        <textarea type="text" class="form-control" name="message" [(ngModel)]="social.message" placeholder="Product Information">Product Information </textarea>
                    </div>
                    <div class="form-group">
                        <div class="btn-group btn-icons" role="group">
                            <label>Share on Social Media</label>
                            <ul class="nav buyer-social-box">
                                <li class="buyer-social-box-list">
                                    <a class="social-btn btn modal-btn btn-bg" (click)="getSocialShareMediaName('facebook')" shareButton="facebook" [sbUrl]="repoUrl">
                                        <i class="fa fa-facebook"> </i>
                                        <span class="separator"></span>
                                        FACEBOOK
                                    </a>
                                </li>
                                <li class="buyer-social-box-list">
                                    <a class="social-btn btn modal-btn btn-bg" (click)="getSocialShareMediaName('linkedin')" shareButton="linkedin" [sbUrl]="repoUrl" >
                                        <i class="fa fa-linkedin"></i>
                                        <span class="separator"></span>
                                        LINKEDIN
                                    </a>
                                </li>
                                <li class="buyer-social-box-list">
                                    <a class="social-btn btn modal-btn btn-bg" (click)="getSocialShareMediaName('twitter')" shareButton="twitter" [sbUrl]="repoUrl">
                                        <i class="fa fa-twitter"></i>
                                        <span class="separator"></span> 
                                        TWITTER
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" [disabled]="!(social.title && social.message)">SAVE</button>
                    <button type="button" class="btn btn-default btn-d" data-dismiss="modal">CANCEL</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Send Message Modal End-->

<!-- Delete Confirmation Start-->
<div class="modal fade" id="confirmDelete" role="dialog">
    <div class="modal-dialog">
        <form>
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-group">

                        <p class="deleteConfirmation">"Are you sure, you want to remove this item?" </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" (click)="deleteBuyerProducts()">YES</button>
                    <button type="button" class="btn btn-default btn-d" data-dismiss="modal">NO</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Delete Confirmation End-->